node_modules
dist
.tmp
.sass-cache
app/bower_components

angular/app/audio/*
angular/.idea/workspace.xml
PSDs/*
angular/secret.json

angular/.sublime-grunt.cache

angular/.sublime-grunt.cache

angular/.sublime-grunt.cache

angular/.sublime-grunt.cache
angular/app/scripts/config.js

*.orig
