<div class="alert alert-warning" ng-show="Auth.role === 'editor' || Auth.role === 'root'" style="margin: 0;">
    <div class="container">
        <button class="btn btn-default btn-sm" ui-sref="upload({uri: structure.uri, name: structure.name })"><i class="fa fa-cloud-upload"></i> Upload Image</button>      
    </div>
</div>

<div class="l-frame l-frame-tight">
    <div class="container">
        <p class="text-muted" ng-hide="lineDrawingRows.length">No line drawings.</p>
        <div class="row" ng-repeat="lineDrawingRow in lineDrawingRows">
            <div class="col-sm-2" ng-repeat="lineDrawing in lineDrawingRow">
                <div class="thumbnail" >
                    <a href ui-sref="structure.lineDrawing({structureId: structure.encodedUri, lineDrawingId: lineDrawing.encodedUri})">
                        <img ng-if="lineDrawing.file" class="img-responsive" ng-src="{{ lineDrawing.file.thumb }}" alt=""/>
                    </a>

                    <div class="caption">
                        <h4>
                            <a href ui-sref="structure.lineDrawing({structureId: structure.encodedUri, lineDrawingId: lineDrawing.encodedUri})">
                                {{ lineDrawing[Uris.DCT_TITLE] }}
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>