<div class="alert alert-warning" ng-show="(Auth.role === 'editor' || Auth.role === 'root') && !$state.includes('structure.summary.edit')" style="margin: 0;">
    <div class="container">
        <div ng-hide="$state.includes('structure.summary.edit')">
            <!-- Editor: &nbsp; &nbsp; -->
            <button class="btn btn-default btn-xs" ui-sref="structure.summary.edit({ structureId: structure.encodedUri })"><i class="fa fa-pencil"></i> Edit</button>

            <button class="btn btn-default btn-xs" ng-click="$parent.delete(structure)" ng-show="Auth.role === 'root'"><i class="fa fa-trash-o"></i> Delete</button>
        </div>
    </div>
</div>
<div class="l-frame l-frame-tight">
    <div class="container">
        <div class="row" ng-hide="$state.includes('structure.summary.edit')">
            <div class="col-sm-7">
                <!-- <span ng-show="Auth.auth">
                    <button class="btn btn-default btn-xs pull-right" ui-sref="structure.summary.edit({ structureId: structure.encodedUri })"><i class="fa fa-pencil"></i> Edit</button>    
                </span> -->
                

                <h5>Summary</h5>
                <p>{{ structure[Uris.QA_SUMMARY] }}</p>
                <p ng-show="!structure[Uris.QA_SUMMARY].length">No summary.</p>

                <h5 style="margin-top: 24px;">Associated Firm</h5>
                <p ng-show="!structure.$associatedFirm && !designers.firms.length">
                    No associated firm.
                </p>
                <ul class="media-list">
                    <li class="media" style="margin-bottom: 10px;" ng-show="structure.$associatedFirm">
                        <a class="pull-left" ng-href="{{ structure.$associatedFirm.$link }}">
                            <img class="media-object img-responsive img-circle" ng-src="{{ structure.$associatedFirm.picture.file }}" alt="{{ structure.$associatedFirm.name }}" style="width:32px; height: 32px;">
                        </a>
                        <div class="media-body">
                            <a ng-href="{{ structure.$associatedFirm.$link }}">
                                {{ structure.$associatedFirm.name }}
                            </a>
                        </div>
                    </li>

                    <li class="media" ng-repeat="designer in designers.firms">
                        <a class="pull-left" ng-href="{{ designer.$link }}">
                            <img class="media-object img-responsive img-circle" ng-src="{{ designer.picture.file }}" style="display:block; width:32px">
                        </a>
                        <div class="media-body">
                            <a ng-href="{{ designer.$link }}">
                                {{ designer.name }} 
                            </a>
                            <span style="color: #BBB">(from interview)</span>
                        </div>
                    </li>
                </ul>

                

                <h5 style="margin-top: 24px;">Associated Architects</h5>
                <div ng-show="!designers.architects.length && !structure.$associatedArchitects.length">
                    No associated architects.
                </div>

                <ul class="media-list">
                    <li class="media" ng-repeat="architect in structure.$associatedArchitects">
                        <a class="pull-left" ng-href="{{ architect.$link }}">
                            <img class="media-object img-responsive img-circle" ng-src="{{ architect.picture.file }}" style="display:block; width:32px">
                        </a>
                        <div class="media-body">
                            <a ng-href="{{ architect.$link }}">
                                {{ architect.name }}
                            </a>
                        </div>
                    </li>

                    <li class="media" ng-repeat="designer in designers.architects">
                        <a class="pull-left" ng-href="{{ designer.$link }}">
                            <img class="media-object img-responsive img-circle" ng-src="{{ designer.picture.file }}" style="display:block; width:32px">
                        </a>
                        <div class="media-body">
                            <a ng-href="{{ designer.$link }}">
                                {{ designer.name }} 
                            </a>
                            <span style="color: #BBB">(from interview)</span>
                        </div>
                    </li>
                </ul>
                
                <h5 style="margin-top: 24px;">Location</h5>
                <p ng-show="structure.locations.length">{{ structure.locations[0] }}</p>
                <p ng-hide="structure.locations.length">No location.</p>

                <h5 style="margin-top: 24px;">Completion Date</h5>
                <p ng-show="structure[Uris.QA_COMPLETION_DATE].length">{{ structure[Uris.QA_COMPLETION_DATE] | date:'dd-MM-yyyy' }}</p>
                <p ng-hide="structure[Uris.QA_COMPLETION_DATE].length">Unknown</p>

                <h5 style="margin-top: 24px;">Demolished</h5>
                <p>{{ structure[Uris.QA_DEMOLISHED] && 'Yes' || 'No' }}</p>

                <h5 style="margin-top: 24px;">Typology</h5>
                <ul>
                    <li ng-repeat="typology in structure.$typologies">
                        {{ typology.name }}
                    </li>
                </ul>
                <p ng-show="!structure.buildingTypologies.length">
                    No building typology.
                </p>

                
            </div>

            <div class="col-sm-5">
                <img ng-if="structure.picture" class="img-responsive" ng-src="{{ structure.picture.file }}" alt="" />
            </div>
        </div>
        <div class="row" ng-show="$state.includes('structure.summary.edit')">
            <div class="col-sm-12">
                <form name="form" action="" ng-submit="updateStructure(structure)">
                    <div class="form-group">
                        <label>Type <i class="fa fa-asterisk fa-asterisk-required"></i></label>
                        <div ui-select2="typeSelect" ng-model="structure.$type" class="form-control"></div>
                    </div>

                    <div class="form-group">
                        <label>Name <i class="fa fa-asterisk fa-asterisk-required"></i></label>
                        <input name="structureName" type="text" class="form-control" ng-model="structure[Uris.QA_LABEL]" placeholder="Project Name" required>
                    </div>
                    <div class="form-group">
                        <label>Associated Firm</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <div ui-select2="firmSelect" ng-model="structure.$associatedFirm" class="form-control"></div>
                            </div>
                            <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                                <button class="btn btn-default form-control" ui-sref="firm.summary.edit({})"><i class="fa fa-plus"></i> New Firm</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Associated Architect</label>
                        
                        <div class="row">
                            <div class="col-sm-10">
                                <div ui-select2="architectSelect" ng-model="structure.$associatedArchitects" class="form-control"></div>
                            </div>
                            <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                                <button class="btn btn-default form-control" ui-sref="architect.summary.edit({})"><i class="fa fa-plus"></i> New Architect</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Building Typology <i class="fa fa-asterisk fa-asterisk-required"></i></label>
                        <div name="typology" ui-select2="typologySelect" ng-model="structure.$typologies" class="form-control required" ng-required="true"></div>
                    </div>
                    <div class="form-group">
                        <label>Completion Date</label>
                        <div>
                            {{ structure[Uris.QA_COMPLETION_DATE] | date:'dd-MM-yyyy' }}
                        </div>
                        
                        <!-- <input type="text" ng-model="structure[Uris.QA_COMPLETION_DATE]" class="form-control" placeholder="Completion date of project" /> -->

                        <div class="well well-sm">
                            <datepicker ng-model="structure[Uris.QA_COMPLETION_DATE]" show-weeks="false"></datepicker>
                            <div style="margin-top: 10px;" ng-show="structure[Uris.QA_COMPLETION_DATE]">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="clearCompletionDate()">Clear</button>    
                            </div>
                        </div>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="structure[Uris.QA_DEMOLISHED]">Demolished
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Summary</label>
                        <textarea rows="10" id="summary" class="form-control" placeholder="Summary" ng-model="structure[Uris.QA_SUMMARY]"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="biography">Address</label>
                        <input type="text" ng-model="structure[Uris.QA_LOCATION]" class="form-control" placeholder="Address of the project" />
                    </div>
                    <div class="form-group">
                        <label>Coordinates</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Latitude" ng-model="structure[Uris.GEO_LAT]" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Longitude" ng-model="structure[Uris.GEO_LONG]" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="structure[Uris.QA_AUSTRALIAN]">Australian Project
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || structure.$typologies.length == 0">Save</button>
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
