<div class="content">
	<div class="page-header page-header-map">
		<div class="container">
			<h1><img src="images/icon_32152.svg" style="width: 50px; margin-right: 8px;" /> Create a Map</h1>
		</div>
	</div>
	<div class="container builder">
		
		<div class="builder-inputoutput">
			<!-- Save button -->
			<div class="pull-right">
				<button class="btn btn-primary">Save Map</button>
			</div>
			<!-- /Save button -->

			<!-- Description -->
			<h2>What's your map about?</h2>
			<p class="builder-description">Plot data on a map and build geographical relationships</p>
			<!-- /Description -->

			<div class="builder-input">
				<h3>Title</h3>
				<input type="text" class="form-control" placeholder="What is your map about?">
			</div>
	
			<div class="builder-input">
				<h3>
					Locations
				</h3>
				<p>Create a new location, import locations from projects built by architects or firms; or import locations of a particular typology.</p>

				<!-- Location controls -->
				<div ng-hide="$state.includes('create.timeline.add')" class="builder-buttons">
					<button class="btn btn-default" ui-sref="create.map.add.location" >
						<i class="fa fa-plus"></i> New
					</button>	
					<button class="btn btn-default" ui-sref="create.map.add.import">
						<i class="fa fa-download"></i> Import from Architect, Firm or Project
					</button>
				</div>
				<!-- /Location controls -->

				<!-- New Location -->
				<div ng-show="$state.includes('create.map.add.location')">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4>New Location</h4>
							<div class="form-group">
								<label class="control-label" for="dateHeadline">
									Title
									<i class="fa fa-asterisk" style="font-size: 10px; color: red;"></i>
								</label>
								<input ng-model="date.headline" name="dateHeadline" type="text" class="form-control" id="dateHeadline" placeholder="Title" required>
							</div>
							<div class="form-group">
								<label>
									Position
									<i class="fa fa-asterisk" style="font-size: 10px; color: red;"></i>
								</label>
								<div class="row">
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="Latitude" ng-model="location.lat" required/>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="Longitude" ng-model="location.lon" required/>
									</div>
								</div>
							</div>

							<button type="submit" class="btn btn-primary" ng-click="addPlace(place)">Add</button>
							<button class="btn btn-default" ui-sref="create.map">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="builder-inputoutput">
			<h2>Preview</h2>
			<div ui-map="myMap" class="map-canvas map"
				ui-options="mapOptions">
			</div>
		</div>
		


		<!-- <div ui-map="myMap" class="map-canvas map"
			ui-options="mapOptions">
		</div> -->
		
	</div>
</div>