<div class="content">
	<div class="page-header page-header-timeline">
		<div class="container">
			<h1><img src="images/icon_32180.svg" style="width: 50px; margin-right: 8px;" /> Timeline Builder</h1>
		</div>
	</div>

	<div class="container builder">
		<div class="builder-inputoutput">
			<button class="btn btn-primary pull-right" ng-disabled="!timeline.headline || !timeline.dates.length">Save Timeline</button>
			<!-- <h2>New Timeline</h2> -->
			

			<h2>What's your timeline about?</h2>
			<p>
				Plot dates on a timeline and build temporal relationships.
			</p>
			
			<div class="builder-input">
				<h3>Title</h3>
				<input type="text" class="form-control" ng-model="timeline.headline" placeholder="What's do you want to call your timeline?">	
			</div>
				

			<div class="builder-input">
				<h3>
					Dates
				</h3>
				<p>Create a new date or import dates to your timeline.</p>
				<!-- Event controls -->
				<div ng-hide="$state.includes('create.timeline.add')" class="builder-buttons">
					<button class="btn btn-default btn" ui-sref="create.timeline.add.event" >
						<i class="fa fa-plus"></i> New
					</button>	
					<button class="btn btn-default btn" ui-sref="create.timeline.add.import">

						<i class="fa fa-download"></i> Import from Architect, Firm or Project
					</button>
				</div>
				<!-- /Event controls -->

				<!-- New Event -->
				<div ng-show="$state.includes('create.timeline.add.event')">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4>New Date</h4>
							<div class="form-group">
								<label>
									Dates
									<i class="fa fa-asterisk" style="font-size: 10px; color: red;"></i>
								</label>
								<div class="row">
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="Start Year" ng-model="date.startDate" required/>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="End Year" ng-model="date.endDate" required/>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label" for="dateHeadline">
									Title
									<i class="fa fa-asterisk" style="font-size: 10px; color: red;"></i>
								</label>
								<input ng-model="date.headline" name="dateHeadline" type="text" class="form-control" id="dateHeadline" placeholder="Title" required>
							</div>
							<div class="form-group">
								<label class="control-label" for="yourcomments">Description</label>
								<textarea ng-model="date.text" name="comments" class="form-control" id="yourcomments" placeholder="Text"></textarea>
							</div>		

							<div class="form-group">
								<label>Display Picture</label>
								<ol>
									<li>
										<label>Select Architect or Project</label>
										<div 
											ui-select2="architectStructureSelect" 
											ng-model="date.photo.entity" 
											class="form-control">
										</div>
									</li>
									<li>
										<label>Choose a Photo</label>
										<div class="row" ng-repeat="expressionRow in date.photo.expressionRows">
											<div class="col-sm-2" ng-repeat="expression in expressionRow">
												<a class="thumbnail" href ng-click="addExpressionToDate(expression, date)">
													<div class="thumbnail-image">
														<img ng-if="expression.file" class="img-responsive" ng-src="{{ Uris.FILE_ROOT + expression.file[Uris.QA_SYSTEM_LOCATION] }}" alt=""/>
													</div>
													<div class="caption">
														<input type="checkbox" ng-model="expression.selected">
														{{ expression[Uris.DCT_TITLE] }}
													</div>
												</a>
											</div>
										</div>								
									</li>
								</ol>
									
							</div>

							<button type="submit" class="btn btn-primary" ng-click="addDate(date)">Add</button>
							<button class="btn btn-default" ui-sref="create.timeline">Cancel</button>
						</div>
					</div>
					
				</div>
				<!-- / New Event -->

				<!-- Import events -->
				<div class="panel panel-default" ng-show="$state.includes('create.timeline.add.import')">
					<div class="panel-body">
						<p>Search for architects, buildings or firms to import dates from their timeline.</p>
						<div 
							ui-select2="architectStructureFirmSelect" 
							ng-model="import.entity" 
							class="form-control">
						</div>

						<div ng-show="import.dates && !import.dates.length">
							No dates found.
						</div>
						<div ng-repeat="date in import.dates" class="row">
							<label style="display: block;">
								<div class="col-sm-1">
									<input type="checkbox" ng-model="date.selected">
							    </label>
								</div>
								<div class="col-sm-1">
									<img ng-src="{{ date.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
								</div>
								<div class="col-sm-10">
									<strong>{{ date.startDate }} <span ng-show="date.endDate">- {{ date.endDate }}</span></strong> 
									{{ date.headline }}
								</div>
							</label>
						</div>


						<div style="margin-top: 10px;">
							<button class="btn btn-primary" ng-click="importEvents(import.dates)" ng-disabled="!import.dates.length">Import</button>
							<button class="btn btn-default" ui-sref="create.timeline" >Cancel</button>
						</div>
					</div>
				</div>
				<!-- Import events -->

				<!-- Event list -->
				<div>
					<!--<div ng-if="!timeline.dates.length && !$state.includes('create.timeline.add')">
						<div class="text-muted">
							Try <a href ui-sref="create.timeline.add.event">adding an event</a> or <a href ui-sref="create.timeline.add.import">importing events</a> from an architect, building or firm to start off your timeline.
						</div>
					</div>-->
					
					<div ng-repeat="date in timeline.dates | orderBy:orderByStart" class="builder-list-item">
						<div class="row">
							<div class="col-sm-1">
								<img ng-src="{{ date.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
							</div>
							<div class="col-sm-11">
								<button class="btn btn-default btn-xs pull-right" ng-click="removeDate(date)">
									<i class="fa fa-trash-o"></i>
								</button>
								<p>
									<strong>
										{{ date.startDate }} <span ng-show="date.endDate">- {{ date.endDate }}</span>
									</strong> 
								</p>
								<p>
									{{ date.headline }}
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- / Event list -->				
			</div>

		</div>

		<!-- Timeline preview -->
		<div class="builder-inputoutput" ng-show="timeline.dates.length">
			<h2>Preview</h2>
			
			<!-- Timeline -->
			<div ng-if="timeline.dates.length">
				<timeline headline="{{ timeline.headline }}" subtitle="{{ timeline.subtitle }}" dates="timeline.dates"></timeline>
			</div>	
			<!-- / Timeline -->
		</div>
		<!-- / TImeline preview -->
	</div>
	<div class="container">
		<!-- <div class="row" ng-if="!timeline.dates.length && !$state.includes('create.timeline.add')">
			<div class="col-md-12">
				<div class="alert alert-info" style="margin-bottom: 16px;">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Let's start building!</strong> 
					Try <a href ui-sref="create.timeline.add.event">adding an event</a> or <a href ui-sref="create.timeline.add.import">importing events</a> from an architect, building or firm to the timeline.
				</div>
			</div>
		</div> -->
		


		
		
		<!--<div class="row" ng-repeat="relationship in relationships | orderBy:orderByStart">
					<div class="col-md-1">
								<strong>
								{{ relationship[Uris.QA_START_DATE] }}
								<span ng-show="relationship[Uris.QA_START_DATE] && relationship[Uris.QA_END_DATE]"> - </span>
								{{ relationship[Uris.QA_END_DATE] }}
								</strong>
					</div>
					<div class="col-md-11">
								<ul class="list-group">
											<li class="list-group-item">
														<div class="row">
																	<div class="col-md-2">
																				<div>
																							<img ng-if="!relationship.subject.picture" ng-src="images/icon.png" class="img-full">
																							<img ng-if="relationship.subject.picture" ng-src="{{ Uris.THUMB_ROOT + relationship.subject.picture[Uris.QA_SYSTEM_LOCATION] }}" alt="{{ selected.name }}" class="img-full">
																				</div>
																	</div>
																	<div class="col-md-8">
																				<h5>
																					<a href="#/{{ relationship.subject.type }}/{{ relationship.subject.encodedUri }}" ng-bind-html="relationship.subject.name || '' | highlight:transcriptSearchInput"></a>
																					<span ng-bind-html="relationship.predicate[Uris.QA_LABEL] || relationship.predicate.name || '' | highlight:transcriptSearchInput">
																					</span>
																					<a href="#/{{ relationship.object.type }}/{{ relationship.object.encodedUri }}" ng-bind-html="relationship.object.name || '' | highlight:transcriptSearchInput"></a>
																				</h5>
																				<p>
																				{{ relationship[Uris.QA_TEXTUAL_NOTE] }}
																				</p>
																				<a target="_blank" ui-sref="interview({interviewId: relationship.evidence.encodedDocumentedBy, time: relationship.evidence[Uris.QA_TIME_FROM] })"><i class="fa fa-microphone"></i></a>
																	</div>
																	<div class="col-md-2">
																				<img ng-if="!relationship.object.picture" ng-src="images/icon.png" class="img-full">
																					<img ng-if="relationship.object.picture" ng-src="{{ Uris.THUMB_ROOT + relationship.object.picture[Uris.QA_SYSTEM_LOCATION] }}" alt="{{ selected.name }}" class="img-full">
																	</div>
														</div>
											</li>
								</ul>
					</div>
				</div>-->
			</div>
		</div>