<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>Changes Log</h1>
    </div>
  </div>
  <div class="alert alert-info">
    <div class="container">
      <i class="fa fa-info-circle"></i> Select between dates to retrieve changes.
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="padding-top: 7px; padding-bottom: 2px;">
        <label>Start Date:</label>
      </div>
      <div class="col-md-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="chgslog.startDate" is-open="chgslog.status.openedStartDate"
            datepicker-options="chgslog.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="chgslog.openStartDate()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-md-2" style="border-left: 1px solid #ccc; padding-top: 7px; padding-bottom: 2px;">
        <label>End Date:</label>
      </div>
      <div class="col-md-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="chgslog.endDate" is-open="chgslog.status.openedEndDate"
            datepicker-options="chgslog.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="chgslog.openEndDate()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-sm-2" style="border-left: 1px solid #ccc;">
        <button class="btn btn-primary" ng-click="chgslog.getChangesLog()" ng-disabled="Auth.user.role != 'admin' || chgslog.status.disabledRetrieve">Retrieve</button>
      </div>
    </div>
    <table class="table table-striped ">
      <tr>
        <th>User</th>
        <th>Created</th>
        <th>Entity</th>
        <th>Comment</th>
      </tr>
      <tr ng-repeat="log in chgslog.changesLog | orderBy:'created'">
        <td><strong>{{ log.email }}</strong> ({{ log.username }})</td>
        <td>{{ log.created }}</td>
        <td><span><a ng-if="log.document.architect==true&&log.document.type=='person'"
            ui-sref="architect.summary({ architectId: log.document.id })">{{ log.document.label }}</a><a ng-if="log.document.type=='firm'"
            ui-sref="firm.summary({ firmId: log.document.id })">{{ log.document.label }}</a><a ng-if="log.document.type=='structure'"
            ui-sref="structure.summary({ structureId: log.document.id })">{{ log.document.label }}</a><a ng-if="log.document.type=='article'"
            ui-sref="article({ articleId: log.document.id })">{{ log.document.label }}</a><a ng-if="log.document.type=='interview'"
            ui-sref="interview({ interviewId: log.document.id })">{{ log.document.label }}</a><a
            ng-if="(log.document.architect==false&&log.document.type=='person')||(log.document.type!='person'&&log.document.type!='firm'&&log.document.type!='structure'&&log.document.type!='article'&&log.document.type!='interview')"
            ui-sref="other.summary({ otherId: log.document.id })">{{ log.document.label }}</a></span> <small class="text-muted"
          style="text-transform: capitalize;"> | {{ log.document.type }}</small></td>
        <td>{{ log.comment }}</td>
      </tr>
    </table>
  </div>
</div>