<div class="alert alert-info" style="margin-bottom: 8px;">
  <div class="container">
    <i class="fa fa-info-circle"></i> Plot locations on a map and build geographical relationships.
  </div>
</div>
<div class="l-frame l-frame-tighter l-frame-divided">
  <div class="container">
    <div ng-hide="$state.includes('ugc.map.edit.add') || $state.includes('ugc.map.edit.list')">
      <button class="btn" ui-sref="ugc.map.edit.add.import" ng-class="{'btn-primary': !map.locations.length, 'btn-default': map.locations.length}">
        <i class="fa fa-plus"></i> Add More Locations
      </button>
      <button ng-show="map.locations.length" class="btn btn-link pull-right" ui-sref="ugc.map.edit.list">
        <i class="fa fa-pencil"></i> Edit Locations
      </button>
    </div>
    <div ng-show="$state.includes('ugc.map.edit.list')" class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref="ugc.map.edit" class="pull-right"> <i class="fa fa-times"></i>
        </a> Edit Locations
      </div>
      <div class="panel-body">
        <input type="text" class="form-control" ng-model="map.$import.listFilter" placeholder="Filter  location"
          style="border-radius: 100px; margin-bottom: 16px;">
        <div ng-repeat="location in map.locations | filter:map.$import.listFilter" style="margin-top: 8px;">
          <div class="row">
            <div class="col-sm-1">
              <img ng-src="{{ location.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
            </div>
            <div class="col-sm-11">
              <button class="btn btn-default btn-xs pull-right" ng-click="remove(location)">
                <i class="fa fa-trash-o"></i>
              </button>
              <p>
                <strong>{{ location.name }}</strong> <span ng-show="location.completion">({{ location.completion }})</span>
              </p>
              <p>{{ location.location }}</p>
              <p ng-repeat="typology in location.typologies">
                <span>{{ typology }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn btn-primary" ui-sref="ugc.map.edit">Done</button>
        </li>
      </ul>
    </div>
    <div class="panel panel-default" ng-if="$state.includes('ugc.map.edit.add')">
      <div class="panel-body">
        <uib-tabset> <!-- Import location --> <uib-tab heading="Import Locations" select="$state.go('ugc.map.edit.add.import')">
        <div style="padding: 8px; margin-top: 8px;">
          <p class="text-muted">Search for architects, projects or firms to import locations.</p>
          <div ui-select2="architectStructureFirmSelectMap" ng-model="map.$import.entity" class="form-control"></div>
          <!-- Import Location list -->
          <div style="margin-top: 16px;">
            <div ng-show="map.$import.entity && map.$import.locations == null" style="text-align: center;">
              <i class="fa fa-spin fa-refresh"></i>
            </div>
            <div class="text-muted" ng-show="map.$import.locations && !map.$import.locations.length">No locations found</div>
            <div ng-show="isShowingFilters" style="margin-top: 16px;">
              <ul class="list-group">
                <li class="list-group-item" ng-show="(map.$import.locations | filter:importFilter).length !== map.$import.locations.length"><strong>Showing
                    {{ (map.$import.locations | filter:importFilter).length }} of {{ map.$import.locations.length }} locations</strong> <a
                  ng-click="clearImportFilters()">Clear Filters</a></li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Name</label> <input type="text" ng-model="map.$import.filter.filter" class="form-control" placeholder="Filter by name">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Firm</label> <select ng-model="map.$import.filter.firmId" class="form-control">
                          <option selected="selected" value="" />
                          <option value="{{ firm.id }}" ng-repeat="firm in map.$import.firms">{{ firm.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Architect</label> <select ng-model="map.$import.filter.architectId" class="form-control">
                          <option selected="selected" value="" />
                          <option value="{{ architect.id }}" ng-repeat="architect in map.$import.architects">{{ architect.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Location</label> <input type="text" ng-model="map.$import.filter.location" class="form-control"
                          placeholder="Filter by location">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Typology</label> <select ng-model="map.$import.filter.typology" class="form-control">
                          <option selected="selected" value="" />
                          <option value="{{ typology }}" ng-repeat="typology in map.$import.typologies">{{ typology }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Completion Year</label>
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="text" placeholder="Start year" ng-model="map.$import.filter.startYear" class="form-control">
                          </div>
                          <div class="col-sm-6">
                            <input type="text" placeholder="End year" ng-model="map.$import.filter.endYear" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Region</label> <br /> <input type="radio" name="location" ng-model="map.$import.filter.australian" value="australian">Australian
                        <input type="radio" name="location" ng-model="map.$import.filter.australian" value="other">Other <input type="radio"
                          name="location" ng-model="map.$import.filter.australian" value="all">All
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="addAll();" ng-show="map.$import.prospectiveLocations.length">
                <i class="fa fa-plus"></i> Add Locations to Map ({{ map.$import.prospectiveLocations.length }} Locations)
              </button>
              <button class="btn btn-primary" disabled ng-click="addAll()"
                ng-show="map.$import.prospectiveLocations.length == 0 && map.$import.locations.length > 0">
                <i class="fa fa-check"></i> All added
              </button>
              <button class="btn btn-default" ng-click="cancel()" ng-show="map.locations.length">Cancel</button>
              <a ng-click="isShowingFilters = !isShowingFilters" class="pull-right" ng-show="map.$import.prospectiveLocations.length"> <i
                class="fa" ng-class="{'fa-chevron-right': !isShowingFilters, 'fa-chevron-up': isShowingFilters}"></i> Filters
              </a>
            </div>
            <!-- List of locations + filters -->
            <div ng-show="false">
              <ul class="list-group">
                <li class="list-group-item list-group-item-warning"></li>
                <li class="list-group-item list-group-item-warning"
                  ng-show="(map.$import.locations | filter:importFilter).length !== map.$import.locations.length">Filtered: Showing {{
                  (map.$import.locations | filter:importFilter).length }} of {{ map.$import.locations.length }} locations <a
                  ng-click="clearImportFilters()">Clear Filters</a>
                </li>
                <li class="list-group-item"></li>
                <li class="list-group-item" style="display: none;">
                  <div ng-repeat="location in map.$import.locations | filter:importFilter" class="row" style="margin-top: 8px;">
                    <div>
                      <div class="col-sm-1">
                        <!-- Add button -->
                        <button class="btn btn-primary" ng-click="add(location)" ng-hide="location.$added">
                          <i class="fa fa-plus"></i>
                        </button>
                        <!-- Added tick -->
                        <button class="btn btn-primary" disabled ng-show="location.$added">
                          <i class="fa fa-check"></i>
                        </button>
                      </div>
                      <div class="col-sm-1">
                        <img ng-src="{{ location.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
                      </div>
                      <div class="col-sm-10" ng-click="expression">
                        <p>
                          <strong>{{ location.name }}</strong> <span ng-show="location.completion">({{ location.completion }})</span>
                        </p>
                        <p>{{ location.location }}</p>
                        <p ng-repeat="typology in location.typologies">
                          <span>{{ typology }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </uib-tab> <!-- /Import location --> </uib-tabset>
      </div>
    </div>
    <div style="margin-top: 24px;">
      <div class="text-muted" ng-hide="map.locations.length">No locations added. Try adding some locations.</div>
    </div>
  </div>
</div>
<div class="l-frame l-frame-tighter l-frame-divided"
  ng-show="map.locations.length && !map.$import.prospectiveLocations.length && !$state.includes('ugc.map.edit.list') && !$state.includes('ugc.map.edit.add') && Auth.success">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Title: What is your map about?" ng-model="compoundObject.title">
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary form-control" ng-click="save()" ng-disabled="!compoundObject.title || !map.locations.length || !Auth.success">Save
          Map ({{ map.locations.length }} locations)</button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-default" ng-click="removeAll()">Cancel</button>
      </div>
    </div>
  </div>
</div>