<div class="alert alert-info" style="margin-bottom: 8px;">
  <div class="container">
    <i class="fa fa-info-circle"></i> Plot dates on a timeline and build temporal relationships
  </div>
</div>
<div class="l-frame l-frame-tighter l-frame-divided">
  <div class="container">
    <div ng-hide="$state.includes('ugc.timeline.edit.add')">
      <button class="btn" ui-sref="ugc.timeline.edit.add.import"
        ng-class="{'btn-primary': !timeline.dates.length, 'btn-default': timeline.dates.length}">
        <i class="fa fa-plus"></i> Add Date
      </button>
    </div>
    <div class="panel panel-default" ng-if="$state.includes('ugc.timeline.edit.add')">
      <div class="panel-body">
        <uib-tabset> <!-- Import date --> <uib-tab heading="From Architect, Project or Firm"
          select="$state.go('ugc.timeline.edit.add.import')">
        <div style="padding: 8px; margin-top: 8px;">
          <p>Search for architects, projects or firms to import dates from their timeline.</p>
          <div ui-select2="architectStructureFirmSelectTimeLine" ng-model="timeline.$import.entity" class="form-control"></div>
          <div style="margin-top: 16px;">
            <div ng-show="timeline.$import.entity && timeline.$import.dates == null" style="text-align: center;">
              <i class="fa fa-spin fa-refresh"></i>
            </div>
            <div ng-show="timeline.$import.dates && !timeline.$import.dates.length">No dates found.</div>
            <div ng-repeat="date in timeline.$import.dates" class="row" style="margin-top: 8px;">
              <div>
                <div class="col-sm-1" style="text-align: right">
                  <input type="checkbox" ng-model="date.$selected" ng-change="importSelectionChanged()">
                </div>
                <div class="col-sm-1">
                  <img ng-src="{{ date.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
                </div>
                <div class="col-sm-10">
                  <strong>{{ date.startDate }} <span ng-show="date.endDate">- {{ date.endDate }}</span></strong> {{ date.headline }}
                </div>
              </div>
            </div>
          </div>
          <div ng-show="timeline.$import.dates.length" style="margin-top: 10px;">
            <button class="btn btn-primary" ng-click="import(timeline.$import.dates)">Add to timeline ({{ timeline.$import.numberToImport }})</button>
          </div>
        </div>
        </uib-tab> <!-- /Import date --> </uib-tabset>
      </div>
    </div>
    <!-- Date list -->
    <div style="margin-top: 24px;">
      <div class="text-muted" ng-hide="timeline.dates.length">No dates added. Try adding some dates.</div>
      <!--  | slice:currentPage:currentPage+10 -->
      <div ng-repeat="date in timeline.dates" style="margin-top: 8px;">
        <div class="row">
          <div class="col-sm-1">
            <img ng-src="{{ date.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
          </div>
          <div class="col-sm-11">
            <button class="btn btn-default btn-xs pull-right" ng-click="remove(date)">
              <i class="fa fa-trash-o"></i>
            </button>
            <p>
              <strong> {{ date.startDate }} <span ng-show="date.endDate">- {{ date.endDate }}</span>
              </strong>
            </p>
            <p>{{ date.headline }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Date List -->
  </div>
</div>
<div class="l-frame l-frame-tighter" ng-show="timeline.dates.length">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="Title: What is your timeline about?" ng-model="compoundObject.title">
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary form-control" ng-click="save()" ng-disabled="!compoundObject.title || !timeline.dates.length || !Auth.success">Save
          timeline</button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-default" ng-click="removeAll()">Cancel</button>
      </div>
    </div>
  </div>
</div>