<div class="content">
	<div class="page-header has-subnav">
		<div class="container">
			<h1>My Content</h1>
		</div>
	</div>
	<div class="alert alert-info" style="margin-bottom: 8px;">
		<div class="container">
			<i class="fa fa-info-circle"></i> These are all your maps, timelines and wordclouds you have created.
		</div>
	</div>
	
	<div class="l-frame">
		<div class="container">
			<div class="row" ng-repeat="compoundObjectRow in compoundObjectRows">
				<div class="col-sm-2" ng-repeat="compoundObject in compoundObjectRow">
	                <div ng-include="'views/thumbs/compoundobject.html'"></div>
	            </div>
			</div>
		</div>
	</div>
	

	
	
</div>