<div class="alert alert-warning" ng-show="!$state.includes('ugc.wordcloud.edit') && isDeletable" style="margin: 0;">
  <div class="container">
    <!-- Delete -->
    <button class="btn btn-default btn-xs" ng-click="delete()" ng-show="isDeletable">
      <i class="fa fa-trash-o"></i> Delete
    </button>
    <!-- /Delete -->
  </div>
</div>
<div class="l-frame l-frame-media" ng-show="wordcloud.documents.length">
  <div class="container">
    <h3 style="text-align: center; margin-bottom: 24px" ng-show="compoundObject.title.length">
      <!-- Object title -->
      {{ compoundObject.title }}<br>
      <!-- /Object title -->
      <!-- Author name -->
      <small ng-show="compoundObject.user.displayName.length">By {{ compoundObject.user.displayName }}</small>
      <!-- /Author name -->
    </h3>
    <div class="wordcloud"></div>
  </div>
</div>