<div>
  <!-- Builder info -->
  <div class="alert alert-info" style="margin-bottom: 8px">
    <div class="container">
      <i class="fa fa-info-circle"></i> Select textual data to build a semantic text analysis.
    </div>
  </div>
  <!-- /Builder info -->
  <div class="l-frame l-frame-tighter l-frame-divided">
    <div class="container">
      <!-- Control buttons -->
      <div ng-hide="$state.includes('ugc.wordcloud.edit.add')">
        <button class="btn" ui-sref="ugc.wordcloud.edit.add.import"
          ng-class="{'btn-primary': !wordcloud.documents.length, 'btn-default': wordcloud.documents.length}">
          <i class="fa fa-plus"></i> Add Document
        </button>
      </div>
      <!-- /Control buttons -->
      <!-- Adder panel -->
      <div class="panel panel-default" ng-if="$state.includes('ugc.wordcloud.edit.add')">
        <div class="panel-body">
          <uib-tabset> <!-- Import --> <uib-tab heading="From Architect, Project or Firm"
            select="$state.go('ugc.wordcloud.edit.add.import'); wordcloud.$import.documents = null">
          <div style="padding: 8px; margin-top: 8px">
            <p class="text-muted">Search for Architects, Firms or Projects.</p>
            <div ui-select2="architectStructureFirmSelectWordCloud" ng-model="wordcloud.$import.entity" class="form-control"></div>
            <div style="margin-top: 16px">
              <div ng-show="wordcloud.$import.isSearching && wordcloud.$import.documents == null" style="text-align: center">
                <i class="fa fa-spin fa-refresh"></i>
              </div>
              <div class="text-muted" ng-show="wordcloud.$import.documents && !wordcloud.$import.documents.length">No documents found</div>
              <div ng-show="wordcloud.$import.documents.length">
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="wordcloud.$import.type" uib-btn-radio="undefined">All</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="wordcloud.$import.type" uib-btn-radio="'article'">Article</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="wordcloud.$import.type" uib-btn-radio="'interview'">Interview</button>
                  </div>
                </div>
              </div>
              <div ng-repeat="document in wordcloud.$import.documents | filter:{type: wordcloud.$import.type}" class="row" style="margin-top: 8px;">
                <div>
                  <div class="col-sm-1" style="text-align: right;">
                    <input type="checkbox" ng-model="document.$selected" ng-change="importSelectionChanged()">
                  </div>
                  <div class="col-sm-1">
                    <div class="square" ng-class="{'square-article': document.type === 'article', 'square-interview': document.type === 'interview'}">
                      <div class="square-content">
                        <div class="center">
                          <div class="center-content">
                            <i class="fa" ng-class="{'fa-book': document.type === 'article', 'fa-microphone': document.type === 'interview'}"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-10" ng-click="expression">
                    <p>
                      <strong><a ng-href="{{ document.$link }}" target="_blank">{{ document.label }}</a> </strong>
                    </p>
                    <p ng-bind-html="document.snippet"></p>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-top: 10px" ng-show="wordcloud.$import.documents.length">
              <button class="btn btn-primary" ng-click="import(wordcloud.$import.documents)">Add to Word Cloud ({{
                wordcloud.$import.numberToImport }})</button>
            </div>
          </div>
          </uib-tab> <!-- /Import --> <!-- Search --> <uib-tab heading="Search"
            select="$state.go('ugc.wordcloud.edit.add.search'); wordcloud.$import.documents = null">
          <div style="padding: 8px; margin-top: 8px">
            <form>
              <div class="row">
                <div class="col-sm-11">
                  <input type="text" class="form-control" placeholder="Search" ng-model="wordcloud.$import.query">
                </div>
                <div class="col-sm-1">
                  <button class="btn btn-primary form-control" ng-click="search(wordcloud.$import.query)">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <div style="margin-top: 16px">
              <div ng-show="wordcloud.$import.isSearching && wordcloud.$import.documents == null" style="text-align: center">
                <i class="fa fa-spin fa-refresh"></i>
              </div>
              <div class="text-muted" ng-show="wordcloud.$import.documents && !wordcloud.$import.documents.length">No documents found</div>
              <div ng-show="wordcloud.$import.documents.length">
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="wordcloud.$import.type" uib-btn-radio="undefined">All</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="wordcloud.$import.type" uib-btn-radio="'article'">Article</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-model="wordcloud.$import.type" uib-btn-radio="'interview'">Interview</button>
                  </div>
                </div>
              </div>
              <div ng-repeat="document in wordcloud.$import.documents | filter:{type: wordcloud.$import.type}" class="row" style="margin-top: 8px">
                <div>
                  <div class="col-sm-1" style="text-align: right">
                    <input type="checkbox" ng-model="document.$selected" ng-change="importSelectionChanged()">
                  </div>
                  <div class="col-sm-1">
                    <div class="square" ng-class="{'square-article': document.type === 'article', 'square-interview': document.type === 'interview'}">
                      <div class="square-content">
                        <div class="center">
                          <div class="center-content">
                            <i class="fa" ng-class="{'fa-book': document.type === 'article', 'fa-microphone': document.type === 'interview'}"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-10" ng-click="expression">
                    <p>
                      <strong><a ng-href="{{ document.$link }}" target="_blank">{{ document.label }}</a> </strong>
                    </p>
                    <p ng-bind-html="document.snippet"></p>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-top: 10px" ng-show="wordcloud.$import.documents.length">
              <button class="btn btn-primary" ng-click="import(wordcloud.$import.documents)">Add to Word Cloud ({{
                wordcloud.$import.numberToImport }})</button>
            </div>
          </div>
          </uib-tab> </uib-tabset>
        </div>
      </div>
      <!-- /Adder panel -->
      <!-- Text list -->
      <div style="margin-top: 24px">
        <div class="text-muted" ng-hide="wordcloud.documents.length">No documents added. Try adding some documents.</div>
        <div ng-repeat="document in wordcloud.documents" style="margin-top: 8px">
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-default btn-xs pull-right" ng-click="remove(document)">
                <i class="fa fa-trash-o"></i> Remove
              </button>
              <p>
                <i class="fa" ng-class="{'fa-book': document.type === 'article', 'fa-microphone': document.type === 'interview'}"
                  style="margin-right: 8px"></i> <strong>{{ document.label }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Text List -->
      <div ng-show="isWaiting" style="text-align: center;">
        <i class="fa fa-spin fa-refresh"></i>
      </div>
      <!-- Stop words -->
      <div style="margin-top: 24px" ng-show="wordcloud.documents.length">
        <h5>Stop Words</h5>
        <ul>
          <li ng-repeat="word in wordcloud.stopWords track by $index" class="media-body">{{ word }}</li>
        </ul>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="wordcloud.$stopWord" placeholder="What word do you want to remove from the wordcloud?">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="addStopWord(wordcloud.$stopWord)">Add Stop Word</button>
          </span>
        </div>
      </div>
      <!-- /Stop words -->
    </div>
  </div>
  <div class="l-frame l-frame-tighter" ng-show="wordcloud.documents.length">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Title: What is your word cloud about?" ng-model="compoundObject.title">
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary form-control" ng-click="save()"
            ng-disabled="!compoundObject.title || !wordcloud.documents.length || !Auth.success">Save Word Cloud</button>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-default" ng-click="removeAll()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>