<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>New Relationship</h1>
    </div>
  </div>
  <!-- Builder info -->
  <div ng-show="$stateParams.type==='structure'" class="alert alert-info" style="margin-bottom: 0;">
    <div class="container">
      <i class="fa fa-info-circle"></i> Create a project or structure relationship.
    </div>
  </div>
  <div ng-show="$stateParams.type==='firm'&&$stateParams.archobjType==='firm'" class="alert alert-info" style="margin-bottom: 0;">
    <div class="container">
      <i class="fa fa-info-circle"></i> Add an employment relationship.
    </div>
  </div>
  <!-- /Builder info -->
  <div class="l-frame l-frame-tight">
    <div class="container">
      <div class="row">
        <div class="col-md-12" ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'">
          <form name="form" ng-submit="createRelationship(relationship)">
            <div class="form-group">
              <label>Subject <i class="fa fa-asterisk fa-asterisk-required"></i></label>
              <div class="row">
                <div class="col-sm-10">
                  <div ui-select2="subjSelect" ng-model="relationship.$subject" class="form-control" required></div>
                </div>
                <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    style="width: 109px; padding-top: 4px; padding-bottom: 4px;">
                    Add New&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="addNew">
                    <li><a ui-sref="architect.summary.edit({})">Architect</a></li>
                    <li ng-hide="$stateParams.type==='firm'&&$stateParams.archobjType==='firm'"><a ui-sref="firm.summary.edit({})">Firm</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Type <i class="fa fa-asterisk fa-asterisk-required"></i></label>
              <div class="row">
                <div class="col-sm-10">
                  <div ui-select2="relationshiptypeSelect" ng-model="relationship.$type" class="form-control" required></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Object <i class="fa fa-asterisk fa-asterisk-required"></i></label>
              <div class="row">
                <div class="col-sm-10">
                  <div ui-select2="objSelect" ng-model="relationship.$object" class="form-control" required></div>
                </div>
                <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    style="width: 109px; padding-top: 4px; padding-bottom: 4px;">
                    Add New&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="addNew">
                    <li ng-show="$stateParams.type==='firm'&&$stateParams.archobjType==='firm'"><a ui-sref="firm.summary.edit({})">Firm</a></li>
                    <li ng-show="$stateParams.type==='structure'"><a ui-sref="structure.summary.edit({})">Project</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>From</label>
              <div class="well well-sm">
                <div uib-datepicker ng-model="relationship.$from" min-mode="year"></div>
                <div style="margin-top: 10px;" ng-show="relationship.$from">
                  <button type="button" class="btn btn-sm btn-primary" ng-click="relationship.$from = ''">Clear</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Until</label>
              <div class="well well-sm">
                <div uib-datepicker ng-model="relationship.$until" min-mode="year"></div>
                <div style="margin-top: 10px;" ng-show="relationship.$until">
                  <button type="button" class="btn btn-sm btn-primary" ng-click="relationship.$until = ''">Clear</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Note</label>
              <textarea rows="5" id="biography" class="form-control" placeholder="Relationship Note" ng-model="relationship.note"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>