<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>New Relationship</h1>
    </div>
  </div>
  <!-- Builder info -->
  <div class="alert alert-info" style="margin-bottom: 0;">
    <div class="container">
      <i class="fa fa-info-circle"></i> Create new structure relationship.
    </div>
  </div>
  <!-- /Builder info -->
  <div class="l-frame l-frame-tight">
    <div class="container">
      <div class="row">
        <div class="col-md-12" ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'">
          <form name="form" ng-submit="createRelationship(relationship)">
            <div class="form-group">
              <label>Subject <i class="fa fa-asterisk fa-asterisk-required"></i></label>
              <div ui-select2="subjSelect" ng-model="relationship.$subject" class="form-control" required></div>
            </div>
            <div class="form-group">
              <label>Type <i class="fa fa-asterisk fa-asterisk-required"></i></label>
              <div ui-select2="relationshiptypeSelect" ng-model="relationship.$type" class="form-control" required></div>
            </div>
            <div class="form-group">
              <label>Object <i class="fa fa-asterisk fa-asterisk-required"></i></label>
              <div ui-select2="objSelect" ng-model="relationship.$object" class="form-control" required></div>
            </div>
            <div class="form-group">
              <label>From</label>
              <div class="well well-sm">
                <div uib-datepicker ng-model="relationship.$from" min-mode="year"></div>
                <div style="margin-top: 10px;" ng-show="relationship.$from">
                  <button type="button" class="btn btn-sm btn-primary" ng-click="relationship.$from = ''">Clear</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Until</label>
              <div class="well well-sm">
                <div uib-datepicker ng-model="relationship.$until" min-mode="year"></div>
                <div style="margin-top: 10px;" ng-show="relationship.$until">
                  <button type="button" class="btn btn-sm btn-primary" ng-click="relationship.$until = ''">Clear</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Note</label>
              <textarea rows="5" id="biography" class="form-control" placeholder="Relationship Note" ng-model="relationship.note"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>