/** Import bootstrap */
// Core variables and mixins
//@import "../../bower_components/bootstrap/less/variables.less";
//@import "../../bower_components/bootstrap/less/mixins.less";
//
//// Reset
//@import "../../bower_components/bootstrap/less/normalize.less";
//@import "../../bower_components/bootstrap/less/print.less";
//
@import "../../bower_components/bootstrap/less/bootstrap";
//@import "../../bower_components/bootstrap/less/type.less";
//@import "../../bower_components/bootstrap/less/code.less";
//@import "../../bower_components/bootstrap/less/tables.less";
//@import "../../bower_components/bootstrap/less/forms.less";
//@import "../../bower_components/bootstrap/less/buttons.less";
@import "variables.less";
@import "header.less";
@import "footer.less";

@import "dropdowns.less";
@import "segmented-control.less";
@import "section.less";
@import "thumbnails.less";
@import "typeahead.less";
@import "type.less";
@import "navbar.less";

// base, layout, module, state, theme


body {
  background-color: white;
}

/**
 * Layout
 */
/**
 * Frame
 *
 * Holds content on front page
 */
//
.l-frame {
  padding: (@line-height-computed * 1.5) 0;

  &.l-frame-highlight {
    background-color: @brand-lilywhite;
  }
  &.l-frame-dark {
    background-color: #DDD;
  }
  &.l-frame-divided {
    border-bottom: 1px solid #eee;
  }
  &.l-frame-tight {
    padding: (@line-height-computed * 1) 0;
  }
  &.l-frame-tighter {
    padding: 16px 0;
  }
  &.l-frame-media {
    background-color: @gray-darker;
    color: white;
  }
}
/**
 * Holds the dateball
 */
.l-dateball {
  width: 75%;
}

/**
 * Extension of .row, makes all columns the same height
 */
.l-row-sameheight {
  display: table;
  [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    position: relative;
    overflow: auto;
  }
}

.builder {
  .builder-inputoutput {
    margin-bottom: @line-height-computed * 1.5;
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .builder-input {
    margin-top: 24px;
    padding-bottom: 8px;
  }
  .builder-buttons {
    margin-bottom: 8px;
  }
  .builder-list-item {
    margin-top: 16px;
  }
}


/**
 * ======================
 * Modules 
 * ======================
 */
.btn {
  &.btn-default {
    border: 1px solid @btn-default-border;
  }
  border: none;
}
.jumbotron {
  // Background image
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  color: white;
  text-align: center;
  text-shadow: 0px 1px 1px black;
  padding: (@line-height-computed * 3.5) 0;
  margin: 0;

  /**
   * Components
   */
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
    font-weight: normal;
  }

}

/**
 * Front page search
 */
.jumbosearch {
  /**
   * Components
   */
  .form-group {
    margin-bottom: 0;
  }
  label {
    text-align: right;
    color: @gray-light;
  }
  input[type=text] {
    border: none;
  }
  .input-group-addon {
    border: 1px solid @brand-lilywhite;
    border-bottom: 1px solid white;
    background-color: white;
  }
}

/**
 * Front page about
 */
.about {
  h2 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  small {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    display: block;
    margin-bottom: @line-height-computed;
    text-align: center;
  }
}

/**
 * Front page dates in a ball
 */
.dateball {
  background: @gray-darker;
  color: white;
  border-radius: 1000px;
  width: 100%;
  padding-bottom: 100%;
  position: relative;

  .dateball-content {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-style: italic;
    padding: @line-height-computed;
    .dateball-start {
      text-align: left;
    }
    .dateball-end {
      text-align: right;
    }
  }
}

.overview {
  .overview-header {
    h2 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
    p {
      text-align: center;
    }
    small {
      font-weight: bold;
      font-style: italic;
      font-size: 16px;
      display: block;
      text-align: center;
    }

    margin-bottom: @line-height-computed * 1.5;

    &.overview-header-about {
      margin-bottom: @line-height-computed * 1;    
    }
  }

}


/**
 * Centers text vertically and horizontally
 */
.center {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;

  .center-content {
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

/**
 * Square Module
 */
.square {
  width:100%;
  padding-bottom:100%;
  position: relative;
  // background: @brand-green;
  display: table;
  .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  path {
    fill: white;
  }

  /**
   * ======================
   * Subclasses
   * ======================
   */
  &.square-tool {
    h3 {
      font-size: 14px;
      font-weight: bold;
      color: white;
      padding: 0 16px;
    }
    img {
      margin: 8px;
      margin-bottom: 16px;
      height: 40%;
      transition: height 0.25s;
    }
    margin-bottom: 16px;
    &:hover {
      img {
        height: 45%;
      } 
    }
    &:hover.square-map {
      background-color: lighten(@brand-greenpea, 5%);
    }
    &:hover.square-timeline {
    background-color: lighten(@brand-junebud, 5%);
    }
    &:hover.square-compoundobject {
      background-color: lighten(@brand-spray, 5%);
    }
    &:hover.square-wordcloud {
      background-color: lighten(@brand-razzmatazz, 5%);
    }

    transition: background-color 0.25s;
    // border-radius: 12px;
    padding-bottom: 150%;
  }
  &.square-svg {
    img {
      max-width: 70%;
      max-height: 70%;
    }
  }
  /**
   * Ups the font size for display an icon
   */
  &.square-icon {
    font-size: 24px;
    color: white;
  }
  /**
   * Article
   */
  &.square-article {
    background-color: @brand-article;
    color: white;
    
  }
  /**
   * Interview
   */
  &.square-interview {
    background-color: @brand-interview;
    color: white;
  }

  &.square-map {
    background-color: @brand-greenpea;
  }
  &.square-timeline {
    background-color: @brand-junebud;
  }
  &.square-compoundobject {
    background-color: @brand-spray;
  }
  &.square-wordcloud {
    background-color: @brand-razzmatazz;
  }
  &.square-facebook {
    background-color: #3b5998;
  }
  &.square-email {
    background-color: #517fa4;
  }
}

/**
 * Carousel
 */
.carousel {
  .carousel-nav {
    margin-top: 60px;
    font-size: 40px;
    &.carousel-nav-left {
      text-align: right;
    }
    &.carousel-nav-right {
      text-align: left;
    }
  }
}
.toolsquare {
  display: block;
  color: white;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  padding: @line-height-computed;
  // min-height: 320px;
  margin-bottom: 16px;
 
  h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  .square {
    // padding-bottom: 50%;
    img {
      width: 50%;
      // max-height: 100%;
    }
  }

  /**
   * Subclasses
   */
  &:hover {
    color: white;
    text-decoration: none;
  }
  &.toolsquare-map {
  background-color: @brand-greenpea;;
  }
  &.toolsquare-timeline {
    background-color: @brand-junebud;
  }
  &.toolsquare-compoundobject {
    background-color: @brand-spray;
  }
  &.toolsquare-wordcloud {
    background-color: @brand-razzmatazz;
  }
}

// .row + .row {
//   margin-top: @line-height-computed;
// }

.img-full {
  .img-responsive();
  width: 100%;
}

.ui-scrollfix {
  position: fixed;
  top: 0;
}

.ui-match { background: yellow; }


.interview {
  .interview-heading {
    text-transform: capitalize;
  }
}

.interview-heading {
  cursor: pointer;
}
.interview-player {
  margin-bottom: @line-height-computed;;
}
.player {
  background-color: @gray-darker;
  .player-video {
    padding: @line-height-computed;
  }
  .player-controls {
    audio {
      width: 100%;
      background-color: @gray-darker;
    }
  }
}

.content {
  margin-bottom: @line-height-computed;
}

.exchange {
  &.exchange-searching {
    background-color: @gray-lighter;
    padding: @line-height-computed / 2 inherit;
  }
}

.subnav {
  padding: @line-height-computed / 2 0;
  border: 1px solid @gray-lighter;
  margin-bottom: @line-height-computed;
  .nav > li > a {
    padding: 5px 15px;
  }
}
