<div class="interview">
  <div class="alert alert-warning" style="margin: 0;" ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'">
    <div class="container">
      <button class="btn btn-default btn-xs" ui-sref="upload.interviews({ id: interview.id })">
        <i class="fa fa-pencil"></i> Edit
      </button>
      <button class="btn btn-default btn-xs" ng-click="delete(interview)" ng-show="Auth.canDelete()">
        <i class="fa fa-trash-o"></i> Delete
      </button>
    </div>
  </div>
  <div class="interview-player">
    <!-- player -->
    <div class="player">
      <!-- video -->
      <div class="player-video">
        <div class="container">
          <div class="row">
            <div ng-repeat="interviewee in interview.interviewee" class="col-sm-4 col-sm-offset-4">
              <img ng-if="interviewee.id==$stateParams.otherId&&interviewee.media" class="media-object img-full"
                ng-src="{{Uris.WS_MEDIA+interviewee.media+'?dimension=360x320'}}" alt="{{interviewee.label}}">
            </div>
          </div>
        </div>
      </div>
      <!-- end of video -->
      <!-- controls -->
      <div class="player-controls">
        <div class="container">
          <div class="row">
            <div class="col-md-12 test">
              <audio data-player-control="audioPlayer" data-playlist="audioPlayerPlaylist" data-player-name="audioPlayer" audio-player id="audio1"
                controls="controls">
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of interview player -->
  <!-- Interview Details -->
  <div class="l-frame l-frame-tight l-frame-highlight">
    <div class="interview-heading">
      <div class="container">
        <div ng-repeat="media in interview.media">
          <a ng-show="media.type==='Youtube'" ng-href="{{ media.url }}" target="_blank" class="pull-right">Watch on YouTube</a>
        </div>
        <h5 ng-click="isShowingInterviewDetails = !isShowingInterviewDetails" class="pull-left"
          style="margin: 0; padding: 0; position: relative; top: 3px;">
          <i class="fa fa-fw" ng-class="{'fa-chevron-right': !isShowingInterviewDetails, 'fa-chevron-down': isShowingInterviewDetails}"></i>{{
          interview.created | date:'dd MMMM yyyy' }}
        </h5>
        <div class="text-center">
          <span ng-repeat="interviewee in interview.interviewee" style="font-weight: bold;"> <a ng-if="interviewee.architect"
            ui-sref="architect.summary({ architectId: interviewee.id })"> {{ interviewee.label }} </a> <a ng-if="!interviewee.architect"
            ui-sref="other.summary({ otherId: interviewee.id })"> {{ interviewee.label }} </a>
          </span>
        </div>
      </div>
    </div>
    <div class="interview-details" ng-show="isShowingInterviewDetails">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5 ng-if="interview.location">Location</h5>
            <p>
              <i ng-if="interview.location" class="fa fa-map-marker"></i> <a href="https://maps.google.com/?q={{ interview.location }}"
                target="_blank">{{ interview.location }}</a>
            </p>
          </div>
          <div class="col-md-6">
            <h5>Interviewers</h5>
            <ul class="media-list">
              <li class="media" ng-repeat="interviewer in interview.interviewer"><span class="pull-left"> <img
                  class="media-object img-responsive img-circle" ng-if="!interviewer.media" src="images/icon.png" style="display: block; width: 20px">
                  <img class="media-object img-responsive img-circle" ng-if="interviewer.media"
                  ng-src="{{Uris.WS_MEDIA+interviewer.media+'?dimension=20x20'}}" alt="{{ interviewer.label }}" style="width: 20px">
              </span>
                <div class="media-body">{{ interviewer.label }}</div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning" style="margin: 0;" ng-show="Auth.canDelete() && isShowingTranscript">
    <div class="container">
      <button class="btn btn-default btn-xs" ng-click="deleteTranscript(interview)">
        <i class="fa fa-trash-o"></i> Delete Transcript
      </button>
    </div>
  </div>
  <div class="l-frame l-frame-tight">
    <!-- Interview transcript -->
    <div class="interview-transcript" ng-show="isShowingTranscript" id="transcript">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="btn-group pull-left">
              <button type="button" class="btn btn-default" ng-model="$parent.isSyncing" uib-btn-checkbox btn-checkbox-true="true"
                btn-checkbox-false="false" uib-tooltip="Sync Transcript">
                <i class="fa fa-refresh" ng-class="{ 'fa-spin': isSyncing && audioPlayer.playing }"> </i>
              </button>
            </div>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cloud-download"></i> Download <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-hide="!(interview.media|filter:{type:'Audio'}).length"><a
                  ng-href="{{Uris.WS_DOWNLOAD+(interview.media|filter:{type:'Audio'})[0].id}}" target="_blank">Audio</a></li>
                <li ng-hide="!(interview.media|filter:{type:'Transcript'}).length"><a
                  ng-href="{{Uris.WS_DOWNLOAD+(interview.media|filter:{type:'Transcript'})[0].id}}" target="_blank">Transcript</a></li>
              </ul>
            </div>
            <div class="input-group" style="padding: 0 15px;">
              <span class="input-group-addon"><i class="fa fa-search"></i> </span> <input type="text" class="form-control"
                placeholder="Search transcript" ng-model="transcriptSearchInput" ng-change="transcriptSearchInputChanged(transcriptSearchInput)"
                ng-keydown="transcriptSearchKeydown($event)">
            </div>
          </div>
        </div>
        <!-- exchanges -->
        <div infinite-scroll="addMoreExchanges()" class="interview-exchanges" style="margin-top: 24px;">
          <div ng-repeat="exchange in interview.transcript | filter:timeFilter | limitTo:exchangeDisplayCount" class="row exchange"
            ng-class="{'exchange-searching': isSearching}" id="{{ exchange.id }}" style="margin-bottom: 20px">
            <!-- transcript -->
            <div class="col-sm-6">
              <div class="media">
                <div class="pull-left" style="text-align: center">
                  <img
                    ng-if="(interview.interviewer|filter:{id:exchange.speakerid})[0].media||(interview.interviewee|filter:{id:exchange.speakerid})[0].media"
                    class="media-object exchange-dp"
                    ng-src="{{Uris.WS_MEDIA+((interview.interviewer|filter:{id:exchange.speakerid})[0].media||(interview.interviewee|filter:{id:exchange.speakerid})[0].media)+'?dimension=32x28'}}"
                    alt="" style="width: 32px" /> <img
                    ng-if="!((interview.interviewer|filter:{id:exchange.speakerid})[0].media||(interview.interviewee|filter:{id:exchange.speakerid})[0].media)"
                    class="media-object exchange-dp" src="images/icon.png" alt="" style="width: 32px" />
                  <!-- play button -->
                  <button class="btn btn-xs btn-default exchange-play" ng-click="playFromExchange(exchange)">
                    <i class="fa fa-play"></i>
                  </button>
                  <a ui-sref="other.interview({time: exchange.startTime})" class="btn btn-link exchange-play"><i class="fa fa-link"></i></a>
                  <!-- end of play button -->
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <strong> <a ng-if="getSpeakerArchitect(exchange.speakerid)==true"
                      ui-sref="architect.summary({architectId: exchange.speakerid})"> {{ exchange.speaker }} </a> <a
                      ng-if="getSpeakerArchitect(exchange.speakerid)==false" ui-sref="other.summary({otherId: exchange.speakerid})"> {{
                        exchange.speaker }} </a> <span ng-if="getSpeakerArchitect(exchange.speakerid)==undefined"> {{ exchange.speaker }} </span> <span
                      ng-show="!exchange.speaker"> {{ exchange.speakerInitials }} </span>
                    </strong> <span class="pull-right" ng-show="isSearching">{{ exchange.time }}</span>
                  </div>
                  <p ng-bind-html="exchange.transcript | highlight:transcriptSearchInput" ng-class="{ highlight: startTime == exchange.startTime }"></p>
                </div>
              </div>
            </div>
            <!-- end of transcript -->
            <!-- relationships -->
            <div class="col-sm-6">
              <div class="panel panel-default" ng-hide="(isSearching || !Auth.success ) && !exchange.relationships.length">
                <div class="panel-heading" ng-if="(Auth.user.role === 'editor' || Auth.user.role === 'admin') && Auth.success && !isSearching">
                  <!-- Control buttons -->
                  <span ng-hide="exchange.isAddingRelationship || exchange.isEditingRelationships">
                    <button type="button" class="btn btn-default btn-xs" ng-click="showAddRelationship(exchange)">
                      <i class="fa fa-plus fa-fw"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="showEditRelationships(exchange)"
                      ng-show="exchange.relationships.length">
                      <i class="fa fa-pencil fa-fw"></i>
                    </button>
                  </span>
                  <button type="button" class="btn btn-primary btn-xs" ng-click="hideEditRelationships(exchange)"
                    ng-show="exchange.isEditingRelationships">
                    <i class="fa fa-check fa-fw"></i>
                  </button>
                  <!-- New relationship -->
                  <form name="form" ng-submit="addRelationshipToExchange(relationship, exchange, interview.id)"
                    ng-hide="!exchange.isAddingRelationship">
                    <div class="form-group">
                      <label>Subject <i class="fa fa-asterisk fa-asterisk-required"></i></label>
                      <div class="row">
                        <div class="col-sm-9">
                          <div ui-select2="subjObjSelect" ng-model="relationship.subject" class="form-control" required></div>
                        </div>
                        <div class="col-sm-3" style="border-left: 1px solid #ccc; padding-left: 16px;">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            style="width: 109px; padding-top: 4px; padding-bottom: 4px;">
                            Add New&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="addNew">
                            <li><a ui-sref="architect.summary.edit({})">Architect</a></li>
                            <li><a ui-sref="firm.summary.edit({})">Firm</a></li>
                            <li><a ui-sref="structure.summary.edit({})">Project</a></li>
                            <li><a ui-sref="other.summary.edit({})" ui-sref-opts="{inherit:false}">Other</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Relationship <i class="fa fa-asterisk fa-asterisk-required"></i></label>
                      <div ui-select2="relationshiptypeSelect" ng-model="relationship.type" class="form-control" required></div>
                    </div>
                    <div class="form-group">
                      <label>Object <i class="fa fa-asterisk fa-asterisk-required"></i></label>
                      <div class="row">
                        <div class="col-sm-9">
                          <div ui-select2="subjObjSelect" ng-model="relationship.object" class="form-control" required></div>
                        </div>
                        <div class="col-sm-3" style="border-left: 1px solid #ccc; padding-left: 16px;">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            style="width: 109px; padding-top: 4px; padding-bottom: 4px;">
                            Add New&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="addNew">
                            <li><a ui-sref="architect.summary.edit({})">Architect</a></li>
                            <li><a ui-sref="firm.summary.edit({})">Firm</a></li>
                            <li><a ui-sref="structure.summary.edit({})">Project</a></li>
                            <li><a ui-sref="other.summary.edit({})" ui-sref-opts="{inherit:false}">Other</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>From</label>
                      <div class="well well-sm">
                        <div uib-datepicker ng-model="relationship.from" min-mode="year" year-range="5"></div>
                        <div style="margin-top: 10px;" ng-show="relationship.from">
                          <button type="button" class="btn btn-sm btn-primary" ng-click="relationship.from = ''">Clear</button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Until</label>
                      <div class="well well-sm">
                        <div uib-datepicker ng-model="relationship.until" min-mode="year" year-range="5"></div>
                        <div style="margin-top: 10px;" ng-show="relationship.until">
                          <button type="button" class="btn btn-sm btn-primary" ng-click="relationship.until = ''">Clear</button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Note</label>
                      <textarea rows="1" id="biography" class="form-control" placeholder="Relationship Note" ng-model="relationship.note"></textarea>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="form.$invalid">Add</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="hideAddRelationship(exchange)">Cancel</button>
                  </form>
                </div>
                <!-- Relationship List -->
                <ul class="list-group" ng-if="exchange.relationships.length">
                  <li class="list-group-item" ng-repeat="relationship in exchange.relationships">
                    <button class="btn btn-xs btn-danger" ng-show="exchange.isEditingRelationships" style="margin-right: 5px;"
                      ng-click="deleteRelationship(relationship, exchange)">
                      <i class="fa fa-trash-o fa-fw"></i>
                    </button> <a ng-if="relationship.subjecttype=='person'&&relationship.subjectarchitect==true"
                    ui-sref="architect.summary({ architectId: relationship.subject })"
                    ng-bind-html="relationship.subjectlabel || '' | highlight:transcriptSearchInput"></a> <a
                    ng-if="relationship.subjecttype=='person'&&relationship.subjectarchitect==false"
                    ui-sref="other.summary({ otherId: relationship.subject })"
                    ng-bind-html="relationship.subjectlabel || '' | highlight:transcriptSearchInput"></a> <span
                    ng-if="relationship.subjecttype=='person'&&relationship.subjectarchitect==undefined"
                    ng-bind-html="relationship.subjectlabel || '' | highlight:transcriptSearchInput"></span> <a
                    ng-if="relationship.subjecttype=='firm'" ui-sref="firm.summary({ firmId: relationship.subject })"
                    ng-bind-html="relationship.subjectlabel || '' | highlight:transcriptSearchInput"></a> <a
                    ng-if="relationship.subjecttype=='structure'" ui-sref="structure.summary({ structureId: relationship.subject })"
                    ng-bind-html="relationship.subjectlabel || '' | highlight:transcriptSearchInput"></a> <a
                    ng-if="relationship.subjecttype!= 'person'&&relationship.subjecttype!='firm'&&relationship.subjecttype!='structure'&&relationship.subjecttype!=undefined"
                    ui-sref="other.summary({ otherId: relationship.subject })"
                    ng-bind-html="relationship.subjectlabel || '' | highlight:transcriptSearchInput"></a> <span
                    ng-if="relationship.subjecttype!= 'person'&&relationship.subjecttype!='firm'&&relationship.subjecttype!='structure'&&relationship.subjecttype==undefined"
                    ng-bind-html="relationship.subjectlabel || '' | highlight:transcriptSearchInput"></span> <span
                    ng-bind-html="relationship.relationship || '' | highlight:transcriptSearchInput"> </span> <a
                    ng-if="relationship.objecttype=='person'&&relationship.objectarchitect==true"
                    ui-sref="architect.summary({ architectId: relationship.object })"
                    ng-bind-html="relationship.objectlabel || '' | highlight:transcriptSearchInput"></a> <a
                    ng-if="relationship.objecttype=='person'&&relationship.objectarchitect==false"
                    ui-sref="other.summary({ otherId: relationship.object })"
                    ng-bind-html="relationship.objectlabel || '' | highlight:transcriptSearchInput"></a> <span
                    ng-if="relationship.objecttype=='person'&&relationship.objectarchitect==undefined"
                    ng-bind-html="relationship.objectlabel || '' | highlight:transcriptSearchInput"></span> <a ng-if="relationship.objecttype=='firm'"
                    ui-sref="firm.summary({ firmId: relationship.object })"
                    ng-bind-html="relationship.objectlabel || '' | highlight:transcriptSearchInput"></a> <a
                    ng-if="relationship.objecttype=='structure'" ui-sref="structure.summary({ structureId: relationship.object })"
                    ng-bind-html="relationship.objectlabel || '' | highlight:transcriptSearchInput"></a> <a
                    ng-if="relationship.objecttype!= 'person'&&relationship.objecttype!='firm'&&relationship.objecttype!='structure'&&relationship.objecttype!=undefined"
                    ui-sref="other.summary({ otherId: relationship.object })"
                    ng-bind-html="relationship.objectlabel || '' | highlight:transcriptSearchInput"></a> <span
                    ng-if="relationship.objecttype!= 'person'&&relationship.objecttype!='firm'&&relationship.objecttype!='structure'&&relationship.objecttype==undefined"
                    ng-bind-html="relationship.objectlabel || '' | highlight:transcriptSearchInput"></span> <!-- Date --> <span
                    ng-show="relationship.from">(</span>{{ relationship.from }}<span ng-show="relationship.from && !relationship.until">)</span><span
                    ng-show="relationship.from && relationship.until"> - </span><span ng-show="!relationship.from && relationship.until">(</span>{{
                    relationship.until }}<span ng-show="relationship.until">)</span>
                  </li>
                </ul>
                <!-- /Relationship List -->
              </div>
            </div>
            <!-- end of relationships -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>