<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <small ng-show="other.id"><a ui-sref="others">Others »</a></small>
      <h1>
        <img ng-if="other.media.length>1"
          ng-src="{{Uris.WS_MEDIA+((other.media|filter:{preferred:'!!'})[0].id||other.media[0].id)+'?dimension=40x40'}}" alt=""
          style="height: 40px; width: 40px; position: relative; top: -4px; margin-right: 1px; border: 3px solid white;" class="" /> <img
          ng-if="other.media.length==1&&other.media[0].id" ng-src="{{Uris.WS_MEDIA+other.media[0].id+'?dimension=40x40'}}" alt=""
          style="height: 40px; width: 40px; position: relative; top: -4px; margin-right: 1px; border: 3px solid white;" class="" /> {{ other.label ||
        'New Other' }}
      </h1>
    </div>
  </div>
  <div class="subnav" style="margin-bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li ng-class="{'active': $state.includes('other.summary')}"><a ui-sref="other.summary({ otherId: other.id })">Summary</a></li>
            <li ng-class="{'active': $state.includes('other.relationships')}" ng-show="other.id"><a
              ui-sref="other.relationships({ otherId: other.id })">Relationships</a></li>
            <li ui-sref-active="active" ng-if="interviews.length == 1" ng-show="other.interviews"><a
              ui-sref="other.interview({ interviewId: interviews[0].id })">Interview</a></li>
            <li class="dropdown" ng-show="interviews.length > 1" ng-class="{'active': $state.includes('other.interview')}"><a
              class="dropdown-toggle" data-toggle="dropdown"> Interviews <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="presentation" ng-repeat="interview in interviews"><a role="menuitem" tabindex="-1"
                  ui-sref="other.interview({ interviewId: interview.id })">Interview #{{ $index + 1 }}</a></li>
              </ul></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div ui-view autoscroll="false"></div>
</div>