<div class="content">
	<div class="page-header has-subnav">
	    <div class="container">
	        <h1>
	        	<img ng-src="{{ other.picture.thumb }}" alt="" style="height: 40px; width: 40px; position: relative; top: -4px; margin-right: 1px; border: 3px solid white;" class="img-circle" ng-show="other.uri">
	        	{{ other.name || 'New Entity' }}
	        </h1>
	    </div>
	</div>

	<div class="subnav" style="margin-bottom: 0;">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <ul class="nav nav-pills">
	                	<li ng-class="{'active': $state.includes('other.summary')}">
	                    	<a ui-sref="other.summary({ otherId: other.encodedUri })">Summary</a>
                    	</li>
	                    <li ng-class="{'active': $state.includes('other.relationships')}" ng-show="other.uri">
	                    	<a ui-sref="other.relationships({ otherId: other.encodedUri })">Relationships</a>
                    	</li>
						<li ui-sref-active="active" ng-if="interviews.length == 1" ng-show="other.uri">
	                    	<a ui-sref="other.interview({ otherId: other.encodedUri, interviewId: interviews[0].encodedUri })">Interview</a>
                    	</li>
                    	<!-- 
                    	<li class="dropdown" ng-show="interviews.length > 1" ng-class="{'active': $state.includes('architect.interview')}" ng-show="architect.uri">
	                        <a class="dropdown-toggle" data-toggle="dropdown" href="#!">
	                            Interviews <span class="caret"></span>
	                        </a>
	                        <ul class="dropdown-menu">
	                            <li role="presentation" ng-repeat="interview in interviews">
	                                <a role="menuitem" tabindex="-1" href ui-sref="architect.interview({ architectId: architect.encodedUri, interviewId: interview.encodedUri })">Interview #{{ $index + 1 }}</a>
	                            </li>
	                        </ul>
	                    </li> -->
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>

	<div ui-view autoscroll="false"></div>
</div>