<div class="alert alert-warning" ng-show="(Auth.user.role === 'editor' || Auth.user.role === 'admin') && !$state.includes('other.summary.edit')"
  style="margin: 0;">
  <div class="container">
    <div ng-hide="$state.includes('other.summary.edit')">
      <button class="btn btn-default btn-xs" ng-click="delete(other)" ng-show="Auth.user.role === 'admin'">
        <i class="fa fa-trash-o"></i> Delete
      </button>
    </div>
  </div>
</div>
<div class="l-frame l-frame-tight">
  <div class="container">
    <div class="row" ng-hide="$state.includes('other.summary.edit')">
      <div class="col-sm-12">
        <span ng-show="Auth.success">
          <button class="btn btn-default btn-xs pull-right" ui-sref="other.summary.edit({ otherId: other.id })">
            <i class="fa fa-pencil"></i> Edit
          </button>
        </span>
        <h5>Type</h5>
        <p>{{ other.type }}</p>
        <h5>Summary</h5>
        <p style="white-space: pre-wrap;" ng-bind-html="other.summary"></p>
        <p ng-show="!other.summary.length">No summary.</p>
      </div>
    </div>
    <!-- <div class="row" ng-show="$state.includes('other.summary.edit')">
      <div class="col-md-12">
        <form action="" ng-submit="updateOther(other)" name="form">
          <div class="form-group">
            <label>Type <i class="fa fa-asterisk fa-asterisk-required"></i></label>
            <div ui-select2="typeSelect" ng-model="other.$type" class="form-control"></div>
          </div>
          <div ng-show="other.$type.uri">
            <div class="form-group">
              <label>Name <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" ng-model="other[Uris.FOAF_NAME]" class="form-control" ng-hide="other[Uris.FOAF_FIRST_NAME]" placeholder="Name">
              <div ng-show="other[Uris.FOAF_FIRST_NAME]">
                <input type="text" ng-model="other[Uris.FOAF_FIRST_NAME]" class="form-control" placeholder="First Name" style="margin-bottom: 8px;"> <input type="text" ng-model="other[Uris.FOAF_LAST_NAME]" class="form-control"
                  placeholder="Last Name">
              </div>
            </div>
            <div class="form-group">
              <label for="summary">Summary</label>
              <textarea ui-tinymce="tinymceOptions" rows="10" id="summary" class="form-control" placeholder="Summary" ng-model="other[Uris.QA_SUMMARY]"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div> -->
  </div>
</div>