<style>
.legend {
	font: 10px/12px Arial, Helvetica, sans-serif;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 6px 8px;
	width: 185px;
	line-height: 18px;
	color: #555;
	text-transform: capitalize;
}

.outline {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.legend i {
	border-style: ridge;
	border-width: 3px;
}
</style>
<div class="alert alert-warning" ng-show="isDeletable" style="margin: 0;">
  <div class="container">
    <!-- Delete -->
    <button class="btn btn-default btn-xs" ng-click="delete()" ng-show="isDeletable">
      <i class="fa fa-trash-o"></i> Delete
    </button>
    <!-- /Delete -->
  </div>
</div>
<div class="l-frame l-frame-media" ng-if="map.locations.length">
  <div class="container">
    <h3 style="text-align: center; margin-bottom: 24px;" ng-show="compoundObject.title.length">
      <!-- Map title -->
      {{ compoundObject.title }}<br />
      <!-- /Map title -->
      <!-- Author name -->
      <small ng-show="compoundObject.user.displayName.length">By {{ compoundObject.user.displayName }}</small>
      <!-- /Author name -->
    </h3>
    <leaflet width="100%" height="400px"></leaflet>
  </div>
</div>