## https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-configure-your-server-to-work-with-html5mode
## Enabling mod_rewrite: $ sudo a2enmod rewrite
## Setting up .htaccess by adding "AllowOverride" in Apache *.conf file such as: <Directory /var/www/html> AllowOverride All </Directory>
## And restart Apache

        RewriteEngine on

        # Don't rewrite files or directories
        RewriteCond %{REQUEST_FILENAME} -f [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^ - [L]

        # Rewrite everything else to index.html to allow html5 state links
        RewriteRule ^ index.html [L]

        <filesMatch "\.(html|htm|js|css)$">
          FileETag None
          <ifModule mod_headers.c>
             Header unset ETag
             Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
             Header set Pragma "no-cache"
             Header set Expires "Wed, 13 Sep 2017 20:25:00 GMT"
          </ifModule>
        </filesMatch>

