<div class="l-frame l-frame-divided l-frame-tighter" ng-show="!$state.includes('ugc.map.edit') && (isEditable || isDeletable)">
	<div class="container">
		<!-- Edit -->
		<button class="btn btn-default" ui-sref="ugc.map.edit" ng-show="isEditable">
			<i class="fa fa-pencil"></i> Edit
		</button>
		<!-- /Edit -->
		<!-- Delete -->
		<button class="btn btn-default" ng-click="delete()" ng-show="isDeletable">
			<i class="fa fa-trash-o"></i> Delete
		</button>
		<!-- /Delete -->
	</div>
</div>
<div class="l-frame l-frame-media" ng-show="map.locations.length">
	
	<div class="container">
		<h3 style="text-align: center; margin-bottom: 24px;" ng-show="compoundObject.title.length">
			<!-- Map title -->
			{{ compoundObject.title }}<br/>
			<!-- /Map title -->

			<!-- Author name -->
			<small ng-show="compoundObject.user.user.length">By {{ compoundObject.user.email }}</small>
			<!-- /Author name -->
		</h3>
		<div ui-map="myMap" class="map-canvas map"
			ui-options="mapOptions">
		</div>	
	</div>
</div>