<div class="alert alert-info" style="margin-bottom: 8px;">
	<div class="container">
		<i class="fa fa-info-circle"></i> Plot locations on a map and build geographical relationships.		
	</div>
</div>
<div class="l-frame l-frame-tighter l-frame-divided">
	<div class="container">
		<div ng-hide="$state.includes('ugc.map.edit.add') || $state.includes('ugc.map.edit.list')">
			<button class="btn" ui-sref="ugc.map.edit.add.location" ng-class="{'btn-primary': !map.locations.length, 'btn-default': map.locations.length}">
				<i class="fa fa-plus"></i> Add More Locations
			</button>
			<button ng-show="map.locations.length" class="btn btn-link pull-right" ui-sref="ugc.map.edit.list"><i class="fa fa-pencil"></i> Edit Locations</button>
			<div class="text-muted" ng-hide="map.locations.length" style="margin-top: 16px;">No locations added. Try adding some locations.</div>
		</div>

		<div ng-show="$state.includes('ugc.map.edit.list')" class="panel panel-default">
			<div class="panel-heading">
				<a href="" ui-sref="ugc.map.edit" class="pull-right">
					<i class="fa fa-times"></i> 
				</a>
				Edit Locations
			</div>
			<div class="panel-body">
				<input type="text" class="form-control" ng-model="map.$import.listFilter" placeholder="Filter  location" style="border-radius: 100px; margin-bottom: 16px;">
				<div ng-repeat="location in map.locations | filter:map.$import.listFilter" style="margin-top: 8px;">
					<div class="row">
						<div class="col-sm-1">
							<img ng-src="{{ location.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
						</div>
						<div class="col-sm-11">
							<button class="btn btn-default btn-xs pull-right" ng-click="remove(location)">
								<i class="fa fa-trash-o"></i>
							</button>
							<p><strong>{{ location.name }}</strong> <span ng-show="location[Uris.QA_COMPLETION_DATE]">({{ location[Uris.QA_COMPLETION_DATE] }})</span>
														</p>
														<p ng-repeat="address in location.locations">{{ address }}</p>
														<p><span ng-repeat="typology in location.buildingTypologies">{{ typology.name }}</span></p>

							<!-- <p><i class="fa fa-map-marker" style="margin-right: 8px;"></i> <strong>{{ location.name }}</strong> <span ng-show="location[Uris.DCT_CREATED]">({{ location[Uris.DCT_CREATED] }})</span></p>

							<p><span ng-repeat="typology in location.buildingTypologies">{{ typology.name }}</span></p> -->
						</div>
					</div>
				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<button class="btn btn-primary" ui-sref="ugc.map.edit">Done</button>
				</li>
			</ul>
		</div>
		
		<div ng-if="$state.includes('ugc.map.edit.add')">
			<!-- <div class="panel-body">
				<i class="fa fa-times pull-right" ui-sref="ugc.map.edit"></i> -->
				<tabset>

					<!-- Import location -->
	    			<tab heading="Import Locations" select="$state.go('ugc.map.edit.add.import')">
	    				<div style="padding: 8px; margin-top: 8px;">
	    					<p class="text-muted">Search for architects, projects or firms to import locations.</p>
							<div 
								ui-select2="architectStructureFirmTypologySelect" 
								ng-model="map.$import.entity" 
								class="form-control">
							</div>

							<!-- Import Location list -->
							<div style="margin-top: 16px;">
								<div ng-show="map.$import.entity && map.$import.locations == null" style="text-align: center;">
									<i class="fa fa-spin fa-refresh"></i>
								</div>
								<div ng-show="map.$import.locations && !map.$import.locations.length">
									No locations found.
								</div>

								<div ng-show="isShowingFilters" style="margin-top: 16px;">
									<ul class="list-group">
										<!-- <div class="panel-heading">
											<div ng-show="(map.$import.locations | filter:importFilter).length !== map.$import.locations.length">
											Filtered: Showing {{ (map.$import.locations | filter:importFilter).length }} of {{ map.$import.locations.length }} locations <a href="" ng-click="clearImportFilters()">Clear Filters</a>
											</div>
										</div> -->
										<li class="list-group-item" ng-show="(map.$import.locations | filter:importFilter).length !== map.$import.locations.length">
											<strong>Showing {{ (map.$import.locations | filter:importFilter).length }} of {{ map.$import.locations.length }} locations</strong> <a href="" ng-click="clearImportFilters()">Clear Filters</a>
										</li>
										<li class="list-group-item" >
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
														<label>Name</label>
														<input type="text" ng-model="map.$import.filter.filter" class="form-control" placeholder="Filter by name">
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>Firm</label>
														<select ng-model="map.$import.filter.firmUri" class="form-control">
															<option selected="selected" value=""/>
															<option value="{{ firm.uri }}" ng-repeat="firm in map.$import.firms">
																{{ firm.name }}
															</option>
														</select>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>Architect</label>
														<select ng-model="map.$import.filter.architectUri" class="form-control">
															<option selected="selected" value=""/>
															<option value="{{ architect.uri }}" ng-repeat="architect in map.$import.architects">
																{{ architect.name }}
															</option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
														<label>Location</label>
														<input type="text" ng-model="map.$import.filter.location" class="form-control" placeholder="Filter by location">
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>Typology</label>
														<select ng-model="map.$import.filter.typologyUri" class="form-control">
															<option selected="selected" value=""/>
															<option value="{{ typology.uri }}" ng-repeat="typology in map.$import.typologies">
																{{ typology.name }}
															</option>
														</select>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>Completion Year</label>
														<div class="row">
															<div class="col-sm-6"><input type="text" placeholder="Start year" ng-model="map.$import.filter.startYear" class="form-control"></div>
															<div class="col-sm-6"><input type="text" placeholder="End year" ng-model="map.$import.filter.endYear" class="form-control"></div>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>

	
									<!-- <ul class="list-group">
										<li class="list-group-item media-body">
											<div class="pull-right">
												
											</div>

											<div>
											 	Previewing {{ (map.$import.locations | filter:importFilter).length }} Locations. 
											 	<a href="" ng-click="clearImportFilters()">Clear Filters ({{ map.$import.locations.length }})</a>
											</div>
											<div ng-show="(map.$import.locations | filter:importFilter).length !== map.$import.locations.length">
											Filtered: Showing {{ (map.$import.locations | filter:importFilter).length }} of {{ map.$import.locations.length }} locations <a href="" ng-click="clearImportFilters()">Clear Filters</a>
											</div>


											


										</li>
									</ul> -->
									
									<!-- Add button -->
									<!-- <div class="panel panel-primary">
										<div class="panel-heading media-body">
											<div class="pull-right">
											</div>
										</div>
										<div class="panel-body">
											
										</div>
									</div> -->
								</div>

								<div>
									<button class="btn btn-primary" 
										ng-click="addAll();" 
										ng-show="map.$import.prospectiveLocations.length">
										<i class="fa fa-plus"></i>
										Add Locations to Map ({{ map.$import.prospectiveLocations.length }} Locations)
									</button>
									<button class="btn btn-primary" disabled 
										ng-click="addAll()" 
										ng-show="map.$import.prospectiveLocations.length == 0 && map.$import.locations.length > 0"><i class="fa fa-check"></i> All added</button>

									<button class="btn btn-default" ng-click="cancel()" ng-show="map.locations.length">
										Cancel
									</button>

									

									<a href="" ng-click="isShowingFilters = !isShowingFilters" class="pull-right" ng-show="map.$import.prospectiveLocations.length">
										<i class="fa" ng-class="{'fa-chevron-right': !isShowingFilters, 'fa-chevron-up': isShowingFilters}"></i>
										Filters 
									</a>

								</div>
								

								

		
								<!-- List of locations + filters -->
								<div ng-show="false">
									<ul class="list-group">
										<!-- <li class="list-group-item list-group-item-success media-body">
											<button class="btn btn-primary" ng-click="import(map.$import.locations)">Add to Map ({{ map.$import.numberToImport || 0}})</button>
										</li> -->
										<li class="list-group-item list-group-item-warning">
											<!-- <h4>Filters</h4> -->
											
										</li>
										<li class="list-group-item list-group-item-warning" ng-show="(map.$import.locations | filter:importFilter).length !== map.$import.locations.length">
											Filtered: Showing {{ (map.$import.locations | filter:importFilter).length }} of {{ map.$import.locations.length }} locations <a href="" ng-click="clearImportFilters()">Clear Filters</a>
										</li>
										<li class="list-group-item">
											
										</li>
										<li class="list-group-item" style="display: none;">
											<div ng-repeat="location in map.$import.locations | filter:importFilter" class="row" style="margin-top: 8px;">
											<div>
												<div class="col-sm-1">

													<!-- Add button -->
													<button class="btn btn-primary" ng-click="add(location)" ng-hide="location.$added"><i class="fa fa-plus"></i></button>

													<!-- Added tick -->
													<button class="btn btn-primary" disabled ng-show="location.$added"><i class="fa fa-check"></i></button>
													<!-- <input type="checkbox" ng-model="location.$selected" ng-change="importSelectionChanged()"> -->
												</div>
												<div class="col-sm-1">
													<img ng-src="{{ location.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
												</div>
												<div class="col-sm-10" ng-click="expression">
													<p><strong>{{ location.name }}</strong> <span ng-show="location[Uris.QA_COMPLETION_DATE]">({{ location[Uris.QA_COMPLETION_DATE] }})</span>
													</p>
													<p ng-repeat="address in location.locations">{{ address }}</p>
													<p><span ng-repeat="typology in location.buildingTypologies">{{ typology.name }}</span></p>
												</div>
											</div>
										</div>
										</li>
									</ul>

								</div>
							</div>
	    				</div>
	    			</tab>
	    			<!-- /Import location -->

					<!-- New Location -->
	    			<tab heading="New Location" select="$state.go('ugc.map.edit.add.location')">
	    				<form style="padding: 8px; margin-top: 8px;">
	    					<p class="text-muted">Create a new location to add to the map.</p>
	    					<div class="form-group">
								<label class="control-label" for="dateHeadline">
									Name
									<i class="fa fa-asterisk" style="font-size: 10px;"></i>
								</label>
								<input ng-model="map.$tempLocation.name" name="dateHeadline" type="text" class="form-control" id="dateHeadline" placeholder="What is the name of your location?" required>
							</div>
							<div class="form-group">
								<label>
									Position
									<i class="fa fa-asterisk" style="font-size: 10px;"></i>
								</label>
								<div class="row">
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="Latitude" ng-model="map.$tempLocation.lat" required/>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="Longitude" ng-model="map.$tempLocation.lon" required/>
									</div>
								</div>
							</div>
							
							<div style="margin-top: 24px;">
								<button type="submit" class="btn btn-primary" ng-click="addLocation(map.$tempLocation)"
								ng-disabled="!map.$tempLocation.name || !map.$tempLocation.lat || !map.$tempLocation.lon">Add to Map</button>

								<button ui-sref="ugc.map.edit" class="btn btn-default" ng-show="map.locations.length">Cancel</button>
							</div>
	    				</form>
	    			</tab>
	    			<!-- /New Location -->
	  			</tabset>
			<!-- </div> -->
		</div>

		<!-- Location list -->
		<div style="display: none;">
			<h4>Added Locations TEST</h4>
			<div class="text-muted" ng-hide="map.locations.length">No locations added. Try adding some locations.</div>
			<!--  | slice:currentPage:currentPage+10 -->
			<div ng-repeat="location in map.locations" style="margin-top: 8px;">
				<div class="row">
					<div class="col-sm-1">
						<img ng-src="{{ location.asset.thumbnail }}" alt="thumbnail" class="img-responsive">
					</div>
					<div class="col-sm-11">
						<button class="btn btn-default btn-xs pull-right" ng-click="remove(location)">
							<i class="fa fa-trash-o"></i>
						</button>
						<p><strong>{{ location.name }}</strong> <span ng-show="location[Uris.QA_COMPLETION_DATE]">({{ location[Uris.QA_COMPLETION_DATE] }})</span>
													</p>
													<p ng-repeat="address in location.locations">{{ address }}</p>
													<p><span ng-repeat="typology in location.buildingTypologies">{{ typology.name }}</span></p>

						<!-- <p><i class="fa fa-map-marker" style="margin-right: 8px;"></i> <strong>{{ location.name }}</strong> <span ng-show="location[Uris.DCT_CREATED]">({{ location[Uris.DCT_CREATED] }})</span></p>

						<p><span ng-repeat="typology in location.buildingTypologies">{{ typology.name }}</span></p> -->
					</div>
				</div>
			</div>
		</div>
		<!-- /Location List -->
	</div>
</div>

<div class="l-frame l-frame-tighter l-frame-divided" ng-show="map.locations.length && !map.$import.prospectiveLocations.length && !$state.includes('ugc.map.edit.list') && !$state.includes('ugc.map.edit.add') && Auth.auth">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<input type="text" class="form-control" placeholder="Title: What is your map about?" ng-model="compoundObject.title">
			</div>
			<div class="col-sm-3">
				<button class="btn btn-primary form-control" ng-click="save()"
					ng-disabled="!compoundObject.title || !map.locations.length || !Auth.auth"
					ng-click="save()">
						Save Map ({{ map.locations.length }} locations)
				</button>
			</div>
		</div>
	</div>
</div>


	
