<div class="l-frame l-frame-media" ng-show="timeline.dates.length">
	<div class="container">

		<!-- Edit -->
		<button class="btn btn-default pull-right" ui-sref="ugc.timeline.edit" ng-hide="$state.includes('ugc.timeline.edit')">
			<i class="fa fa-pencil"></i> Edit
		</button>
		<!-- /Edit -->

		<h3 style="text-align: center; margin-bottom: 24px;" ng-show="compoundObject.title.length">
			<!-- Map title -->
			{{ compoundObject.title }}<br/>
			<!-- /Map title -->

			<!-- Author name -->
			<small ng-show="compoundObject.user.user.length">By {{ compoundObject.user.email }}</small>
			<!-- /Author name -->
		</h3>
		<timeline headline="{{ timeline.headline }}" subtitle="{{ timeline.subtitle }}" dates="timeline.dates"></timeline>
	</div>
</div>