<div class="page-header">
    <div class="container">
        <small><a ng-href="#/firms">Firms »</a></small>
        <h1>{{ firm.name }}</h1>
        <!--<a class="btn btn-sm btn-info" ng-href="#/explore?uri={{ architect.encodedUri}}">Explore {{ architect.name }}</a>-->
    </div>
</div>

<div class="subnav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li ng-class="{active: sub == 'summary'}"><a href="#/firm/{{ firm.encodedUri }}">Summary</a></li>
                    <li ng-class="{active: sub == 'structures'}"><a href="#/firm/{{ firm.encodedUri }}/employees">Employees</a></li>
                    <li ng-class="{active: sub == 'articles'}"><a href="#/architect/{{ architect.encodedUri }}/structures">Structures</a></li>
                    <li ng-class="{active: sub == 'relationships'}"><a href="#/architect/{{ architect.encodedUri }}/relationships">Relationships</a></li>
                    <li class="dropdown" ng-class="{active: sub == 'interviews'}" ng-show="interviews.length">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Interviews <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation" ng-repeat="interview in interviews">
                                <a role="menuitem" tabindex="-1" href="#architect/{{ architect.encodedUri }}/interview/{{ interview.encodedUri }}">Interview #{{ $index + 1 }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>