<div class="alert alert-warning" ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'" style="margin: 0;">
  <div class="container">
    <button class="btn btn-default btn-xs"
      ui-sref="upload.documents({id: (architect.id||firm.id||structure.id), name: (architect.label||firm.label||structure.label), type: (architect.type||firm.type||structure.type) })">
      <i class="fa fa-cloud-upload"></i> Upload Documents
    </button>
  </div>
</div>
<div class="l-frame l-frame-tight">
  <div class="container">
    <p class="text-muted" ng-hide="articles.length">No articles found.</p>
    <div ng-repeat="article in articles" class="row" style="margin-bottom: 20px;">
      <div class="col-md-1">
        <!-- Icon Square -->
        <div class="square square-icon"
          ng-class="{'square-interview': article.type=='interview', 'square-article': article.type == 'Article'||article.type == 'article'||article.type == 'firm'||article.type == 'person'}">
          <div class="square-content">
            <div class="center">
              <div class="center-content">
                <!-- Icon -->
                <i class="fa fa-book" ng-show="article.type == 'Article' || article.type == 'article'"></i> <i class="fa fa-microphone"
                  ng-show="article.type == 'interview'"></i> <i class="fa fa-briefcase" ng-show="article.type == 'firm'"></i> <i class="fa fa-user"
                  ng-show="article.type == 'person'"></i>
                <!-- /Icon -->
              </div>
            </div>
          </div>
        </div>
        <!-- /Icon Square -->
      </div>
      <div class="col-md-8">
        <!-- Article Details - the order based on IEEE format: http://www.ieee.org/documents/style_manual.pdf -->
        <h4>
          <!-- /Title -->
          <a ng-show="article.category == 'archobj'" ui-sref="article({ articleId: article.id })"> {{ article.label }} </a> <a
            ng-show="article.category == 'media'" ng-href="{{Uris.WS_DOWNLOAD+article.id}}" alt="" target="_blank"> {{
            article.label||article.filename }} </a>
          <!-- Title -->
        </h4>
        <h5 class="text-muted">
          <!-- Authors -->
          <span ng-show="article.authors">{{article.authors}}</span>
          <!-- /Authors -->
          <!-- Periodical Title -->
          <span ng-show="article.periodical">, {{article.periodical}}</span>
          <!-- /Periodical Title -->
          <!-- Volume -->
          <span ng-show="article.volume">, vol. {{article.volume}}</span>
          <!-- /Volume -->
          <!-- Issue -->
          <span ng-show="article.issue">, no. {{article.issue}}</span>
          <!-- /Issue -->
          <!-- Pages -->
          <span ng-show="article.pages">, pp. {{article.pages}}</span>
          <!-- /Pages -->
          <!-- Date Published -->
          <span ng-show="article.published">, {{article.published|date:'dd-MM-yyyy'}}</span>
          <!-- /Date Published -->
        </h5>
        <!-- article: Snippet -->
        <div ng-bind-html="article.snippet"></div>
      </div>
    </div>
  </div>
</div>