<div class="l-frame l-frame-tight">
  <div class="container">

    <div ng-repeat="article in articles" class="row" style="margin-bottom: 20px;">
      <div class="col-md-1">
        <!-- Icon Square -->
        <div class="square square-icon" ng-class="{'square-interview': article.type=='interview', 'square-article': article.type == 'article'}">
          <div class="square-content">
            <div class="center">
              <div class="center-content">
                <!-- Icon -->
                <i class="fa fa-book" ng-show="article.type == 'article'"></i> 
                <i class="fa fa-microphone" ng-show="article.type == 'interview'"></i> 
                <!-- /Icon -->
              </div>
            </div>
          </div>
        </div>
        <!-- /Icon Square -->
      </div>
      <div class="col-md-8">
        <!-- Article Details -->
        <h4>
          <!-- /Title -->
          <a ui-sref="article({ articleId: article.encodedUri })">
                        {{ article.title }}
                    </a>
          <!-- Title -->
        </h4>

        <h5 class="text-muted">
          <!-- Authors -->
          <span ng-show="article.authors">{{ article.authors }},</span>
          <!-- /Authors -->

          <!-- Periodical Title -->
          {{ article.periodicalTitle }}
          <!-- /Periodical Title -->

          <!-- Date Published -->
          <span ng-show="article.datePublished">, {{ article.datePublished }}</span>
          <!-- /Date Published -->

          <!-- Volume -->
          <span ng-show="article.volume">, volume {{ article.volume }}</span>
          <!-- /Volume -->

          <!-- Issue -->
          <span ng-show="article.issue">, issue {{ article.issue }}</span>
          <!-- /Issue -->

          <!-- Pages -->
          <span ng-show="article.issue">, {{ article.pages }}</span>
          <!-- /Pages -->

        </h5>

        <!-- article: Snippet -->
        <div ng-bind-html="article.snippet">
        </div>
      </div>
    </div>
  </div>
</div>
