<div class="alert alert-warning" ng-show="(Auth.user.role === 'editor' || Auth.user.role === 'admin') && !$state.includes('architect.summary.edit')"
  style="margin: 0;">
  <div class="container">
    <div ng-hide="$state.includes('architect.summary.edit')">
      <!-- Editor: &nbsp; &nbsp; -->
      <button class="btn btn-default btn-xs" ui-sref="architect.summary.edit({ architectId: architect.id })">
        <i class="fa fa-pencil"></i> Edit
      </button>
      <button class="btn btn-default btn-xs" ng-click="$parent.delete(architect)" ng-show="Auth.user.role === 'admin'">
        <i class="fa fa-trash-o"></i> Delete
      </button>
    </div>
  </div>
</div>
<div class="l-frame l-frame-tight">
  <div class="container">
    <div class="row" ng-hide="$state.includes('architect.summary.edit')">
      <div class="col-sm-7">
        <span ng-show="Auth.success"> </span>
        <h5>Biography</h5>
        <p style="white-space: pre-wrap;" ng-bind-html="architect.summary"></p>
        <p ng-show="!architect.summary.length">No biography.</p>
      </div>
      <div class="col-sm-5">
        <img ng-if="architect.media.length>1" class="img-responsive"
          ng-src="{{Uris.WS_MEDIA+((architect.media|filter:{preferred:'!!'})[0].id||architect.media[0].id)+'?dimension=460x550'}}" /> <img
          ng-if="architect.media.length==1&&architect.media[0].id" class="img-responsive"
          ng-src="{{Uris.WS_MEDIA+architect.media[0].id+'?dimension=460x550'}}" />
      </div>
    </div>
    <div class="row" ng-show="$state.includes('architect.summary.edit')">
      <div class="col-md-12">
        <form name="form" ng-submit="updateArchitect(architect)">
          <div class="form-group">
            <label for="">First Name <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" class="form-control"
              placeholder="First Name" ng-model="architect.firstname" required>
          </div>
          <div class="form-group">
            <label for="">Last Name <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" class="form-control"
              placeholder="Last Name" ng-model="architect.lastname" required>
          </div>
          <div class="form-group">
            <label for="">Also known as <i class="fa fa-info-circle" tooltip="Example: 'William Douglas' may be also known as 'Bill Douglas'"></i></label>
            <input type="text" class="form-control" placeholder="Also known as" ng-model="architect.preflabel">
          </div>
          <div class="form-group">
            <label for="biography">Biography</label>
            <textarea ui-tinymce="tinymceOptions" rows="10" id="biography" class="form-control" placeholder="Biography" ng-model="architect.summary"></textarea>
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" ng-model="architect.practicedinqueensland"> Practiced in Queensland
            </label>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>