<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>Upload Image</h1>
    </div>
  </div>
  <!-- Builder info -->
  <div class="alert alert-info" style="margin-bottom: 0;">
    <div class="container">
      <i class="fa fa-info-circle"></i> Upload new images.
    </div>
  </div>
  <!-- /Builder info -->
  <div class="l-frame l-frame-tight">
    <div class="container">
      <label class="control-label">Which architect or firm or project do the photos depict? <i class="fa fa-asterisk fa-asterisk-required"></i></label>
      <div class="row">
        <div class="col-sm-10">
          <div ui-select2="archObjSelect" ng-model="selectedObj" class="form-control" required></div>
        </div>
        <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
          <button class="btn btn-default form-control" ui-sref="structure.summary.edit({})">
            <i class="fa fa-plus"></i> Create New
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="control-label">Title of Detail <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input name="title"
          type="text" class="form-control" ng-model="selectedTitle" placeholder="What is this a photograph of?" required />
      </div>
      <div class="form-group">
        <label>Image Type <i class="fa fa-asterisk fa-asterisk-required"></i></label>
        <div ui-select2="imageTypeSelect" ng-model="imageType" class="form-control"></div>
      </div>
      <!-- Description -->
      <div class="form-group">
        <label>Description</label>
        <textarea placeholder="Describe this item" ng-model="image.description" class="form-control"></textarea>
      </div>
      <!-- Creator -->
      <div class="form-group">
        <label>Creator of Image <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" class="form-control"
          ng-model="image.creator" placeholder="Who is the creator?" />
      </div>
      <!-- Created Date -->
      <div class="form-group">
        <label>Created Date</label>
        <div class="well well-sm">
          <div uib-datepicker ng-model="image.created" show-weeks="false"></div>
          <div style="margin-top: 10px;" ng-show="image.created">
            <button type="button" class="btn btn-sm btn-primary" ng-click="image.created = ''">Clear</button>
          </div>
        </div>
      </div>
      <!-- Rights -->
      <div class="form-group">
        <label>Rights <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" class="form-control" ng-model="image.rights"
          placeholder="Who owns the rights to this item?" />
      </div>
      <!-- External Identifier -->
      <div class="form-group">
        <label>External Identifier</label> <input type="text" placeholder="Does this item have an external identifier?" ng-model="image.identifier"
          class="form-control">
      </div>
    </div>
  </div>
  <div class="l-frame l-frame-highlight" ng-show="selectedObj">
    <div class="container">
      <div class="alert alert-info">
        <p>
          Remember, all <strong>scanned images</strong> should be <strong>no more than 72DPI</strong>.
        </p>
      </div>
      <form>
        <div class="form-group upload">
          <div ng-file-drop ng-model="$files" ng-file-drag-over-class="upload-dropzone-dragover" ng-show="dropSupported" class="upload-dropzone">
            <i class="fa fa-cloud-upload"></i> Drag and Drop files here
          </div>
          <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
          <div class="upload-choose">
            <div class="upload-choose-label">Or select files</div>
            <input type="file" ng-file-select ng-model="$files" accept="image/*" multiple>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="l-frame l-frame-tight">
    <div class="container">
      <div ng-repeat="expression in expressions" class="row">
        <div class="col-sm-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ expression.$uploadFile.percent }}%;">{{ expression.$uploadFile.percent
              }}%</div>
          </div>
        </div>
        <div class="col-sm-2">
          <span ng-show="expression.$uploadFile.percent == 100"> Uploaded <i class="fa fa-check"></i>
          </span> <span ng-show="expression.$uploadFile.percent < 100"> Uploading... <i class="fa fa-spin fa-refresh"></i>
          </span>
        </div>
      </div>
      <button class="btn btn-primary" ng-click="onFileSelect($files)">Upload</button>
      <button class="btn btn-default" ng-click="cancelUpload()">Cancel</button>
    </div>
  </div>
</div>