<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>Upload Image</h1>
    </div>
  </div>

  <!-- Builder info -->
  <div class="alert alert-info" style="margin-bottom: 0;">
    <div class="container">
      <i class="fa fa-info-circle"></i> Upload new photographs or line drawings of projects.
    </div>
  </div>
  <!-- /Builder info -->

  <div class="l-frame l-frame-tight">
    <div class="container">
      <label class="control-label">Which architect or project do the photos depict?</label>
      <div class="row">
        <div class="col-sm-10">
          <div ui-select2="structureSelect" ng-model="selectedProject" class="form-control">
          </div>
        </div>
        <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
          <button class="btn btn-default form-control" ui-sref="structure.summary.edit({})"><i class="fa fa-plus"></i> Add Project</button>
        </div>
      </div>

    </div>

  </div>

  <div class="l-frame l-frame-highlight" ng-show="selectedProject">
    <div class="container">
        <div class="alert alert-info">
            <p>Remember, all <strong>scanned images</strong> should be <strong>no more than 72DPI</strong>.</p>
        </div>
      <form action="">
        <div class="form-group upload">
          <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="upload-dropzone-dragover" ng-show="dropSupported" class="upload-dropzone">
            <i class="fa fa-cloud-upload"></i> Drag and Drop files here
          </div>

          <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

          <div class="upload-choose">
            <!-- <input type="text" ng-model="myModelObj" class="form-control"> -->
            <!-- <input type="file" ng-file-select="onFileSelect($files)" class="form-control"> -->
            <div class="upload-choose-label">Or select files</div>
            <input type="file" ng-file-select="onFileSelect($files)" multiple>
          </div>

        </div>
        <!-- <button class="btn btn-default" ng-click="upload.abort()">Cancel Upload</button> -->
      </form>
    </div>
  </div>
  <div class="l-frame" id="uploads">
    <div class="container">
      <div class="panel panel-default" ng-repeat="expression in expressions">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">

              <img src="images/icon.png" alt="" class="img-responsive" ng-hide="expression.$file">
              <img ng-src="{{ expression.$file.thumb }}" alt="" class="img-responsive" ng-show="expression.$file">

            </div>
            <div class="col-sm-10">
              <!-- Published finished -->
              <div ng-show="expression.uri">
                <p>Published.</p>
                <a ng-href="{{ expression.$link }}" class="btn btn-default">View Image</a>
              </div>

              <!-- Not finished -->
              <div ng-show="!expression.uri">
                <div class="row">
                  <div class="col-sm-10">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: {{ expression.$uploadFile.percent }}%;">
                        {{ expression.$uploadFile.percent }}%
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <span ng-show="expression.$uploadFile.percent == 100">
                      Uploaded <i class="fa fa-check"></i> 
                    </span>
                    <span ng-show="expression.$uploadFile.percent < 100">
                      Uploading... <i class="fa fa-spin fa-refresh"></i>
                    </span>
                  </div>
                </div>

                <form name="expression.$form" novalidate>
                  <!-- Type (Line drawing, photograph) -->
                  <div class="form-group" ng-if="selectedProject.type === 'structure'">
                    <label class="control-label" style="display:block;">Type <i class="fa fa-asterisk fa-asterisk-required"></i>
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="{{ Uris.QA_PHOTOGRAPH_TYPE }}" ng-model="expression[Uris.RDF_TYPE]">Photograph
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="inlineCheckbox2" value="{{ Uris.QA_LINEDRAWING_TYPE }}" ng-model="expression[Uris.RDF_TYPE]">Line Drawing
                    </label>
                  </div>

                  <!-- Title -->
                  <div class="form-group">
                    <label for="" class="control-label">Title</label>
                    <input name="title" type="text" class="form-control" ng-model="expression[Uris.DCT_TITLE]" placeholder="What is this a photograph of?" required/>
                  </div>


                  <!-- Description -->
                  <div class="form-group">
                    <label>Description</label>
                    <textarea placeholder="Describe this item" ng-model="expression[Uris.DCT_DESCRIPTION]" class="form-control"></textarea>
                  </div>

                  <!-- Creator -->
                  <div class="form-group" class="form-group">
                    <label>Creator <i class="fa fa-asterisk fa-asterisk-required"></i>
                    </label>
                    <div class="radio">
                      <label>
                        <input name="creator" type="radio" ng-model="expression.$creator" value="creator" ng-change="expression[Uris.DCT_CREATOR] = Auth.email; expression[Uris.DCT_RIGHTS] = Auth.email; expression.$rights = 'owner'" required>I am the creator
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input name="creator" type="radio" ng-model="expression.$creator" value="other" ng-change="expression[Uris.DCT_CREATOR] = ''" required>Other
                      </label>
                    </div>
                    <input type="text" placeholder="Who created this item?" ng-model="expression[Uris.DCT_CREATOR]" class="form-control" ng-show="expression.$creator === 'other'">
                  </div>

                  <!-- Created Date -->
                  <div class="form-group">
                    <!-- <label>Created Date</label> -->
                    <!-- <input type="text" placeholder="When was this created?" ng-model="expression[Uris.DCT_CREATED]" class="form-control"> -->

                    <label>Created Date</label>
                    <div>
                        {{ expression[Uris.DCT_CREATED] | date:'dd-MM-yyyy' }}
                    </div>
                    
                    <!-- <input type="text" ng-model="structure[Uris.QA_COMPLETION_DATE]" class="form-control" placeholder="Completion date of project" /> -->

                    <div class="well well-sm">
                        <datepicker ng-model="expression[Uris.DCT_CREATED]" show-weeks="false"></datepicker>
                        <div style="margin-top: 10px;" ng-show="expression[Uris.DCT_CREATED]">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="expression[Uris.DCT_CREATED] = ''">Clear</button>    
                        </div>
                    </div>

                  </div>

                  <!-- Rights -->
                  <div class="form-group">
                    <label>Rights <i class="fa fa-asterisk fa-asterisk-required"></i>
                    </label>
                    <div class="radio">
                      <label>
                        <input name="rights" type="radio" value="owner" ng-model="expression.$rights" ng-change="expression[Uris.DCT_RIGHTS] = Auth.email;" required>I own the rights
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input name="rights" type="radio" value="permission" ng-model="expression.$rights" ng-change="expression[Uris.DCT_RIGHTS] = ''; expression.$permissionFrom = ''" required>I have permission
                      </label>
                    </div>
                    <input type="text" placeholder="Who owns the rights to this item?" ng-model="expression.$permissionFrom" class="form-control" ng-show="expression.$rights == 'permission'" ng-change="expression[Uris.DCT_RIGHTS] = Auth.email + ' with permission from ' + expression.$permissionFrom">

                    <div class="radio">
                      <label>
                        <input type="radio" value="orphaned" ng-model="expression.$rights" ng-change="expression[Uris.DCT_RIGHTS] = 'Orphaned'">It is orphaned
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" value="other" ng-model="expression.$rights" ng-change="expression[Uris.DCT_RIGHTS] = ''" required name="rights">Other
                      </label>
                    </div>
                    <input type="text" placeholder="Who owns the rights to this item?" ng-model="expression[Uris.DCT_RIGHTS]" class="form-control" ng-show="expression.$rights == 'other'">
                  </div>

                  <!-- External Identifier -->
                  <div class="form-group">
                    <label>External Identifier</label>
                    <input type="text" placeholder="Does this item have an external identifier?" ng-model="expression[Uris.DCT_IDENTIFIER]" class="form-control">
                  </div>

                  <div ng-hide="expression.uri">
                    <button class="btn btn-primary" ng-click="publish(expression)" ng-disabled="expression.$form.$invalid">Publish</button>

                    <button class="btn btn-default" ng-click="cancelUpload(expression)">Cancel</button>
                  </div>
                  <div ng-show="expression.uri">
                    <button disabled class="btn btn-primary"><i class="fa fa-check"></i> Published</button>
                  </div>
                  <!--<div class="form-group">
                                                <label class="control-label">Project</label>
                                                <div 
                                                    ui-select2="structureSelect" 
                                                    ng-model="expression.$depicts" 
                                                    class="form-control">
                                                </div>
                                            </div>-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
