<div class="content">
	<div class="page-header has-subnav">
	    <div class="container">
	        <h1>Upload Image</h1>
	        <h1 ng-show="$stateParams.type === 'linedrawing'">New Line Drawings</h1>
	    </div>
	</div>

	<!-- Builder info -->
	<div class="alert alert-info" style="margin-bottom: 0;">
		<div class="container">
			<i class="fa fa-info-circle"></i> Upload new photographs or line drawings of projects.
		</div>
	</div>
	<!-- /Builder info -->

	<div class="l-frame l-frame-highlight" >
        <div class="container">
        	<form action="">
        		<div class="form-group upload">
	        		<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="upload-dropzone-dragover"
		            ng-show="dropSupported" class="upload-dropzone">
		            	<i class="fa fa-cloud-upload"></i> Drag and Drop files here
		            </div>
		            
		            <div ng-file-drop-available="dropSupported=true" 
		            ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

		            <div class="upload-choose">
		            	<!-- <input type="text" ng-model="myModelObj" class="form-control"> -->
	            		<!-- <input type="file" ng-file-select="onFileSelect($files)" class="form-control"> -->
	            		<div class="upload-choose-label">Or select files</div> 
	            		<input type="file" ng-file-select="onFileSelect($files)" multiple >
		            </div>
        			
        		</div>
	            <!-- <button class="btn btn-default" ng-click="upload.abort()">Cancel Upload</button> -->
        	</form>
    	</div>
	</div>
	<div class="l-frame" id="uploads">
		<div class="container">
        	<div class="panel panel-default" ng-repeat="expression in expressions">
        		<div class="panel-body">
        			
        			<div class="row">
        				
    					<div class="col-md-10">

    						<div ng-show="expression.uri">
    							<div class="row">
    								<div class="col-md-2">
    									<img ng-src="{{ expression.$file.thumb }}" alt="" class="img-responsive" ng-show="expression.$file">
    								</div>
    								<div class="col-md-10">
    									<h4>Title</h4>
    									<p>{{ expression[Uris.DCT_TITLE] }}</p>
    									<h4>Depicts</h4>
    									<p><a ng-href="{{ expression.$depictsLink }}">{{ expression.$depicts.name }}</a></p>
    								</div>
    							</div>
    						</div>

    						<div ng-hide="expression.uri">
	    						<div class="progress" style="height: 38px;">
							  		<div class="progress-bar" role="progressbar" style="width: {{ expression.$uploadFile.percent }}%; line-height: 38px;">
							    		{{ expression.$uploadFile.percent }}%
							  		</div>
								</div>	

								<div class="row">
									<div class="col-md-2">
			        					<img src="images/icon.png" alt="" class="img-responsive" ng-hide="expression.$file">
			        					<img ng-src="{{ expression.$file.thumb }}" alt="" class="img-responsive" ng-show="expression.$file">
			        				</div>
									<div class="col-md-10">
										<form>
					        				<div class="form-group">
					        					<label for="" class="control-label">Title</label>
					        					<input type="text" class="form-control" ng-model="expression[Uris.DCT_TITLE]" placeholder="What is this a photograph of?"/>	
					        				</div>
					        				<div class="form-group">
					        					<label class="control-label" style="display:block;">Type</label>
					        					<label class="radio-inline">
												  <input type="radio" value="{{ Uris.QA_PHOTOGRAPH_TYPE }}" ng-model="expression[Uris.RDF_TYPE]"> Photograph
												</label>
												<label class="radio-inline">
												  <input type="radio" id="inlineCheckbox2" value="{{ Uris.QA_LINEDRAWING_TYPE }}" ng-model="expression[Uris.RDF_TYPE]"> Line Drawing
												</label>
					        				</div>
					        				<div class="form-group">
						        				<label class="control-label">Project</label>
						        				<div 
													ui-select2="structureSelect" 
													ng-model="expression.$depicts" 
													class="form-control">
												</div>
						        			</div>
					        			</form>
									</div>
								</div>		
    						</div>
						
    					</div>
    					<div class="col-md-2">
    						<div ng-hide="expression.uri">
    							<button style="margin-bottom: 8px;" class="btn btn-primary form-control" ng-click="publish(expression)" ng-disabled="!expression[Uris.DCT_TITLE] || !expression.$depicts">Publish</button>

    							<button class="btn btn-default form-control" ng-click="cancelUpload(expression)">Cancel</button>
    						</div>
    						<div ng-show="expression.uri">
    							<button disabled class="btn btn-primary form-control"><i class="fa fa-check"></i> Published</button>
    						</div>
    					</div>
    				</div>
        		</div>
        	</div>
        </div>
        
    </div>
</div>