<div class="thumbnail thumbnail-fix">
  <div ng-if="!(architect.subjecttype=='person'||architect.objecttype=='person')">
    <a ui-sref="architect.summary({architectId: architect.id})" class="thumbnail-image"> <img ng-if="architect.media"
      ng-src="{{Uris.WS_MEDIA+architect.media+'?dimension=163x165'}}" alt="{{ architect.label }}"> <img ng-if="!architect.media"
      ng-src="images/icon.png" alt="{{ architect.label }}">
    </a>
    <div class="caption">
      <h4>
        <a ui-sref="architect.summary({architectId: architect.id})"> {{ architect.label }} </a>
      </h4>
    </div>
  </div>
  <div ng-if="architect.subjecttype=='person'||architect.objecttype=='person'">
    <a ui-sref="architect.summary({architectId: architect.personId})" class="thumbnail-image"> <img ng-if="architect.media"
      ng-src="{{Uris.WS_MEDIA+architect.media+'?dimension=163x165'}}" alt="{{ architect.personlabel }}"> <img ng-if="!architect.media"
      ng-src="images/icon.png" alt="{{ architect.personlabel }}">
    </a>
    <div class="caption">
      <h4>
        <a ui-sref="architect.summary({architectId: architect.personId})"> {{ architect.personlabel }} </a>
      </h4>
    </div>
  </div>
</div>