<div class="thumbnail thumbnail-fix">
  <div ng-if="!(firm.subjecttype=='firm'||firm.objecttype=='firm')">
    <a ui-sref="firm.summary({firmId:firm.id})" class="thumbnail-image"> <img ng-if="firm.media"
      ng-src="{{Uris.WS_MEDIA+firm.media+'?dimension=163x165'}}" alt="{{firm.label}}"> <img ng-if="!firm.media" ng-src="images/icon.png"
      alt="{{firm.label}}"></a>
    <div class="caption">
      <h4>
        <a ui-sref="firm.summary({firmId:firm.id})"> {{firm.label}} </a>
      </h4>
    </div>
  </div>
  <div ng-if="firm.subjecttype=='firm'">
    <a ui-sref="firm.summary({firmId:firm.id})" class="thumbnail-image"> <img ng-if="firm.media"
      ng-src="{{Uris.WS_MEDIA+firm.media+'?dimension=163x165'}}" alt="{{ firm.subjectlabel }}"> <img ng-if="!firm.media"
      ng-src="images/icon.png" alt="{{ firm.subjectlabel }}">
    </a>
    <div class="caption">
      <h4>
        <a ui-sref="firm.summary({firmId: firm.subject})"> {{ firm.subjectlabel }} </a>
      </h4>
    </div>
  </div>
  <div ng-if="firm.objecttype=='firm'">
    <a ui-sref="firm.summary({firmId: firm.object})" class="thumbnail-image"> <img ng-if="firm.media"
      ng-src="{{Uris.WS_MEDIA+firm.media+'?dimension=163x165'}}" alt="{{ firm.objectlabel }}"> <img ng-if="!firm.media" ng-src="images/icon.png"
      alt="{{ firm.objectlabel }}">
    </a>
    <div class="caption">
      <h4>
        <a ui-sref="firm.summary({firmId: firm.object})"> {{ firm.objectlabel }} </a>
      </h4>
    </div>
  </div>
</div>