<div class="thumbnail">
  <!-- image -->
  <a class="thumbnail-image" ui-sref="interview({interviewId: interview.encodedUri})"> <img ng-if="!interview.interviewees[0].picture" src="images/icon.png" style="display: block; width: 100%"> <img ng-if="interview.interviewees[0].picture"
    ng-src="{{ interview.interviewees[0].picture.thumb }}" class="img-responsive">
  </a>
  <!-- caption -->
  <div class="caption">
    <h4>
      <a ui-sref="interview({interviewId: interview.encodedUri})"> {{ interview.interviewees[0].name || interview[Uris.DCT_TITLE] }} </a>
    </h4>
  </div>
</div>