<div class="thumbnail">
  <div ng-if="!(structure.subjecttype=='structure'||structure.objecttype=='structure')">
    <a ui-sref="structure.summary({structureId: structure.id})" class="thumbnail-image"> <img ng-if="structure.media"
      ng-src="{{Uris.WS_MEDIA+structure.media+'?dimension=163x165'}}" alt="{{structure.label}}"> <img ng-if="!structure.media"
      ng-src="images/icon.png" alt="{{structure.label}}"></a>
    <div class="caption">
      <h4>
        <a ui-sref="structure.summary({structureId: structure.id})"> {{structure.label}} </a>
      </h4>
    </div>
  </div>
  <div ng-if="structure.subjecttype=='structure'||structure.objecttype=='structure'">
    <a ui-sref="structure.summary({structureId: structure.structureId})" class="thumbnail-image"> <img ng-if="structure.media"
      ng-src="{{Uris.WS_MEDIA+structure.media+'?dimension=163x165'}}" alt="{{structure.structurelabel}}"> <img ng-if="!structure.media"
      ng-src="images/icon.png" alt="{{structure.structurelabel}}"></a>
    <div class="caption">
      <h4>
        <a ui-sref="structure.summary({structureId: structure.structureId})"> {{structure.structurelabel}} </a>
      </h4>
    </div>
  </div>
</div>