<div class="content">
    <div class="page-header">
        <div class="container">
            <h1>Compound</h1>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <iframe id="compoundcontainer" style="height: 668px; width: 1110px;" 
                    		class="compoundcontainer" src="/beta/compoundui/compound.html"></iframe>
                </div>
            </div>
        </div>
    </section>

</div>