<div class="content">
    <div class="page-header page-header-compoundobject">
        <div class="container">
        	<h1><img src="images/icon_8454.svg" style="width: 50px; margin-right: 8px;" /> Compound Objects</h1>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <iframe id="compoundcontainer" style="height: 668px; width: 1110px;" 
                    		class="compoundcontainer" src="/beta/compoundui/compound.html"></iframe>
                </div>
            </div>
        </div>
    </section>

</div>