<footer class="container">
    <div class="row">
        <div class="col-md-2 col-sm-2 footer-logo">
            <img src="images/logos/cgramw_logo_rgb.png" alt="" class="img-responsive"/>
        </div>
        <div class="col-md-2 col-sm-2 footer-logo">
            <img src="images/logos/sql_and_gov_logos_solid_mono.png" alt="" class="img-responsive"/>
        </div>
        <div class="col-md-2 col-sm-2 footer-logo">
            <img src="images/logos/uq_black.png" alt="" class="img-responsive"/>
        </div>
        <div class="col-md-2 col-sm-2 footer-logo">
            <img src="images/logos/arc_black.png" alt="" class="img-responsive"/>
        </div>
        <div class="col-md-2 col-sm-2 footer-logo">
            <img src="images/logos/bvndh_logo.png" alt="" class="img-responsive" style="height: 50px;" />
        </div>
        <div class="col-md-2 col-sm-2 footer-logo">
            <img src="images/logos/wa_mac_bw.png" alt="" class="img-responsive"/>
        </div>
    </div>
</footer>