<div class="content">
    <!--<div class="page-header" style="background-image: url('images/header.jpg'); height: 200px;">-->
        <!--<div class="container">-->
            <!--<h1>-->
                <!--QLDArch-->
            <!--</h1>-->
        <!--</div>-->
    <!--</div>-->

    <!--<section>-->
        <!--<div class="container">-->
            <!--<div ng-include="'views/searchbox.html'"></div>-->
            <!--<div class="row">-->
                <!--<div ng-repeat="entity in entities">-->
                    <!--<a ng-href="#/explore?uri={{ entity.encodedUri }}">{{ entity.name }}</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Architects
                        <a href="#/architects" class="btn btn-sm btn-default pull-right">More architects</a>
                    </h2>
                </div>
            </div>
            <div class="row" ng-repeat="architectRow in architectRows | limitTo:1">
                <div class="col-sm-2" ng-repeat="architect in architectRow">
                    <div ng-include="'views/thumbs/architect.html'"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>The story of Queensland's postwar architecture is largely a tacit one.
                        The architects who worked and studied at this time possess knowledge
                    of the key events, buildings, practices and institutions of the period.</p>
                    <p>
                        While this information is often spoken, most commonly within the confines of
                        the architectural community, it remains unrecorded. Documenting these histories
                        using the oral history interview/digital story, this website aims to make
                        this tacit historical knowledge explicit for the first time.
                    </p>
                    <p>
                        Using innovating semantic web technologies, mapping applications,
                        timeline generators, etc. this website allows you to visually map the connections
                        that bind these oral histories to related materials, such as drawings, photographs,
                        books and manuscripts and thus contribute to the development of a new
                        multi-media resource on Queensland architecture and design.
                    </p>
                </div>
                <div class="col-lg-6">

                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contact us</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                To contact one of the project collaborators, send us an email
                                or leave a note on our Facebook Page.
                            </p>
                            <ul>
                                <li><a href="mailto:postwar@architecture.uq.edu.au">postwar@architecture.uq.edu.au</a></li>
                                <li><a href="http://fb.com/QueenslandPostWarArchitecture">fb.com/QueenslandPostWarArchitecture</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label for="yourcomments">Your Comments</label>
                            <textarea name="comments" class="form-control" id="yourcomments" placeholder="Have your say"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input name="firstName" type="text" class="form-control" id="firstname" placeholder="What's your first name?">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input name="lastName" type="text" class="form-control" id="lastname" placeholder="What's your last name?">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input name="email" type="email"  class="form-control" id="email" placeholder="What's your email address?">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="newsletter" type="checkbox"> Please send me the latest news via email
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Have Your Say</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Did you practice Architecture in Queensland during the years 1945-75?</li>
                                <li>Were you involved in the profession - as an administrator, a contractor, a client?</li>
                                <li>Would you like your say on how Architecture in Queensland 1945-75 is remembered?</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Interviews
                        <a href="#/interviews" class="btn btn-sm btn-default pull-right">More interviews</a>
                    </h2>
                </div>
            </div>
            <div class="row" ng-repeat="interviewRow in interviewRows | limitTo:1">
                <div class="col-sm-2" ng-repeat="interview in interviewRow">
                    <div ng-include="'views/thumbs/interview.html'"></div>
                </div>
            </div>
        </div>
    </section>-->

</div>