<div class="content">
    <!--<div class="page-header" style="background-image: url('images/header.jpg'); height: 200px;">-->
        <!--<div class="container">-->
            <!--<h1>-->
                <!--QLDArch-->
            <!--</h1>-->
        <!--</div>-->
    <!--</div>-->

    <!--<section>-->
        <!--<div class="container">-->
            <!--<div ng-include="'views/searchbox.html'"></div>-->
            <!--<div class="row">-->
                <!--<div ng-repeat="entity in entities">-->
                    <!--<a ng-href="#/explore?uri={{ entity.encodedUri }}">{{ entity.name }}</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <div class="jumbotron">
        <div class="container">
            <h1>Explore Queensland Mid-century Architecture</h1>
            <p>Search for architects, firms and projects or use the interactive tools</p>
        </div>
    </div> 

    <div class="l-frame">
        <input type="text" ng-model="myModelObj">
        <input type="file" ng-file-select="onFileSelect($files)" >
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
        ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true" 
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <button ng-click="upload.abort()">Cancel Upload</button>
    </div>


    <div class="l-frame l-frame-highlight l-frame-tight">
        <div class="container">
            <form class="form form-horizontal jumbosearch">
                <div class="form-group">
                    <label class="col-sm-1 col-md-offset-2 control-label" >Search</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text"
                               class="form-control"
                               ng-model="globalSearch.query"
                               placeholder="search for architects, buildings, firms, articles, and more"
                               typeahead="entity.name for entity in globalSearch($viewValue) | filter:$viewValue"
                               typeahead-loading="loadingLocations" class="form-control"
                               typeahead-min-length="1"
                               typeahead-on-select="globalSearchOnSelect($item, $model, $label)" />
                            <span class="input-group-addon">
                                <i ng-show="!loadingLocations" class="fa fa-search"></i>
                                <i ng-show="loadingLocations" class="fa fa-spin fa-refresh"></i>
                            </span>
                        </div>    
                    </div>
                </div>    
            </form>
        </div>
    </div>

    <div class="l-frame ">
        <div class="container">
            <div class="overview">
                <div class="overview-header overview-header-about">
                    <h2>Hot Modernism</h2>
                    <small>Queensland Architecture 1945-1975</small>    
                </div>
                
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p>This digital archive of Queensland architecture offers a wealth of information on the region's design history. Currently focussed primarily on the period 1945-1975, the database comprises thousands of audiovisual and textual files that allows you to explore relationships between people, projects and firms in the post-war period.</p>
                        <p>Make sure to also test the research tools to build your customised map, timeline, compound object or word cloud and gain a deeper understanding of Queensland's architectural history.</p>
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>
                
            </div>
            
            <!-- 
            <div class="row">
                <!--<div class="col-md-2">
                    <div class="l-dateball">
                        <div class="dateball">
                            <div class="dateball-content">
                                <div class="center">
                                    <div class="center-content">
                                        <div class="dateball-start">1945 - </div>
                                        <div class="dateball-end">1975</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="l-frame l-frame-highlight">
        <div class="container">
            <div class="overview">
                <div class="overview-header">
                    <h2>Start Exploring</h2>
                    <p>Listen to interviews with prominent Queensland architects</p>    
                </div>
                
                <div class="row" ng-repeat="architectRow in architectRows | slice:architectsStart:architectsEnd">
                    <div class="carousel">
                        <div class="col-sm-1" class="hidden-phone">
                            <div class="carousel-nav carousel-nav-left" ng-click="prevArchitects()" ng-hide="architectsStart === 0">
                                <i class="fa fa-chevron-left"></i>      
                            </div>
                        </div>
                        <div class="col-sm-2" ng-repeat="interview in architectRow">
                            <div ng-include="'views/thumbs/interview.html'"></div>
                        </div>
                        <div class="col-sm-1" class="hidden-phone">
                            <div class="carousel-nav carousel-nav-right" ng-click="nextArchitects()" ng-hide="architectsEnd === architectRows.length">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </div>    
                    </div>
                </div>
                <div style="text-align: center; font-weight: bold;" class="hidden-phone">
                    {{ architectsStart + 1 }} / {{ architectRows.length }}
                </div>
            </div>
        </div>
    </div>

    <div class="l-frame">
        <div class="container">
            <div class="overview">
                <div class="overview-header">
                    <h2>Start Building</h2>    
                    <p>Create your customised map, timeline, compound object or word cloud</p>
                </div>
                
                <!-- Creative Commons – Attribution (CC BY 3.0)  http://creativecommons.org/licenses/by/3.0/us/legalcode
                    Map by Simple Icons from the Noun Project -->
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-2">
                        <a href ui-sref="ugc.map.edit({})">
                            <div class="square square-map square-tool">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <img src="images/icon_32152.svg"/>
                                            <h3>Create a Map</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                        <!-- <a class="toolsquare toolsquare-map" href>
                            <div class="square">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <img src="images/icon_32152.svg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Create a Map</h3>
                        </a> -->
                        <p>Plot data on a map and build geographical relationships</p>   
                    </div>

                     <div class="col-sm-2">
                        <a href ui-sref="ugc.wordcloud.edit({})">
                            <div class="square square-wordcloud square-tool">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <img src="images/icon_22989.svg"/>
                                            <h3>Create a Word Cloud</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        

                        <!-- <a class="toolsquare toolsquare-wordcloud" href>
                            <div class="square">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <img src="images/icon_22989.svg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Create a Word Cloud</h3>
                        </a> -->
                        <p>Select textual data to build a semantic text analysis</p>
                    </div>


                    <div class="col-sm-2">
                        <a href ui-sref="ugc.timeline.edit({})">
                            <div class="square square-timeline square-tool">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <img src="images/icon_32180.svg"/>
                                            <h3>Create a Timeline</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                        <!-- <a class="toolsquare toolsquare-timeline" href>
                            <div class="square">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <img src="images/icon_32180.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Create a Timeline</h3>
                        </a> -->
                        <p>Plot data on a timeline and build temporal relationships</p>
                    </div>
                    <div class="col-sm-2">
                        <a href>
                            <div class="square square-compoundobject square-tool">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <img src="images/icon_8454.svg"/>
                                            <h3>Create a Compound Object</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <!-- <a class="toolsquare toolsquare-compoundobject" href>
                            <div class="square">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <img src="images/icon_8454.svg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Create a Compound Object</h3>
                        </a> -->
                        <p>Build a visual outline of your personal research trajectory</p>    
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="l-frame l-frame-highlight">
        <div class="container">
            <div class="overview">
                <div class="overview-header">
                    <h2>Gallery</h2>    
                </div>

                <div class="row" ng-repeat="compoundObjectRow in compoundObjectRows | slice:compoundObjectsStart:compoundObjectsEnd">
                    <div class="carousel">
                        <div class="col-sm-1" class="hidden-phone">
                            <div class="carousel-nav carousel-nav-left" ng-click="prevCompoundObjects()" ng-hide="compoundObjectsStart === 0">
                                <i class="fa fa-chevron-left"></i>      
                            </div>
                        </div>
                        <div class="col-sm-2" ng-repeat="compoundObject in compoundObjectRow">
                            <div ng-include="'views/thumbs/compoundobject.html'"></div>
                        </div>
                        <div class="col-sm-1" class="hidden-phone">
                            <div class="carousel-nav carousel-nav-right" ng-click="nextCompoundObjects()" ng-hide="compoundObjectsEnd === compoundObjectRows.length">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </div>    
                    </div>
                </div>
                <div style="text-align: center; font-weight: bold;" class="hidden-phone">
                    {{ compoundObjectsStart + 1 }} / {{ compoundObjectRows.length }}
                </div>

            </div>
        </div>
    </div>
    
    <div class="l-frame ">
        <div class="container">
            <div class="overview">
                <div class="overview-header">
                    <h2>Get in touch</h2>    
                </div>
                <div class="row">
                    <div class="col-sm-1 col-sm-offset-5">
                        <a class="thumbnail" href>
                            <div class="square square-facebook square-icon">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <i class="fa fa-facebook"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="caption">
                                <h3>
                                    Facebook
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-1">
                        <a class="thumbnail" href>
                            <div class="square square-email square-icon">
                                <div class="square-content">
                                    <div class="center">
                                        <div class="center-content">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="caption">
                                <h3>
                                    Email
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--<section >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label for="yourcomments">Your Comments</label>
                            <textarea name="comments" class="form-control" id="yourcomments" placeholder="Have your say"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input name="firstName" type="text" class="form-control" id="firstname" placeholder="What's your first name?">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input name="lastName" type="text" class="form-control" id="lastname" placeholder="What's your last name?">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input name="email" type="email"  class="form-control" id="email" placeholder="What's your email address?">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="newsletter" type="checkbox"> Please send me the latest news via email
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contact us</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                To contact one of the project collaborators, send us an email
                                or leave a note on our Facebook Page.
                            </p>
                            <ul>
                                <li><a href="mailto:postwar@architecture.uq.edu.au">Email</a></li>
                                <li><a href="http://fb.com/QueenslandPostWarArchitecture">Facebook</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Have Your Say</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Did you practice Architecture in Queensland during the years 1945-75?</li>
                                <li>Were you involved in the profession - as an administrator, a contractor, a client?</li>
                                <li>Would you like your say on how Architecture in Queensland 1945-75 is remembered?</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    
    <!--<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Interviews
                        <a href="#/interviews" class="btn btn-sm btn-default pull-right">More interviews</a>
                    </h2>
                </div>
            </div>
            <div class="row" ng-repeat="interviewRow in interviewRows | limitTo:1">
                <div class="col-sm-2" ng-repeat="interview in interviewRow">
                    <div ng-include="'views/thumbs/interview.html'"></div>
                </div>
            </div>
        </div>
    </section>-->

</div>