<div class="page-header">
    <div class="container">
        <small>
            <a ng-show="photograph.building" ng-href="#/structure/{{ photograph.building.encodedUri }}">{{ photograph.building.name }} »</a>
        </small>
        <h1>{{ photograph[Uris.DCT_TITLE] }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img ng-if="photograph.file" class="img-responsive" ng-src="{{ Uris.FILE_ROOT + photograph.file[Uris.QA_SYSTEM_LOCATION] }}" alt=""/>
            <img ng-if="!photograph.file" ng-src="images/icon.png" style="display:block; width:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Title</h5>
            <p>
                {{ photograph[Uris.DCT_TITLE] }}
            </p>

            <h5>Rights</h5>
            <p>
                {{ photograph[Uris.DCT_RIGHTS] }}
            </p>

            <!--<h5>Creator</h5>-->
            <!--<p>-->
                <!--{{ photograph[Uris.DCT_CREATOR] }}-->
            <!--</p>-->





            <!--<h5>Related To</h5>-->
            <!--<pre>-->
                <!--{{ photograph[Uris.QA_RELATED_TO] }}-->
            <!--</pre>-->

            <!--<h5>Associated Firm</h5>-->
            <!--<p>-->
                <!--{{ photograph[Uris.QA_ASSOCIATED_FIRM] }}-->
            <!--</p>-->

            <h5>Identifier</h5>
            <p>
                {{ photograph[Uris.DCT_IDENTIFIER] }}
            </p>
        </div>
        <div class="col-md-6">
            <h5>
                Building
            </h5>
            <p>
                <a href="#/structure/{{ photograph.building.encodedUri }}">
                    {{ photograph.building.name }}
                </a>
            </p>
            <h5>Location</h5>
            <p>
                {{ photograph[Uris.QA_LOCATION] }}
            </p>

        </div>
    </div>
</div>
