<div class="content">
    <div class="page-header has-subnav">
        <div class="container">
            <h1>New Interview</h1>
        </div>
    </div>

    <!-- Builder info -->
    <div class="alert alert-info" style="margin-bottom: 0;">
        <div class="container">
            <i class="fa fa-info-circle"></i> Create a new interview.
        </div>
    </div>
    <!-- /Builder info -->

    <div class="l-frame l-frame-tight">
        <div class="container">
            <form name="form">
                <div class="form-group">
                    <label class="control-label">
                        Who was being interviewed?
                        <i class="fa fa-asterisk fa-asterisk-required"></i>
                    </label>
                    <div class="row">
                        <div class="col-sm-10">
                            <div name="selectedInterviewees" ui-select2="personSelect" ng-model="selectedInterviewees" class="form-control" ui-validate="'$value.length > 0'" >
                            </div>
                        </div>
                        <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="clearSelectCache()">
                                    New Person
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ui-sref="architect.summary.edit({})" target="_blank">Architect</a>
                                    </li>
                                    <li><a ui-sref="other.summary.edit({})" target="_blank">Person</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 16px;">
                    <label class="control-label">
                        Who was the interviewer?
                        <i class="fa fa-asterisk fa-asterisk-required"></i>
                    </label>
                    <div class="row">
                        <div class="col-sm-10">
                            <div name="selectedInterviewers" ui-select2="personSelect" ng-model="selectedInterviewers" class="form-control" ui-validate="'$value.length > 0'">
                            </div>
                        </div>
                        <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="clearSelectCache()">
                                    New Person
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ui-sref="architect.summary.edit({})" target="_blank">Architect</a>
                                    </li>
                                    <li><a ui-sref="other.summary.edit({})" target="_blank">Person</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                	<label for="">Location of Interview</label>
                	<input type="text" class="form-control" placeholder="Where was this interview recorded?" ng-model="interview[Uris.QA_LOCATION]">
                </div>

                <div class="form-group">
                    <label>
                        Audio Files (mp3, ogg)
                        <i class="fa fa-asterisk fa-asterisk-required"></i>
                    </label>
                    <div class="form-group upload">
                        <div ng-file-drop="onAudioFileSelect($files)" ng-file-drag-over-class="upload-dropzone-dragover" ng-show="dropSupported" class="upload-dropzone">
                            <i class="fa fa-cloud-upload"></i> Drop audio files here
                        </div>

                        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

                        <div class="upload-choose">
                            <!-- <input type="text" ng-model="myModelObj" class="form-control"> -->
                            <!-- <input type="file" ng-file-select="onFileSelect($files)" class="form-control"> -->
                            <div class="upload-choose-label">Or select files</div>
                            <input type="file" ng-file-select="onFileSelect($files)" multiple>
                        </div>

                    </div>
                    <!-- <button class="btn btn-default" ng-click="upload.abort()">Cancel Upload</button> -->

                    <div id="audioUploads">
                        <div class="panel panel-default" ng-repeat="file in interview.$audioFiles">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="square square-icon square-interview">
                                            <div class="square-content">
                                                <div class="center">
                                                    <div class="center-content">
                                                        <i class="fa fa-microphone"></i> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-11">
                                        <p>
                                            <strong>
                                                {{ file.uploadFile.name }}
                                            </strong>
                                        </p>
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: {{ file.uploadFile.percent }}%;">
                                                        {{ file.uploadFile.percent }}%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <span ng-show="file.uploadFile.percent == 100">
                                                    Uploaded <i class="fa fa-check"></i>	
                                                </span>
                                                <span ng-show="file.uploadFile.percent < 100">
                                                    Uploading... <i class="fa fa-spin fa-refresh"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Transcript Files (doc, txt)</label>
                    <div class="form-group upload">
                        <div ng-file-drop="onTranscriptFileSelect($files)" ng-file-drag-over-class="upload-dropzone-dragover" ng-show="dropSupported" class="upload-dropzone">
                            <i class="fa fa-cloud-upload"></i> Drop transcript file here
                        </div>

                        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

                        <div class="upload-choose">
                            <!-- <input type="text" ng-model="myModelObj" class="form-control"> -->
                            <!-- <input type="file" ng-file-select="onFileSelect($files)" class="form-control"> -->
                            <div class="upload-choose-label">Or select files</div>
                            <input type="file" ng-file-select="onFileSelect($files)">
                        </div>

                    </div>
                    <!-- <button class="btn btn-default" ng-click="upload.abort()">Cancel Upload</button> -->

                    <div id="transcriptUploads">
                        <div class="panel panel-default" ng-repeat="file in interview.$transcriptFiles">
                            <div class="panel-body">
                                <div class="row">
                                    <!-- <div class="col-sm-1">
                                        <div class="square square-icon square-interview">
                                            <div class="square-content">
                                                <div class="center">
                                                    <div class="center-content">
                                                        <i class="fa fa-microphone"></i> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-12">
                                        <p>
                                            <strong>
                                                {{ file.uploadFile.name }}
                                            </strong>
                                        </p>
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: {{ file.uploadFile.percent }}%;">
                                                        {{ file.uploadFile.percent }}%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <span ng-show="file.uploadFile.percent == 100">
                                                    Uploaded <i class="fa fa-check"></i>	
                                                </span>
                                                <span ng-show="file.uploadFile.percent < 100">
                                                    Uploading... <i class="fa fa-spin fa-refresh"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" ng-click="create(interview)" ng-disabled="form.$invalid || !interview.$audioFiles.length">Create</button>
                    <button class="btn btn-default">Cancel</button>
                </div>

            </form>
        </div>
    </div>
