<div class="content">
    <div class="page-header has-subnav">
        <div class="container">
            <h1>{{ interview.uri && 'Edit Interview' || 'New Interview' }}</h1>
        </div>
    </div>

    <!-- Builder info -->
    <div class="alert alert-info" style="margin-bottom: 0;">
        <div class="container">
            <i class="fa fa-info-circle"></i> Create a new interview.
        </div>
    </div>
    <!-- /Builder info -->

    <div class="l-frame l-frame-tight">
        <div class="container">
            <form name="form">
                <div class="form-group">
                    <label class="control-label">
                        Who was being interviewed?
                        <i class="fa fa-asterisk fa-asterisk-required"></i>
                    </label>
                    <div class="row">
                        <div class="col-sm-10">
                            <div name="selectedInterviewees" ui-select2="personSelect" ng-model="interview.$interviewees" class="form-control" ui-validate="'$value.length > 0'">
                            </div>
                        </div>
                        <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="clearSelectCache()">
                                    New Person
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ui-sref="architect.summary.edit({})">Architect</a>
                                    </li>
                                    <li><a ui-sref="other.summary.edit({})">Person</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 16px;">
                    <label class="control-label">
                        Who was the interviewer?
                    </label>
                    <div class="row">
                        <div class="col-sm-10">
                            <div name="selectedInterviewers" ui-select2="personSelect" ng-model="interview.$interviewers" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="clearSelectCache()">
                                    New Person
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ui-sref="architect.summary.edit({})">Architect</a>
                                    </li>
                                    <li><a ui-sref="other.summary.edit({})">Person</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Youtube URL</label>
                    <input type="text" class="form-control" class="form-control" ng-model="interview.$youtubeUrl" placeholder="What is the youtube url for the video of this interview?">
                </div>

                <div class="form-group">
                    <label for="">Location of Interview</label>
                    <input type="text" class="form-control" placeholder="Where was this interview recorded?" ng-model="interview[Uris.QA_LOCATION]">
                </div>

                <div class="form-group">
                    <label for="">Date of Interview</label>
                    <div>
                        {{ interview[Uris.DCT_CREATED] | date:'dd-MM-yyyy' }}
                    </div>

                    <div class="well well-sm">
                        <datepicker ng-model="interview[Uris.DCT_CREATED]" show-weeks="false"></datepicker>
                        <div style="margin-top: 10px;" ng-show="interview[Uris.DCT_CREATED]">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="interview[Uris.DCT_CREATED] = ''">Clear</button>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>
                        Audio Files (mp3, ogg)
                        <i class="fa fa-asterisk fa-asterisk-required"></i>
                    </label>
                    
                    <!-- Added files -->
                    <ul class="list-group">

                        <!-- Existing files -->
                        <li class="list-group-item" ng-repeat="file in interview.files">
                            <button class="btn btn-default btn-xs pull-right" ng-click="removeAudioFile(file)"> <i class="fa fa-trash-o"></i>
                            </button>
                            {{ file[Uris.QA_SOURCE_FILENAME] }}
                        </li>
                        <!-- Newly uploaded files -->
                        <li class="list-group-item" ng-repeat="file in interview.$audioFiles">
                            <button ng-show="file.uploadFile.isComplete" class="btn btn-default btn-xs pull-right" ng-click="removeNewAudioFile(file)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            {{ file.uploadFile.name }}
                            <div class="progress" ng-hide="file.uploadFile.isComplete">
                                <div class="progress-bar" role="progressbar" style="width: {{ file.uploadFile.percent }}%;">
                                    {{ file.uploadFile.percent }}%
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- /Added files -->

                    <!-- Upload form -->
                    <div class="form-group upload">
                        <div ng-file-drop="onAudioFileSelect($files)" ng-file-drag-over-class="upload-dropzone-dragover" ng-show="dropSupported" class="upload-dropzone">
                            <i class="fa fa-cloud-upload"></i> Drop audio files here
                        </div>

                        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

                        <div class="upload-choose">
                            <!-- <input type="text" ng-model="myModelObj" class="form-control"> -->
                            <!-- <input type="file" ng-file-select="onFileSelect($files)" class="form-control"> -->
                            <div class="upload-choose-label">Or select files</div>
                            <input type="file" ng-file-select="onAudioFileSelect($files)" multiple>
                        </div>
                    </div>
                    <!-- /Upload form -->
                </div>

                <div class="form-group">
                    <label>Transcript Files (doc, txt)</label>
                    <ul class="list-group">
                        <li class="list-group-item" ng-show="interview[Uris.QA_TRANSCRIPT_LOCATION]">
                            <button class="btn btn-default btn-xs pull-right" ng-click="removeTranscript()">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            Transcript
                        </li>
                    </ul>

                    <div class="form-group upload" ng-hide="interview[Uris.QA_TRANSCRIPT_LOCATION]">
                        <div ng-file-drop="onTranscriptFileSelect($files)" ng-file-drag-over-class="upload-dropzone-dragover" ng-show="dropSupported" class="upload-dropzone">
                            <i class="fa fa-cloud-upload"></i> Drop transcript file here
                        </div>

                        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

                        <div class="upload-choose">
                            <!-- <input type="text" ng-model="myModelObj" class="form-control"> -->
                            <!-- <input type="file" ng-file-select="onFileSelect($files)" class="form-control"> -->
                            <div class="upload-choose-label">Or select files</div>
                            <input type="file" ng-file-select="onTranscriptFileSelect($files)">
                        </div>

                    </div>
                    <!-- <button class="btn btn-default" ng-click="upload.abort()">Cancel Upload</button> -->
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" ng-click="create(interview)" ng-disabled="form.$invalid || !(interview.$audioFiles.length || interview.files.length)">
                        {{ interview.uri && 'Update' || 'Create' }}
                    </button>
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>

            </form>
        </div>
    </div>
