<div class="content">
    <div class="page-header has-subnav">
        <div class="container">
            <h1>My Files</h1>
        </div>
	</div>

    <div class="subnav" style="margin-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <button class="btn btn-default pull-right" ui-sref="architect.summary.edit({architectId:null})" ng-show="Auth.role === 'editor' || Auth.role === 'root'"><i class="fa fa-plus"></i> New Architect</button> -->
                    <ul class="nav nav-pills">
                        <li ui-sref-active="active">
                            <a href ui-sref="user.files.images">Images</a>
                        </li>
                        <li ui-sref-active="active">
                            <a href href ui-sref="user.files.builds">Builds</a>
                        </li>
                        <li ui-sref-active="active">
                            <a disabled href ui-sref="user.files.documents">Documents</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <ui-view></ui-view>

</div>
