<div class="alert alert-warning" ng-show="(Auth.user.role === 'editor' || Auth.user.role === 'admin') && !$state.includes('structure.summary.edit')"
  style="margin: 0;">
  <div class="container">
    <div ng-hide="$state.includes('structure.summary.edit')">
      <!-- Editor: &nbsp; &nbsp; -->
      <button class="btn btn-default btn-xs" ui-sref="structure.summary.edit({ structureId: structure.id })">
        <i class="fa fa-pencil"></i> Edit
      </button>
      <button class="btn btn-default btn-xs" ng-click="$parent.delete(structure)" ng-show="Auth.user.role === 'admin'">
        <i class="fa fa-trash-o"></i> Delete
      </button>
    </div>
  </div>
</div>
<div class="l-frame l-frame-tight">
  <div class="container">
    <div class="row" ng-hide="$state.includes('structure.summary.edit')">
      <div class="col-sm-7">
        <h5>Summary</h5>
        <p style="white-space: pre-wrap;" ng-bind-html="structure.summary"></p>
        <p ng-show="!structure.summary.length">No summary.</p>
        <h5 style="margin-top: 24px;">Associated Firm</h5>
        <p ng-show="!designers.firms.length">No associated firm.</p>
        <ul class="media-list">
          <li class="media" style="margin-bottom: 10px;" ng-repeat="designer in designers.firms"><a class="pull-left"
            ui-sref="firm.summary({ firmId: designer.subject })"> <img ng-if="designer.media" class="media-object img-responsive img-circle"
              ng-src="{{Uris.WS_MEDIA+designer.media+'?dimension=32x32'}}" style="width: 32px; height: 32px;">
          </a>
            <div class="media-body">
              <a ui-sref="firm.summary({ firmId: designer.subject })"> {{ designer.subjectlabel }} </a>
            </div></li>
        </ul>
        <h5 style="margin-top: 24px;">Associated Architects</h5>
        <div ng-show="!designers.architects.length">No associated architects.</div>
        <ul class="media-list">
          <li class="media" ng-repeat="designer in designers.architects"><a class="pull-left"
            ui-sref="architect.summary({ architectId: designer.subject })"> <img ng-if="designer.media"
              class="media-object img-responsive img-circle" ng-src="{{Uris.WS_MEDIA+designer.media+'?dimension=32x32'}}"
              style="display: block; width: 32px">
          </a>
            <div class="media-body">
              <a ui-sref="architect.summary({ architectId: designer.subject })"> {{ designer.subjectlabel }} </a>
            </div></li>
        </ul>
        <h5 style="margin-top: 24px;">Location</h5>
        <p ng-show="structure.location.length">{{ structure.location }}</p>
        <p ng-hide="structure.location.length">No location.</p>
        <h5 style="margin-top: 24px;">Completion Date</h5>
        <p ng-show="structure.completion.length">{{ structure.completion | date:'dd-MM-yyyy' }}</p>
        <p ng-hide="structure.completion.length">Unknown</p>
        <h5 style="margin-top: 24px;">Demolished</h5>
        <p>{{ structure.demolished && 'Yes' || 'No' }}</p>
        <h5 style="margin-top: 24px;">Typology</h5>
        <ul>
          <li ng-repeat="typology in structure.typologies">{{ typology }}</li>
        </ul>
        <p ng-show="!structure.typologies.length">No building typology.</p>
      </div>
      <div class="col-sm-5">
        <img ng-if="structure.media.length>1" class="img-responsive"
          ng-src="{{Uris.WS_MEDIA+((structure.media|filter:{preferred:'!!'})[0].id||structure.media[0].id)+'?dimension=460x550'}}" /> <img
          ng-if="structure.media.length==1&&structure.media[0].id" class="img-responsive"
          ng-src="{{Uris.WS_MEDIA+structure.media[0].id+'?dimension=460x550'}}" />
      </div>
    </div>
    <div class="row" ng-show="$state.includes('structure.summary.edit')">
      <div class="col-sm-12">
        <form name="form" action="" ng-submit="updateStructure(structure)">
          <div class="form-group">
            <label>Name <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" class="form-control" ng-model="structure.label"
              placeholder="Project Name" required>
          </div>
          <div class="form-group">
            <label>Associated Firm</label>
            <div class="row">
              <div class="col-sm-10">
                <div ui-select2="firmSelect" ng-model="structure.$associatedFirm" class="form-control"></div>
              </div>
              <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                <button class="btn btn-default form-control" ui-sref="firm.summary.edit({})">
                  <i class="fa fa-plus"></i> New Firm
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Associated Architect</label>
            <div class="row">
              <div class="col-sm-10">
                <div ui-select2="architectSelect" ng-model="structure.$associatedArchitects" class="form-control"></div>
              </div>
              <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                <button class="btn btn-default form-control" ui-sref="architect.summary.edit({})">
                  <i class="fa fa-plus"></i> New Architect
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Building Typology <i class="fa fa-asterisk fa-asterisk-required"></i></label>
            <div name="typology" ui-select2="typologySelect" ng-model="structure.$typologies" class="form-control required" ng-required="true"></div>
          </div>
          <div class="form-group">
            <label>Completion Date</label>
            <div class="well well-sm">
              <div uib-datepicker ng-model="structure.completion" show-weeks="false"></div>
              <div style="margin-top: 10px;" ng-show="structure.completion">
                <button type="button" class="btn btn-sm btn-primary" ng-click="clearCompletionDate()">Clear</button>
              </div>
            </div>
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" ng-model="structure.australian">Australian Project
            </label>
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" ng-model="structure.demolished">Demolished
            </label>
          </div>
          <div class="form-group">
            <label>Summary</label>
            <textarea ui-tinymce="tinymceOptions" rows="10" id="summary" class="form-control" placeholder="Summary" ng-model="structure.summary"></textarea>
          </div>
          <div class="form-group">
            <label for="biography">Address</label> <input type="text" ng-model="structure.location" class="form-control"
              placeholder="Address of the project" />
          </div>
          <div class="form-group">
            <label>Coordinates</label>
            <div class="row">
              <div class="col-md-6">
                <input id="LAT" type="text" placeholder="Latitude" ng-model="structure.latitude" class="form-control">
              </div>
              <div class="col-md-6">
                <input id="LNG" type="text" placeholder="Longitude" ng-model="structure.longitude" class="form-control">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || structure.$typologies.length == 0">Save</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>