<div class="alert alert-warning" ng-show="(Auth.user.role==='editor'&&!$state.includes('firm.summary.edit'))||Auth.user.role==='admin'&&firm.id"
  style="margin: 0;">
  <div class="container">
    <div>
      <button class="btn btn-default btn-xs" ui-sref="firm.historylog({ firmId: firm.id })" ng-show="Auth.user.role === 'admin'">
        <i class="fa fa-calendar"></i> History
      </button>
      <button class="btn btn-default btn-xs" ui-sref="firm.summary.edit({ firmId: firm.id })" ng-hide="$state.includes('firm.summary.edit')">
        <i class="fa fa-pencil"></i> Edit
      </button>
      <button class="btn btn-default btn-xs" ng-click="$parent.delete(firm)"
        ng-show="Auth.user.role === 'admin'&&!$state.includes('firm.summary.edit')">
        <i class="fa fa-trash-o"></i> Delete
      </button>
    </div>
  </div>
</div>
<div class="l-frame l-frame-tight">
  <div class="container">
    <div class="row" ng-hide="$state.includes('firm.summary.edit')">
      <div class="col-sm-7">
        <h5>Summary</h5>
        <p style="white-space: pre-wrap;" ng-bind-html="firm.summary"></p>
        <p ng-hide="firm.summary" class="text-muted">No summary</p>
        <h5>Operating Years</h5>
        <p>
          {{ firm.start | date:'dd-MM-yyyy' }} <span ng-show="firm.end">- {{ firm.end | date:'dd-MM-yyyy' }}</span>
        </p>
        <p ng-hide="firm.start" class="text-muted">No operating years recorded</p>
        <h5 style="margin-top: 24px;" ng-show="firm.precededby">Preceded By</h5>
        <ul class="media-list">
          <div class="media-body">
            <a ui-sref="firm.summary({firmId:firm.precededby.id })"> {{ firm.precededby.label }} </a>
          </div>
        </ul>
        <h5 style="margin-top: 24px;" ng-show="firm.succeededby">Succeeded By</h5>
        <ul class="media-list">
          <div class="media-body">
            <a ui-sref="firm.summary({ firmId: firm.succeededby.id })"> {{ firm.succeededby.label }} </a>
          </div>
        </ul>
      </div>
      <div class="col-sm-5">
        <img ng-if="firm.media.length>1" class="img-responsive"
          ng-src="{{Uris.WS_MEDIA+((firm.media|filter:{preferred:'!!'})[0].id||firm.media[0].id)+'?dimension=460x550'}}" /> <img
          ng-if="firm.media.length==1&&firm.media[0].id" class="img-responsive" ng-src="{{Uris.WS_MEDIA+firm.media[0].id+'?dimension=460x550'}}" />
      </div>
    </div>
    <div class="row" ng-show="$state.includes('firm.summary.edit')">
      <div class="col-md-12">
        <form name="form" ng-submit="updateFirm(firm)">
          <div class="form-group">
            <label>Name <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" class="form-control" ng-model="firm.label"
              placeholder="Firm Name" required>
          </div>
          <div class="form-group">
            <label>Summary</label>
            <textarea ui-tinymce="tinymceOptions" rows="10" id="summary" class="form-control" placeholder="Summary" ng-model="firm.summary"></textarea>
          </div>
          <div class="form-group">
            <label>Start Year</label>
            <div class="well well-sm">
              <div uib-datepicker ng-model="firm.start" show-weeks="false"></div>
              <div style="margin-top: 10px;" ng-show="firm.start">
                <button type="button" class="btn btn-sm btn-primary" ng-click="clearStartYear()">Clear</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>End Year</label>
            <div uib-datepicker ng-model="firm.end" show-weeks="false"></div>
            <div style="margin-top: 10px;" ng-show="firm.end">
              <button type="button" class="btn btn-sm btn-primary" ng-click="clearEndYear()">Clear</button>
            </div>
          </div>
          <div class="form-group">
            <label>Preceded By</label>
            <div ui-select2="precededBySelect" ng-model="firm.$precededByFirms" class="form-control"></div>
          </div>
          <div class="form-group">
            <label>Succeeded By</label>
            <div ui-select2="succeededBySelect" ng-model="firm.$succeededByFirms" class="form-control"></div>
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" ng-model="firm.australian"> Australian Firm
            </label>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>