<div class="interview">

  <div class="alert alert-warning" style="margin: 0;" ng-show="Auth.role === 'editor' || Auth.role === 'root'">
    <div class="container">
      <button class="btn btn-default btn-xs" ui-sref="upload.interviews({ id: interview.encodedUri })"><i class="fa fa-pencil"></i> Edit</button>
      <button class="btn btn-default btn-xs" ng-click="delete(interview)" ng-show="Auth.canDelete(interview.uri)"><i class="fa fa-trash-o"></i> Delete</button>
    </div>
  </div>

  <div class="interview-player">
    <!-- player -->
    <div class="player">
      <!-- video -->
      <div class="player-video">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <img class="media-object img-full" ng-src="{{ currentSpeaker.picture.file }}" alt="{{ interviewer.name }}">
            </div>
          </div>
        </div>
      </div>
      <!-- end of video -->

      <!-- controls -->
      <div class="player-controls">
        <div class="container">
          <div class="row">
            <div class="col-md-12 test">
              <audio data-player-control="audioPlayer" data-playlist="audioPlayerPlaylist" data-player-name="audioPlayer" audio-player id="audio1" controls="controls">

              </audio>


              <!-- <audio  controls="controls">
                                <source src="http://115.146.94.110/static/richard_allom.mp3" type="audio/ogg"></source>
                            </audio>  -->
              <!-- <audio  controls="controls">
                                <source src="http://qldarch-test.metadata.net/files/amuys/amuys-1398299595384-mpthreetest.mp3" type="audio/mp3"></source>
                            </audio> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end of interview player -->

  <!-- Interview Details -->
  <div class="l-frame l-frame-tight l-frame-highlight">
    <div class="interview-heading">
      <div class="container">
        <a ng-show="youtubeUrl.length" ng-href="{{ youtubeUrl }}" target="_blank" class="pull-right">Watch on YouTube</a> 

        <h5 ng-click="isShowingInterviewDetails = !isShowingInterviewDetails" style="margin: 0; padding: 0;">
          <i class="fa fa-fw" ng-class="{'fa-chevron-right': !isShowingInterviewDetails, 'fa-chevron-down': isShowingInterviewDetails}"></i>{{ interview[Uris.DCT_CREATED] | date:'dd MMMM yyyy' }}
        </h5>
      </div>
    </div>

    <div class="interview-details" ng-show="isShowingInterviewDetails">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5>Interviewees</h5>
            <ul class="media-list">
              <li class="media" ng-repeat="interviewee in interview.interviewees">
                <a class="pull-left" href="#">
                  <img class="media-object img-responsive img-circle" ng-if="!interviewee.picture" src="images/icon.png" style="display:block; width: 20px">
                  <img class="media-object img-responsive img-circle" ng-if="interviewee.picture" ng-src="{{ interviewee.picture.file }}" alt="{{ interviewer.name }}" style="width: 20px">
                </a>
                <div class="media-body">
                  <a ng-href="#/{{ interviewee.type }}/{{ interviewee.encodedUri }}">
                      {{ interviewee.name }}
                  </a>
                </div>
              </li>
            </ul>

            <h5>Location</h5>
            <p><i class="fa fa-map-marker"></i>  <a href="http://maps.google.com/?q={{ interview[Uris.QA_LOCATION] }}" target="_blank">{{ interview[Uris.QA_LOCATION] }}</a>
            </p>
          </div>
          <div class="col-md-6">
            <h5>Interviewers</h5>
            <ul class="media-list">
              <li class="media" ng-repeat="interviewer in interview.interviewers">
                <span class="pull-left">
                  <img class="media-object img-responsive img-circle" ng-if="!interviewer.picture" src="images/icon.png" style="display:block; width: 20px">
                  <img class="media-object img-responsive img-circle" ng-if="interviewer.picture" ng-src="{{ interviewer.picture.file }}" alt="{{ interviewer.name }}" style="width: 20px">
                </span>
                <div class="media-body">
                  <!-- <a ng-href="#/{{ interviewer.type }}/{{ interviewer.encodedUri }}"> -->
                  {{ interviewer.name }}
                  <!-- </a> -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="l-frame l-frame-tight">
    <!-- Interview transcript -->
    <div class="interview-transcript" ng-show="isShowingTranscript" id="transcript">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="btn-group pull-left">
              <button type="button" class="btn btn-default" ng-model="$parent.isSyncing" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" tooltip="Sync Transcript">
                <i class="fa fa-refresh" ng-class="{ 'fa-spin': isSyncing && audioPlayer.playing }">
                               </i>
              </button>
              <!--<button type="button" class="btn btn-default" ng-model="sync" btn-radio="'full'" ng-click="transcriptSearchInput=''">Full Transcript</button>-->
              <!--<button type="button" class="btn btn-default" ng-model="sync" btn-radio="'search'">Search Transcript</button>-->
            </div>

            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cloud-download"></i> Download
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <!-- <li><a ng-href="{{ }}">Transcript</a></li> -->
                <li><a ng-href="{{ download.mp3 }}" target="_blank">Audio</a>
                </li>
                <li><a ng-href="{{ interview.transcriptFile.file }}" target="_blank">Transcript</a>
                </li>
              </ul>
            </div>


            <div class="input-group" style="padding: 0 15px; ">
              <span class="input-group-addon"><i class="fa fa-search"></i>
              </span>
              <input type="text" class="form-control" placeholder="Search transcript" ng-model="transcriptSearchInput" ng-change="transcriptSearchInputChanged(transcriptSearchInput)">
            </div>

          </div>
        </div>

        <!-- exchanges -->
        <div infinite-scroll="addMoreExchanges()" class="interview-exchanges" style="margin-top: 24px;">
          <div ng-repeat="exchange in interview.transcript.exchanges | filter:{'transcript': transcriptSearchInput} | filter:timeFilter | limitTo:exchangeDisplayCount" class="row exchange" ng-class="{'exchange-searching': isSearching}" id="{{ exchange.startTime }}" style="margin-bottom:20px">
            <!-- transcript -->
            <div class="col-sm-6">
              <div class="media">
                <div class="pull-left" style="text-align: center">

                  <img ng-show="exchange.speaker" class="media-object exchange-dp" ng-src="{{ exchange.speaker.picture.thumb }}" alt="" style="width: 32px" />


                  <img ng-hide="exchange.speaker" class="media-object exchange-dp" src="images/icon.png" alt="" style="width: 32px" />

                  <!-- play button -->
                  <button class="btn btn-xs btn-default exchange-play" ng-click="playFromExchange(exchange)">
                    <i class="fa fa-play"></i>
                  </button>
  
                  <a ui-sref="architect.interview({time: exchange.startTime})" class="btn btn-link exchange-play"><i class="fa fa-link"></i></a>
                  
                  <!-- end of play button -->
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <strong>
                      <a ng-href="#/{{ exchange.speaker.type }}/{{ exchange.speaker.encodedUri }}">
                        {{ exchange.speaker.name }}
                      </a>
                      <span ng-show="!exchange.speaker">
                        {{ exchange.speakerInitials }}
                      </span>
                    </strong>
                    <span class="pull-right" ng-show="isSearching">{{ exchange.time }}</span>
                  </div>
                  <p ng-bind-html="exchange.transcript | highlight:transcriptSearchInput" ng-class="{ highlight: startTime == exchange.startTime }">
                  </p>
                </div>
              </div>
            </div>
            <!-- end of transcript -->

            <!-- relationships -->
            <div class="col-sm-6">
              <div class="panel panel-default" ng-hide="(isSearching || !Auth.auth ) && !exchange.relationships.length">
                <div class="panel-heading" ng-if="(Auth.role === 'editor' || Auth.role === 'root') && Auth.auth && !isSearching">

                  <!-- Control buttons -->
                  <span ng-hide="exchange.isAddingRelationship || exchange.isEditingRelationships">
                    <button type="button" class="btn btn-default btn-xs" ng-click="showAddRelationship(exchange)"><i class="fa fa-plus fa-fw"></i>
                    </button>

                    <button type="button" class="btn btn-default btn-xs" ng-click="showEditRelationships(exchange)" ng-show="exchange.relationships.length"><i class="fa fa-pencil fa-fw"></i>
                    </button>
                  </span>
                  <button type="button" class="btn btn-primary btn-xs" ng-click="hideEditRelationships(exchange)" ng-show="exchange.isEditingRelationships"><i class="fa fa-check fa-fw"></i>
                  </button>
                  <!-- /Control Buttons -->

                  <!-- New relationship -->
                  <form name="exchange.$form" ng-if="exchange.isAddingRelationship">
                    <div class="form-group">
                      <label>Subject</label>
                      <div class="row">
                        <div class="col-sm-10">
                          <div name="subject" ui-select2="entitySelectOptions" ng-model="exchange.newRelationship.subject" class="form-control" ng-required="true"></div>
                        </div>
                        <div class="col-sm-2">

                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Relationship</label>
                      <div name="relationship" ui-select2="relationshipSelectOptions" ng-model="exchange.newRelationship.predicate" class="form-control" ng-required="true"></div>
                    </div>
                    <div class="form-group">
                      <label>Object</label>
                      <div name="object" ui-select2="entitySelectOptions" ng-model="exchange.newRelationship.object" class="form-control" ng-required="true"></div>
                    </div>
                    <div class="form-group">
                      <label>Dates</label>
                      <div class="row">
                        <div class="col-sm-6">
                          <input name="startYear" type="number" class="form-control" placeholder="Start Year" ng-model="exchange.newRelationship.startYear" />
                        </div>
                        <div class="col-sm-6">
                          <input name="endYear" type="number" class="form-control" placeholder="End Year" ng-model="exchange.newRelationship.endYear" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Note</label>
                      <textarea name="note" class="form-control" placeholder="Note" cols="30" rows="10" ng-model="exchange.newRelationship.note"></textarea>
                    </div>

                    <button type="submit" class="btn btn-sm btn-primary" ng-click="addRelationshipToExchange(exchange.newRelationship, exchange)" ng-disabled="exchange.$form.$invalid">Add</button>
                    <button class="btn btn-sm btn-default" ng-click="hideAddRelationship(exchange)">Cancel</button>
                  </form>

                </div>

                <!-- Relationship List -->
                <ul class="list-group" ng-if="exchange.relationships.length">
                  <li class="list-group-item" ng-repeat="relationship in exchange.relationships">

                    <button class="btn btn-xs btn-danger" ng-show="exchange.isEditingRelationships" style="margin-right: 5px;" ng-click="deleteRelationship(relationship, exchange)">
                      <i class="fa fa-trash-o fa-fw"></i>
                    </button>

                    <a ng-href="{{ $state.href(relationship.subject.$state + '.summary', relationship.subject.$stateParams) }}" ng-bind-html="relationship.subject.name || '' | highlight:transcriptSearchInput"></a>

                    <span ng-bind-html="relationship.predicate[Uris.QA_LABEL] || relationship.predicate.name || '' | highlight:transcriptSearchInput">
                    </span>

                    <a ng-href="{{ $state.href(relationship.object.$state + '.summary', relationship.object.$stateParams) }}" ng-bind-html="relationship.object.name || '' | highlight:transcriptSearchInput"></a>

                    <!-- Date -->
                    {{ relationship[Uris.QA_START_DATE] }}
                    <span ng-show="relationship[Uris.QA_START_DATE] && relationship[Uris.QA_END_DATE]">-</span>
                    {{ relationship[Uris.QA_END_DATE] }}
                  </li>
                </ul>
                <!-- /Relationship List -->

              </div>
            </div>
            <!-- end of relationships -->
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
