<div class="content">
    <div ng-include="'views/architects/header.html'"></div>
    
    <div class="container" ng-show="isShowingMap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label ng-repeat="buildingTypology in buildingTypologies">{{ buildingTypology.name }}
                            <input type="checkbox" >
                        </label>
                        
                    </div>
                    <div class="panel-body">
                        <div ui-map="$parent.myMap" class="map-canvas map"
                             ui-event="mapEvents"
                             ui-options="mapOptions">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" ng-repeat="structureRow in structureRows">
                    <div class="col-sm-2" ng-repeat="structure in structureRow">
                        <div ng-include="'views/thumbs/structure.html'"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
        <p ng-show="!structureRows.length">
            No structures found.
        </p>

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>