<div>
     <div class="container" >

        <div ng-if="isShowingMap">
            <project-map structures="structures"></project-map>
        </div>

        <div class="panel panel-default" style="margin-bottom: 0px;">
            <div class="panel-body">
              <span class="text-muted">Filters</span>
                <label ng-repeat="buildingTypology in buildingTypologies" class="text-muted">
                    {{ buildingTypology.name }}
                    <input type="checkbox" disabled checked>
                </label> 
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="row" ng-repeat="structureRow in structureRows">
                    <div class="col-sm-2" ng-repeat="structure in structureRow">
                        <div ng-include="'views/thumbs/structure.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p ng-show="!structureRows.length">
                    No structures found.
                </p>
            </div>
        </div>

    </div>
</div>