<div class="content">
    <div class="page-header">
        <div class="container">
            <h1>About</h1>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>The story of Queensland's postwar architecture is largely a tacit one.
                        The architects who worked and studied at this time possess knowledge
                    of the key events, buildings, practices and institutions of the period.</p>
                    <p>
                        While this information is often spoken, most commonly within the confines of
                        the architectural community, it remains unrecorded. Documenting these histories
                        using the oral history interview/digital story, this website aims to make
                        this tacit historical knowledge explicit for the first time.
                    </p>
                    <p>
                        Using innovating semantic web technologies, mapping applications,
                        timeline generators, etc. this website allows you to visually map the connections
                        that bind these oral histories to related materials, such as drawings, photographs,
                        books and manuscripts and thus contribute to the development of a new
                        multi-media resource on Queensland architecture and design.
                    </p>
                </div>
                <div class="col-lg-6">

                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contact us</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                To contact one of the project collaborators, send us an email
                                or leave a note on our Facebook Page.
                            </p>
                            <ul>
                                <li><a href="#!/contribute">Email</a></li>
                                <li><a href="http://fb.com/QueenslandPostWarArchitecture">fb.com/QueenslandPostWarArchitecture</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>