<div class="page-header has-subnav">
  <div class="container">
    <small> <a ui-sref="articles">Articles »</a>
    </small> <a ui-sref="article({ articleId: article.id })"><h1>{{ article.label }}</h1></a>
  </div>
</div>
<div class="alert alert-warning" ng-show="(Auth.user.role === 'editor' || Auth.user.role === 'admin')&&article.id" style="margin: 0;">
  <div class="container">
    <div>
      <button class="btn btn-default btn-xs" ui-sref="article.edit({ articleId: article.id })">
        <i class="fa fa-pencil"></i> Edit
      </button>
      <button class="btn btn-default btn-xs" ng-click="delete(article)" ng-show="Auth.user.role === 'admin'">
        <i class="fa fa-trash-o"></i> Delete
      </button>
    </div>
  </div>
</div>
<div class="l-frame l-frame-tight">
  <div class="container">
    <table class="table" ng-show="articleHistoryLog.length">
      <tr>
        <th>User</th>
        <th>Created</th>
        <th>Changes</th>
        <th>Comment</th>
      </tr>
      <tr ng-repeat="log in articleHistoryLog | orderBy:'created'">
        <td><strong>{{ log.email }}</strong> ({{ log.username }})</td>
        <td>{{ log.created }}</td>
        <td><pre ng-if="!log.diffValueChanges" ng-bind-html="log.diffValue" style="white-space: normal;"></pre> <pre ng-if="log.diffValueChanges"
            ng-bind-html="log.diffValueChanges" style="white-space: normal;"></pre></td>
        <td>{{ log.comment }}</td>
      </tr>
    </table>
    <p class="text-muted" ng-hide="articleHistoryLog.length">No history found</p>
  </div>
</div>