<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>Articles</h1>
    </div>
  </div>
  <div class="alert alert-warning" ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'" style="margin: 0;">
    <div class="container">
      <button class="btn btn-default btn-xs" ui-sref="upload.documents">
        <i class="fa fa-cloud-upload"></i> Upload Documents
      </button>
    </div>
  </div>
  <div class="l-frame l-frame-media l-frame-tighter">
    <div class="container">
      <div class="chart-index" style="text-align: center;">
        <button class="btn btn-dark" style="margin-right: 1px;" ng-click="goToIndex(null)" ng-class="{'btn-primary': $stateParams.index == null}">All</button>
        <button style="margin-right: 1px;" ng-repeat="(index, exists) in indexes" class="btn"
          ng-class="{'btn-primary': $stateParams.index === index, 'btn-dark': $stateParams.index !== index}" ng-disabled="!exists"
          ng-click="goToIndex(index)">{{ index }}</button>
      </div>
    </div>
  </div>
  <div class="l-frame l-frame-tight">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li ng-repeat="article in articles" ng-show="article.label"><a ui-sref="article({ articleId: article.id })">{{ article.label }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>