<div class="page-header has-subnav">
  <div class="container">
    <small> <a ui-sref="articles">Articles »</a>
    </small>
    <h1>{{ article.label }}</h1>
  </div>
</div>
<div class="alert alert-warning" ng-show="Auth.isUQSLQ()" style="margin: 0;"
  ng-hide="$state.includes('article.edit')||(!(article.media|filter:{type:'Article'}).length&&!(Auth.isEditor()||Auth.canDelete()))">
  <div class="container">
    <!-- Download dropdown -->
    <div class="btn-group" ng-hide="!(article.media|filter:{type:'Article'}).length">
      <div class="dropdown">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="file in (article.media|filter:{type:'Article'})"><a ng-href="{{Uris.WS_DOWNLOAD+file.id}}" alt="" target="_blank">{{
              file.filename }}</a></li>
        </ul>
      </div>
    </div>
    <button class="btn btn-default btn-xs" ui-sref="article.edit({ articleId: article.id })" ng-show="Auth.isEditor()">
      <i class="fa fa-pencil"></i> Edit
    </button>
    <!-- Delete button -->
    <button class="btn btn-default btn-xs" ng-click="delete(article)" ng-show="Auth.canDelete()">
      <i class="fa fa-trash-o"></i> Delete
    </button>
    <!-- /Delete button -->
  </div>
</div>
<div class="l-frame">
  <div class="container">
    <div class="row" ng-hide="$state.includes('article.edit')">
      <div class="col-md-6">
        <h5>Author(s)</h5>
        <p>{{ article.authors }}</p>
        <h5>Periodical Title</h5>
        <p>{{ article.periodical }}</p>
        <h5>Volume</h5>
        <p>{{ article.volume }}</p>
        <h5>Issue</h5>
        <p>{{ article.issue }}</p>
        <h5>Page(s)</h5>
        <p>{{ article.pages }}</p>
        <h5>Publication Date</h5>
        <p class="text-muted" data-ng-hide="article.published.length">No date recorded</p>
        <p>{{ article.published | date:'dd-MM-yyyy' }}</p>
        <h5>Summary</h5>
        <p style="white-space: pre-wrap;" ng-bind-html="article.summary"></p>
        <p class="text-muted" data-ng-hide="article.summary.length">No summary</p>
      </div>
    </div>
    <div class="row" ng-show="$state.includes('article.edit')">
      <div class="col-md-6">
        <form ng-submit="updateArticle(article)">
          <div class="form-group">
            <label>Author(s)</label> <input type="text" class="form-control" placeholder="Authors" ng-model="article.authors" />
          </div>
          <div class="form-group">
            <label for="">Periodical Title</label> <input type="text" class="form-control" placeholder="Periodical Title"
              ng-model="article.periodical">
          </div>
          <div class="form-group">
            <label for="">Volume</label> <input type="text" class="form-control" placeholder="Volume" ng-model="article.volume">
          </div>
          <div class="form-group">
            <label for="">Issue</label> <input type="text" class="form-control" placeholder="Issue" ng-model="article.issue">
          </div>
          <div class="form-group">
            <label for="">Page(s)</label> <input type="text" class="form-control" placeholder="Pages" ng-model="article.pages">
          </div>
          <div class="form-group">
            <label for="">Publication Date</label>
            <div>{{ article.published | date:'dd-MM-yyyy' }}</div>
            <div class="well well-sm">
              <div uib-datepicker ng-model="article.published" show-weeks="false"></div>
              <div style="margin-top: 10px;" ng-show="article.published">
                <button type="button" class="btn btn-sm btn-primary" ng-click="article.published = ''">Clear</button>
              </div>
            </div>
          </div>
          <!-- Description -->
          <div class="form-group">
            <label>Summary</label>
            <textarea ui-tinymce="tinymceOptions" placeholder="Summary" ng-model="article.summary" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default" ng-click="cancel(article)">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>