<div class="container">
  <div class="row" style="margin: 20px 0;">
    <div class="col-md-12">
      <div class="text-muted">
        <a href="http://thenounproject.com/term/map/32152/">Map Icon</a> Created by Simple Icons from the Noun Project License: https://creativecommons.org/licenses/by/3.0/au/legalcode<br /> <a href="http://thenounproject.com/term/document/22989/">Document
          Icon</a> Created by Sascha Elmers from the Noun Project License: https://creativecommons.org/licenses/by/3.0/au/legalcode<br /> <a href="http://thenounproject.com/term/timeline/32180/">Timeline Icon</a> Created by Qing Li from the Noun Project
        License: https://creativecommons.org/licenses/by/3.0/au/legalcode<br /> <a href="http://thenounproject.com/term/community/8454/">Community Icon</a> Created by Oriol Carbonell from the Noun Project License:
        https://creativecommons.org/licenses/by/3.0/au/legalcode<br />
      </div>
    </div>
  </div>
</div>