<div class="content">
  <div class="page-header">
    <div class="container">
      <small><a href="#/firms">Firms »</a></small>
      <h1>{{ firm.name }}</h1>
      <a class="btn btn-sm btn-info" ng-href="#/explore?uri={{ firm.encodedUri}}">Explore {{ firm.name }}</a>
    </div>
  </div>
  <div class="container" style="margin-top: 24px;">
    <tabset type="'tabs'" vertical="false"> <tab heading="Details">
    <section>
      <div class="row">
        <div class="col-sm-7">
          <h5>Summary</h5>
          <p style="white-space: pre-wrap;" ng-bind-html="firm[Uris.QA_SUMMARY]"></p>
          <p ng-show="!firm[Uris.QA_SUMMARY].length">No summary.</p>
        </div>
        <div class="col-sm-5">
          <img ng-if="firm.picture" class="img-responsive" ng-src="{{ Uris.FILE_ROOT + firm.picture[Uris.QA_SYSTEM_LOCATION] }}" alt="" /> <img ng-if="!firm.picture" ng-src="images/icon.png" style="display: block; width: 100%">
        </div>
      </div>
    </section>
    </tab> <tab heading="Architects">
    <section>
      <div class="row" ng-repeat="architectRow in architectRows">
        <div class="col-sm-2" ng-repeat="architect in architectRow">
          <div ng-include="'views/thumbs/architect.html'"></div>
        </div>
      </div>
    </section>
    </tab> <tab heading="Structures">
    <section>
      <div class="row" ng-repeat="structureRow in structureRows">
        <div class="col-sm-2" ng-repeat="structure in structureRow">
          <div ng-include="'views/thumbs/structure.html'"></div>
        </div>
      </div>
    </section>
    </tab> </tabset>
  </div>
</div>