<footer class="container">
  <div class="row">
    <div class="col-md-2 col-sm-2 footer-logo">
      <img src="images/cgramw_logo_rgb.png" alt="" class="img-responsive" />
    </div>
    <div class="col-md-2 col-sm-2 footer-logo">
      <img src="images/sql_and_gov_logos_solid_mono.png" alt="" class="img-responsive" />
    </div>
    <div class="col-md-2 col-sm-2 footer-logo">
      <img src="images/uq_black.png" alt="" class="img-responsive" />
    </div>
    <div class="col-md-2 col-sm-2 footer-logo">
      <img src="images/arc_black.png" alt="" class="img-responsive" />
    </div>
    <div class="col-md-2 col-sm-2 footer-logo">
      <img src="images/bvndh_logo.png" alt="" class="img-responsive" style="height: 50px;" />
    </div>
    <div class="col-md-2 col-sm-2 footer-logo">
      <img src="images/wa_mac_bw.png" alt="" class="img-responsive" />
    </div>
  </div>
  <div style="margin-bottom: 20px; font-size: 10px;">
    <a href="#/attributions">Attributions for Icons</a>
  </div>
</footer>