<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>Forgot your password</h1>
    </div>
  </div>
  <!-- info -->
  <div class="alert alert-info" style="margin-bottom: 8px">
    <div class="container">
      <i class="fa fa-info-circle"></i> Reset a forgotten password.
    </div>
  </div>
  <!-- /info -->
  <div class="l-frame">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <form role="form" ng-submit="forgot(credentials)" style="border-right: 1px solid #ccc; padding-right: 30px;" ng-show="!isReset">
            <div class="form-group">
              <label for="email">Email Address</label> <input name="email" type="text" class="form-control" id="email" placeholder="Email address"
                ng-model="credentials.email">
            </div>
            <button ng-disabled="!credentials.email" type="submit" class="btn btn-primary" ng-click="reset(credentials)">Reset Password</button>
            <i class="fa fa-spin fa-refresh" style="margin-left: 20px" ng-show="isResetting"></i></i>
          </form>
          <div>
            <p style="margin-top: 10px">{{resetResponse}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <h5>Don't have an account?</h5>
            <p>Join the Digital Archive of Queensland Architecture today.</p>
            <button class="btn btn-primary" ui-sref="register">Join</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>