<header>
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
        <div ng-show="isShowingSearch"></div>
        <div ng-show="!isShowingSearch">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <!-- Hamburger button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/"><img src="images/logo.jpg" alt="" class="img-responsive" /></a>
          </div>
          <!-- #333333 -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- /Search form -->
            <ul class="nav navbar-nav">
              <li class="dropdown"
                ng-class="{'active': $state.includes('firm') || $state.includes('structure') || $state.includes('architect') || $state.includes('firms') || $state.includes('structures') || $state.includes('architects') || $state.includes('other')}">
                <a href class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="architects.queensland">Architects</a></li>
                  <li><a ui-sref="firms.australian">Firms</a></li>
                  <li><a ui-sref="structures.australian">Projects</a></li>
                  <li><a ui-sref="articles">Articles</a></li>
                  <li><a ui-sref="interviews">Interviews</a></li>
                  <li ng-show="Auth.isEditor()"><a ui-sref="others">Other</a></li>
                </ul>
              </li>
              <li class="dropdown" ng-class="{'active': $state.includes('ugc') }"><a href class="dropdown-toggle" data-toggle="dropdown">Build
                  <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="ugc.timeline.edit.add.import({id:null})">Timeline</a></li>
                  <li><a ui-sref="ugc.map.edit.add.import({id:null})">Map</a></li>
                  <li><a ui-sref="ugc.wordcloud.edit.add.import({id:null})">Word Cloud</a></li>
                </ul></li>
              <li ng-class="{'active': $state.includes('contribute') }"><a ui-sref="contribute">Contribute</a></li>
              <li class="" ng-hide="Auth.success"><a>&nbsp;</a></li>
              <li class="" ng-hide="Auth.success" uibTooltip="Create an account" tooltip-placement="bottom"
                ng-class="{'active': $state.includes('register') }"><a ui-sref="register">Sign Up</a></li>
              <li class="" ng-hide="Auth.success" uibTooltip="Log in with an existing account" tooltip-placement="bottom"
                ng-class="{'active': $state.includes('login') }"><a href ui-sref="login">Log in</a></li>
            </ul>
            <!-- Logged in user -->
            <ul class="nav navbar-nav">
              <li class="dropdown" ng-show="Auth.success" ng-class="{'active': $state.includes('user') }" style="margin-right: 8px;"><a href
                class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a>{{ Auth.email }}</a></li>
                  <li><a ui-sref="user.files.images">My Files</a></li>
                  <li role="presentation" class="divider" ng-show="Auth.role == 'root'"></li>
                  <li ng-show="Auth.role == 'root'"><a ui-sref="admin.users">Manage Users</a></li>
                  <li ng-show="Auth.role == 'root'"><a ui-sref="admin.merge">Move Relationships</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" class="divider"></li>
                  <li><a ui-sref="user.settings">Settings</a></li>
                  <li><a ui-sref="logout">Sign out</a></li>
                </ul></li>
            </ul>
            <!-- /Logged in user -->
            <!-- Search form -->
            <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="globalSearch.query" placeholder="Search"
                  uib-typeahead="entity.name for entity in globalSearch($viewValue)" typeahead-loading="loadingLocations" class="form-control"
                  typeahead-min-length="1" typeahead-on-select="globalSearchOnSelect($item, $model, $label)" /> <span class="input-group-addon">
                  <i ng-show="!loadingLocations" class="fa fa-search"></i> <i ng-show="loadingLocations" class="fa fa-spin fa-refresh"></i>
                </span>
              </div>
            </form>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>
  </div>
  <div></div>
</header>