<div ng-hide="$state.includes('structure.interviews')||$state.includes('firm.interviews')" class="page-header">
  <div class="container">
    <h1>Interviews</h1>
  </div>
</div>
<section>
  <div class="container" infinite-scroll="addMoreInterviewRows()">
    <p class="text-muted" ng-hide="interviewRows.length">No interviews found</p>
    <div class="row" ng-repeat="interviewRow in interviewRows | limitTo:interviewRowDisplayCount">
      <div class="col-sm-2" ng-repeat="interview in interviewRow">
        <div ng-include="'views/thumbs/interview.html'"></div>
      </div>
    </div>
  </div>
</section>