<div class="alert alert-warning" ng-show="(Auth.role === 'editor' || Auth.role === 'root') && !$state.includes('edit')" style="margin: 0;">
  <div class="container">
    <div ng-hide="$state.includes('architect.summary.edit')">
      <!-- Editor: &nbsp; &nbsp; -->
      <button class="btn btn-default btn-xs" ng-click="$state.go(photograph.$state + '.edit', photograph.$stateParams)">
        <i class="fa fa-pencil"></i> Edit Photograph
      </button>
      <button class="btn btn-default btn-xs" ng-click="delete(photograph)" ng-show="Auth.role === 'root'">
        <i class="fa fa-trash-o"></i> Delete Photograph
      </button>
    </div>
  </div>
</div>
<div class="l-frame l-frame-media l-frame-tight">
  <div class="container" style="text-align: center;">
    <img style="max-width: 100%" ng-src="{{ photograph.file.file }}" alt="" />
  </div>
</div>
<h1>
  <a ui-sref="image.view({imageId: photograph.encodedUri })">Test</a>
</h1>
<div class="l-frame l-frame-tight" ng-hide="$state.includes('edit')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Title</h5>
        <p>{{ photograph[Uris.DCT_TITLE] }}</p>
        <h5>Rights</h5>
        <p>{{ photograph[Uris.DCT_RIGHTS] || 'No rights.' }}</p>
        <h5>Identifier</h5>
        <p>{{ photograph[Uris.DCT_IDENTIFIER] || 'No identifier.' }}</p>
      </div>
      <div class="col-md-6">
        <h5>Building</h5>
        <p>
          <a href ui-sref="structure.summary({structureId: photograph.building.encodedUri})"> {{ photograph.building.name }} </a>
        </p>
        <h5>External Location</h5>
        <p>{{ photograph[Uris.QA_LOCATION] || 'No external location.' }}</p>
      </div>
    </div>
  </div>
</div>
<div class="l-frame l-frame-tight" ng-show="$state.includes('edit')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Title</h5>
        <input type="text" class="form-control">
        <p>{{ photograph[Uris.DCT_TITLE] }}</p>
        <h5>Rights</h5>
        <p>{{ photograph[Uris.DCT_RIGHTS] || 'No rights.' }}</p>
        <h5>Identifier</h5>
        <p>{{ photograph[Uris.DCT_IDENTIFIER] || 'No identifier.' }}</p>
      </div>
      <div class="col-md-6">
        <h5>Building</h5>
        <p>
          <a href ui-sref="structure.summary({structureId: photograph.building.encodedUri})"> {{ photograph.building.name }} </a>
        </p>
        <h5>External Location</h5>
        <p>{{ photograph[Uris.QA_LOCATION] || 'No external location.' }}</p>
      </div>
    </div>
  </div>
</div>