<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>Join</h1>
    </div>
  </div>
  <!-- info -->
  <div class="alert alert-info" style="margin-bottom: 8px">
    <div class="container">
      <i class="fa fa-info-circle"></i> Create an account so you can start contributing to the archive, and saving any wordclouds, timelines or maps
      you create.
    </div>
  </div>
  <!-- /info -->
  <div class="l-frame l-frame-tight">
    <div class="container">
      <div ng-if="hasResponse && hasRegistered">
        <div class="alert alert-info">
          Thank you for registering. You will receive a confirmation email shortly.
          <div style="margin-top: 16px;">
            <button ui-sref="main" class="btn btn-primary">Keep Browsing</button>
          </div>
        </div>
      </div>
      <div ng-if="hasResponse && !hasRegistered">
        <div class="alert alert-info">Registration failed: {{ failedReason }}</div>
      </div>
      <div class="row" ng-hide="hasRegistered">
        <div class="col-lg-12">
          <form role="form" ng-submit="createUser(user)">
            <div class="form-group">
              <label for="name">Display Name</label> <input name="name" type="text" class="form-control" id="name"
                placeholder="What's your name? e.g. John Smith" ng-model="user.displayname">
            </div>
            <div class="form-group">
              <label for="email">Email Address</label> <input name="email" type="email" class="form-control" id="email"
                placeholder="What's your email address" ng-model="user.email">
            </div>
            <div class="form-group">
              <label for="password">Password</label> <input name="password" type="password" class="form-control" id="password" placeholder="Password"
                ng-model="user.password">
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label> <input name="confirmPassword" type="password" class="form-control" id="confirm-password"
                placeholder="Confirm password" ng-model="user.confirmPassword">
            </div>
            <div class="form-group">
              <div name=recatcha vc-recaptcha theme="'light'" key="recaptchaModel.key" on-create="setRecaptchaWidgetId(widgetId)"
                on-success="setRecaptchaResponse(response)" on-expire="recaptchaCbExpiration()" class="ng-isolate-scope"></div>
            </div>
            <button type="submit" class="btn btn-primary">Join</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>