<style>
.link {
	fill: none;
	stroke: black;
	opacity: 0.1;
}

.node rect {
	fill: green;
	stroke: #fff;
	stroke-width: 1.5px;
}

text {
	font: 10px sans-serif;
	pointer-events: none;
}

.node {
	
}

.node circle {
	fill: #ccc;
	stroke: #fff;
	stroke-width: 5px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.node.selected circle {
	stroke: yellow;
	stroke-width: 5px;
}

.node.node-person circle {
	fill: #0FACA1;
}

.node.node-person:hover circle {
	fill: #3CCDC2;
}

.node.node-person.node-person-nonqueensland circle {
	fill: #E42962;
}

.node.node-person.node-person-nonqueensland:hover circle {
	fill: #E42962;
}

.node.node-structure circle {
	fill: #2153B7;
}

.node.node-structure:hover circle {
	fill: #5389F5;
}

.node.node-firm circle {
	fill: #26D813;
}

.node.node-firm:hover circle {
	fill: #87ED7C;
}
</style>
<!-- visualisation -->
<div>
  <div class="alert alert-warning" ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'" style="margin: 0;">
    <div class="container">
      <a type="button" class="btn btn-default btn-xs" href="#/relationships/create?archobjId={{archobjId}}&archobjType={{archobjType}}"> <i
        class="fa fa-plus"></i> New Relationship
      </a>
    </div>
  </div>
  <div class="l-frame l-frame-tight" ng-hide="data.nodes.length">
    <div class="container">
      <p class="text-muted">No relationships.</p>
    </div>
  </div>
  <div class="l-frame l-frame-highlight" ng-show="data.nodes.length" style="position: relative; padding: 0;">
    <force data="data" selected="nodeSelected(node)" style="text-transform: capitalize;"></force>
    <div class="panel panel-default" style="width: 300px; position: absolute; top: 16px; bottom: 0; right: 16px;; overflow: scroll;"
      ng-show="selected">
      <div class="panel-heading" style="padding: 16px 16px;">
        <i class="fa fa-times pull-right" ng-click="selected = null"></i>
        <div class="media" style="margin-top: 0">
          <div class="pull-left">
            <img ng-if="selected.media&&(selected.type=='person'||selected.type=='firm'||selected.type=='structure'||selected.type=='interview')"
              class="media-object" ng-src="{{Uris.WS_MEDIA+selected.media+'?dimension=50x50'}}" alt="{{}}" style="width: 50px;">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a ng-if="selected.type=='person'&&selected.architect==true" ui-sref="architect.summary({ architectId: selected.id })"> {{
                selected.label }} </a> <a ng-if="selected.type=='person'&&selected.architect==false" ui-sref="other.summary({ otherId: selected.id })">
                {{ selected.label }} </a> <a ng-if="selected.type=='firm'" ui-sref="firm.summary({ firmId: selected.id })"> {{ selected.label }} </a> <a
                ng-if="selected.type=='structure'" ui-sref="structure.summary({ structureId: selected.id })"> {{ selected.label }} </a> <a
                ng-if="selected.type=='interview'&&isArchitectFromInterview(selected.id)==true"
                ng-href="#/architect/interview/{{selected.id}}?architectId={{getArchitectIdofInterviews(selected.id)}}"> {{ selected.label }} </a> <a
                ng-if="selected.type=='interview'&&isArchitectFromInterview(selected.id)==false"
                ng-href="#/other/interview/{{selected.id}}?otherId={{getArchitectIdofInterviews(selected.id)}}"> {{ selected.label }} </a>
              <div ng-if="!(selected.type=='person'||selected.type=='firm'||selected.type=='structure'||selected.type=='interview')"
                style="text-transform: capitalize;">{{ selected.label }}</div>
            </h4>
            <div ng-if="selected.type=='person'&&selected.architect==true" style="text-transform: capitalize; color: black;">Architect</div>
            <div ng-if="selected.type!='person'||selected.architect==false" style="text-transform: capitalize; color: black;">{{ selected.type
              }}</div>
          </div>
        </div>
      </div>
      <!-- Selected relationships -->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="relationship in selectedRelationships">
          <div class="media">
            <div class="pull-left">
              <div class="square square-icon square-interview" style="width: 30px;">
                <div class="square-content">
                  <div class="center">
                    <div class="center-content">
                      <div ng-switch on="relationship.source">
                        <div ng-switch-when="interview">
                          <i class="fa fa-microphone" style="font-size: 16px;"></i>
                        </div>
                        <div ng-switch-when="structure">
                          <i class="fa fa-building-o" style="font-size: 16px;"></i>
                        </div>
                        <div ng-switch-default>
                          <i class="fa fa-plus" style="font-size: 16px;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-right" ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'">
              <button type="button" class="btn btn-xs btn-danger" ng-click="deleteRelationship(relationship)">
                <i class="fa fa-trash-o fa-fw"></i>
              </button>
            </div>
            <div class="media-body">
              <h5 style="line-height: 24px; font-weight: normal; margin-bottom: 0;">
                <div ng-if="relationship.source=='interview'">
                  <a ng-if="isArchitectFromInterview(relationship.interview)==true"
                    ng-href="#/architect/interview/{{relationship.interview}}?architectId={{getArchitectIdofInterviews(relationship.interview)}}&time={{relationship.utterance}}">
                    {{ relationship.subjectlabel }} {{ relationship.relationship }} {{ relationship.objectlabel }} </a> <a
                    ng-if="isArchitectFromInterview(relationship.interview)==false"
                    ng-href="#/other/interview/{{relationship.interview}}?otherId={{getArchitectIdofInterviews(relationship.interview)}}&time={{relationship.utterance}}">
                    {{ relationship.subjectlabel }} {{ relationship.relationship }} {{ relationship.objectlabel }} </a>
                </div>
                <div ng-if="relationship.source=='structure'">
                  <a ui-sref="structure.summary({ structureId: relationship.object })"> {{ relationship.subjectlabel }} {{
                    relationship.relationship }} {{ relationship.objectlabel }} </a>
                </div>
                <div ng-if="!(relationship.source=='structure')&&!(relationship.source=='interview')">
                  <a ng-if="relationship.subjecttype=='person'&&relationship.subjectarchitect==true"
                    ui-sref="architect.summary({ architectId: (relationship.subject) })"> {{ relationship.subjectlabel }} {{
                    relationship.relationship }} {{ relationship.objectlabel }} </a> <a
                    ng-if="relationship.subjecttype=='person'&&relationship.subjectarchitect==false"
                    ui-sref="other.summary({ otherId: (relationship.subject) })"> {{ relationship.subjectlabel }} {{ relationship.relationship }}
                    {{ relationship.objectlabel }} </a> <a ng-if="relationship.subjecttype=='firm'"
                    ui-sref="firm.summary({ firmId: relationship.subject })"> {{ relationship.subjectlabel }} {{ relationship.relationship }} {{
                    relationship.objectlabel }} </a> <a ng-if="relationship.subjecttype=='structure'"
                    ui-sref="structure.summary({ structureId: relationship.subject })"> {{ relationship.subjectlabel }} {{
                    relationship.relationship }} {{ relationship.objectlabel }} </a> <a ng-if="relationship.subjecttype=='interview'"
                    ng-href="#/architect/interview/{{relationship.subject}}?architectId={{relationship.object}}&time={{relationship.utterance}}">
                    {{ relationship.subjectlabel }} {{ relationship.relationship }} {{ relationship.objectlabel }} </a>
                </div>
              </h5>
              <!-- Date -->
              <div style="color: black;">
                {{ relationship.fromyear }} <span ng-show="relationship.fromyear && relationship.untilyear"> - </span> {{ relationship.untilyear }}
              </div>
              <div style="color: black; font-size: 14px;">{{ relationship.note }}</div>
            </div>
          </div>
        </li>
      </ul>
      <!-- /Selected relationships -->
    </div>
    <div class="container" style="position: relative;">
      <div></div>
      <div style="text-align: center; margin-bottom: 16px;" ng-show="selected && selected.id !== subject.id" class="text-muted">Double click
        circle to center.</div>
    </div>
  </div>
  <div class="l-frame l-frame-tight l-frame-divided">
    <div class="container">
      <h3>Legend</h3>
      <ul class="list-unstyled">
        <li><div style="display: inline-block; height: 20px; width: 20px; background-color: #0FACA1; margin-right: 8px;"></div> Architect
          (Practiced in Queensland)</li>
        <li><div style="display: inline-block; height: 20px; width: 20px; background-color: #E42962; margin-right: 8px;"></div> Architect (Other)</li>
        <li><div style="display: inline-block; height: 20px; width: 20px; background-color: #2153B7; margin-right: 8px;"></div> Project</li>
        <li><div style="display: inline-block; height: 20px; width: 20px; background-color: #26D813; margin-right: 8px;"></div> Firm</li>
        <li><div style="display: inline-block; height: 20px; width: 20px; background-color: #ccc; margin-right: 8px;"></div> Other</li>
      </ul>
    </div>
  </div>
</div>