<div class="row">
  <div class="col-lg-12">
    <form ng-submit="search(query)">
      <div class="input-group">
        <span class="input-group-addon"> <label> <input type="radio" ng-model="$parent.searchType" value="entities" ng-change="isShowingTranscript = true"> Entities
        </label> <label> <input type="radio" ng-model="$parent.searchType" value="articles" ng-change="isShowingTranscript = false"> Articles
        </label>
        </span> <input type="text" class="form-control" ng-model="query"> <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
      <!-- /input-group -->
    </form>
  </div>
  <!-- /.col-lg-6 -->
</div>
<!-- /.row -->