<div class="content">
    <div class="page-header">
        <div class="container">
            <small style="text-transform: capitalize"><a ng-href="#/{{ structure.type }}s">{{ structure.type }}s »</a></small>
            <h1>{{ structure.name }}</h1>
            <a class="btn btn-sm btn-info" ng-href="#/explore?uri={{ structure.encodedUri}}">Explore {{ structure.name }}</a>
        </div>
    </div>

    <div class="container" style="margin-top: 24px;">
        <tabset type="'tabs'" vertical="false">
            <tab heading="Details">
                <section>
                    <div class="row">
                        <div class="col-sm-7">
                            <h5>Summary</h5>
                            <p style="white-space:pre-wrap;" ng-bind-html="structure[Uris.QA_SUMMARY]"></p>
                            <p ng-show="!structure[Uris.QA_SUMMARY].length">No biography.</p>

                            <h5>Location</h5>
                            <p>{{ structure[Uris.QA_LOCATION] }} </p>
                            <p ng-show="!structure[Uris.QA_LOCATION]">No location.</p>

                            <h5>Typology</h5>
                            <ul>
                                <li ng-repeat="buildingTypology in structure.buildingTypologies">
                                    <a href="#/building-typology/{{ buildingTypology.encodedUri }}">{{ buildingTypology.name }}</a>
                                </li>
                            </ul>
                            <p ng-show="!structure.buildingTypologies.length">
                                No building typology.
                            </p>

                            <h5>Associated Firm</h5>
                            <p>
                                <a href="#/firm/{{ structure.firm.encodedUri }}">{{ structure.firm.name }}</a>
                            </p>

                            <h5>Designers</h5>
                            <div ng-show="!designers.length">
                                No architects are currently associated with {{ structure.name }}.
                            </div>

                            <ul class="media-list">
                                <li class="media" ng-repeat="designer in designers">
                                    <a class="pull-left" href="#/{{ designer.type }}/{{ designer.encodedUri }}">
                                        <img class="media-object img-responsive img-circle" ng-if="!designer.picture" ng-src="images/icon.png" style="display:block; width:32px">
                                        <img class="media-object img-responsive img-circle" ng-if="designer.picture" ng-src="{{ Uris.FILE_ROOT + designer.picture[Uris.QA_SYSTEM_LOCATION] }}" alt="{{ designer.name }}" style="width:32px">
                                    </a>
                                    <div class="media-body">
                                        <a ng-href="#/{{ designer.type }}/{{ designer.encodedUri }}">
                                            {{ designer.name }}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-5">
                            <img ng-if="structure.picture" class="img-responsive" ng-src="{{ Uris.FILE_ROOT + structure.picture[Uris.QA_SYSTEM_LOCATION] }}" alt=""/>
                            <img ng-if="!structure.picture" ng-src="images/icon.png" style="display:block; width:100%">
                        </div>

                    </div>
                </section>
            </tab>
            <tab heading="Map" select="refreshMap()" ng-show="structure[Uris.GEO_LONG]">
                <section>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>{{ structure[Uris.QA_LOCATION] }} </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div ui-map="$parent.myMap" class="map-canvas map"
                                 ui-event="mapEvents"
                                 ui-options="mapOptions">
                            </div>
                        </div>
                    </div>
                </section>

            </tab>

            <tab heading="Photographs">
                <section>
                    <div class="container">
                        <!--<div class="row">-->
                        <!--<div class="col-lg-12">-->
                        <!--<h2>Photographs</h2>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="row" ng-repeat="photographRow in photographRows">
                            <div class="col-sm-2" ng-repeat="photograph in photographRow">
                                <div ng-include="'views/thumbs/photograph.html'"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </tab>
        </tabset>
    </div>
</div>