<style>
.legend {
	font: 10px/12px Arial, Helvetica, sans-serif;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 6px 8px;
	width: 180px;
	line-height: 18px;
	color: #555;
}

.outline {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.legend i {
	border-style: ridge;
	border-width: 3px;
}
</style>
<div class="page-header has-subnav">
  <div class="container">
    <h1>Projects</h1>
  </div>
</div>
<div class="subnav" style="margin-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li ui-sref-active="active"><a ui-sref="structures.australian">Australian</a></li>
          <li ui-sref-active="active"><a ui-sref="structures.other">Other</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-warning" ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'" style="margin: 0;">
  <div class="container">
    <button class="btn btn-default btn-xs" ui-sref="structure.summary.edit({structureId:null})"
      ng-show="Auth.user.role === 'editor' || Auth.user.role === 'admin'">
      <i class="fa fa-plus"></i> New Project
    </button>
  </div>
</div>
<div class="l-frame l-frame-media l-frame-tighter">
  <div class="container">
    <div class="chart-index" style="text-align: center;">
      <button class="btn btn-dark" style="margin-right: 1px;" ng-click="goToIndex(null)" ng-class="{'btn-primary': $stateParams.index == null}">All</button>
      <button style="margin-right: 1px;" ng-repeat="(index, exists) in indexes" class="btn"
        ng-class="{'btn-primary': $stateParams.index === index, 'btn-dark': $stateParams.index !== index}" ng-disabled="!exists"
        ng-click="goToIndex(index)">{{ index }}</button>
    </div>
    <div id="chart"></div>
  </div>
</div>
<div class="l-frame l-frame-media" style="padding-top: 0px">
  <div class="container">
    <leaflet width="100%" height="400px"></leaflet>
  </div>
</div>
<div class="l-frame">
  <div class="container">
    <div infinite-scroll="addMoreStructureRows()">
      <div class="row" ng-repeat="structureRow in structureRows | limitTo:structureRowDisplayCount">
        <div class="col-sm-2" ng-repeat="structure in structureRow">
          <div ng-include="'views/thumbs/structure.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>