<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>Change Password</h1>
    </div>
  </div>
  <div class="alert alert-info" style="margin-bottom: 8px;">
    <div class="container">
      <i class="fa fa-info-circle"></i> Change password for your login.
    </div>
  </div>
  <div class="l-frame l-frame-divided">
    <div class="container">
      <form name="form" ng-submit="update()" novalidate>
        <div class="form-group">
          <label>New Password</label> <input type="password" required placeholder="New password" class="form-control" ng-model="user.password">
        </div>
        <div class="form-group has-feedback">
          <label>Confirm New Password</label> <input name="uConfirmPassword" type="password" required placeholder="New password" class="form-control"
            ng-model="user.confirmPassword" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' "> <span
            class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.uConfirmPassword.$valid"></span>
          <div ng-show="form.uConfirmPassword.$invalid">
            <div ng-show="user.confirmPassword.length && form.uConfirmPassword.$error.validator">Your passwords don't match.</div>
          </div>
        </div>
        <button class="btn btn-primary" ng-disabled="form.$invalid">Change Password</button>
      </form>
    </div>
  </div>
</div>