<div>
  <div class="alert alert-warning" style="margin: 0;">
    <div class="container">
      <button class="btn btn-default btn-xs" ui-sref="upload.interviews">
        <i class="fa fa-cloud-upload"></i> Upload Interview
      </button>
    </div>
  </div>
  <div class="l-frame">
    <div class="container">
      <ul>
        <li ng-repeat="mediainterview in mediainterviews"><a href="#/interview/{{ mediainterview.depicts.id }}">{{ mediainterview.label }}
            ({{ mediainterview.type }})</a></li>
      </ul>
    </div>
  </div>
</div>