<div>
  <div class="alert alert-warning" style="margin: 0;">
    <div class="container">
      <button class="btn btn-default btn-xs" ui-sref="upload.images({uri: null, name: null })">
        <i class="fa fa-cloud-upload"></i> Upload Images
      </button>
    </div>
  </div>
  <div class="l-frame">
    <div class="container">
      <div ng-repeat="photographRow in photographRows" class="row">
        <div class="col-md-2" ng-repeat="photograph in photographRow">
          <div ng-include="'views/thumb.image.html'" ng-init="image = photograph"></div>
        </div>
      </div>
    </div>
  </div>
</div>