<div>
  <div class="alert alert-warning" style="margin: 0;">
    <div class="container">
      <button class="btn btn-default btn-xs" ui-sref="upload.documents">
        <i class="fa fa-cloud-upload"></i> Upload Documents
      </button>
    </div>
  </div>
  <div class="l-frame">
    <div class="container">
      <ul>
        <li ng-repeat="mediadocument in mediadocuments"><a href="#/article?articleId={{ mediadocument.id }}">{{ mediadocument.label }}</a></li>
      </ul>
    </div>
  </div>
</div>