<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>My Files</h1>
    </div>
  </div>
  <div class="subnav" style="margin-bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li ui-sref-active="active"><a ui-sref="user.files.images">Images</a></li>
            <li ui-sref-active="active"><a ui-sref="user.files.videos">Videos</a></li>
            <li ui-sref-active="active"><a ui-sref="user.files.documents">Articles</a></li>
            <li ui-sref-active="active"><a ui-sref="user.files.interviews">Interviews</a></li>
            <li ui-sref-active="active"><a ui-sref="user.files.builds">Builds</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ui-view></ui-view>
</div>